
<ion-content>

		<div>
			<!-- <div *ngIf="avatar=='true'">
				<img class="pro-imgs"[src]="imageUrl+myProfile.avatar"  
	    		[hidden]="!myProfile.avatar" >
			</div> -->
			<div *ngIf = "name=='true'">
				<i class="fa fa-user" aria-hidden="true"></i>{{myProfile.name}}
			</div> 
			<div *ngIf="birthday=='true'">
				<i class="fa fa-birthday-cake" aria-hidden="true"></i>{{myProfile.birthday}}
			</div>
			<div  *ngIf="email=='true'">
				<i class="fa fa-envelope" aria-hidden="true"></i>{{myProfile.email}}
			</div>
			<div *ngIf = "location=='true'">
				<i class="fa fa-map-marker" aria-hidden="true"></i>{{myProfile.location}}
			</div>
			<div *ngIf = "mobile=='true'">
				<i class="fa fa-map-marker" aria-hidden="true"></i>{{myProfile.mobile}}
			</div>
			
		</div>
</ion-content>