page-login{
	

.item-md												 {padding-left:0px !important;}	
.item-ios												 {padding-left:0px !important;}	
.register-log											 {background-image: url('../assets/img/ddd.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
.elder-logo												 {text-align:center; margin-top:30px; margin-bottom:10px;}


}