page-share-blog {
.sel-label{border:1px solid #a8aaad;
    border-radius:20px; margin-right:5px !important;}
    .sel-labelcol{border:1px solid #a8aaad;
        border-radius:20px; margin-right:5px !important;}
}
