page-forgot-password {
.forgot-pa{ padding:5px; box-shadow:none;}
.forgot-pa p{ font-family: 'Muli', sans-serif; font-size:15px; font-weight:400; padding:10px 0px 0px 20px;}
.text-input-md {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    font-family: "Open Sans Condensed",sans-serif;
    padding: 10px;
}
.logoin-btn{  font-size: 16px;
    font-weight:600; color:#fff;
    font-family: 'Muli', sans-serif;background: rgba(0, 0, 0, 0) linear-gradient(45deg, #fe5722 0%, #fe5722 30%, #ff906b 50%, #fe5722 71%, #fe5722 100%) repeat scroll 0 0;width:95%;height:40px; border-radius:20px; margin-left:10px;}
.item-md.item-block .item-inner{padding-right:0px;}
.login-pages											{background-image: url('../assets/img/forgot.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
}
