<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>forgot-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="modalType =='forgotPassword'">
		<ion-label stacked>Enter Your Email-ID..</ion-label>
	    <ion-input type="text" [(ngModel)]="mailId"></ion-input>
	  
	</div>

	<div *ngIf="modalType =='passwordReset'">
		<ion-label stacked>Password ResetCode</ion-label>
	    <ion-input type="text" [(ngModel)]="resetCode"></ion-input>

		<ion-label stacked>New Password</ion-label>
	    <ion-input type="text" [(ngModel)]="newPassword"></ion-input>

		<ion-label stacked>Confirm Password</ion-label>
	    <ion-input type="text" [(ngModel)]="reEnterPassword"></ion-input>
	</div>  
	  	<ion-row>
	         <ion-col><button ion-button item-left small (click)="dismiss()">Cancel</button></ion-col>
	         <ion-col offset-33><button ion-button item-right small (click)="submit()">Submit</button></ion-col>
	    </ion-row>
	

</ion-content>
