<ion-header>
  <ion-navbar color="primary">
  <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title text-center>Package Request</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="PackageRequest">
  <ion-card class="job-detailsview">
    <ion-grid class="package-needs">
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-person" md="md-person"></ion-icon>Elder Name</b>
          <p>{{packageData?.name}} {{packageData?.last_name}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>Email</b>
          <p>{{packageData?.elder_email}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-call" md="md-call"></ion-icon>Mobile number</b>
          <p>{{packageData?.elder_mobile}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>Location </b>
          <p>{{packageData?.location}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-basket" md="md-basket"></ion-icon>Package Name</b>
          <p>{{packageData?.package_name}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-cash" md="md-cash"></ion-icon>Package Cost</b>
          <p>
            <i class="fa fa-inr" aria-hidden="true"></i>{{packageData?.package_amount | number : '1.2-2'}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-cash" md="md-cash"></ion-icon>Paid Amount</b>
          <p>
            <i class="fa fa-inr" aria-hidden="true"></i>{{packageData?.paid_amount | number : '1.2-2'}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="statusBar" col-12>
          <b class="statusTitle">
            <ion-icon ios="ios-analytics" md="md-analytics"></ion-icon>Package Status</b>
          <span class="statusColor">
            <ion-badge *ngIf="packageData?.req_status == 0" class="pending">Pending</ion-badge>
            <ion-badge *ngIf="packageData?.req_status == 1" class="active">Active</ion-badge>
            <ion-badge *ngIf="packageData?.req_status == 2" class="reject">Rejected</ion-badge>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>Package validity</b>
          <p>{{packageData?.package_validity}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>Payment date</b>
          <p>{{createt_at}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>Expiry date</b>
          <p>{{expired_date}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="statusBar" col-12>
          <b class="statusTitle">
            <ion-icon ios="ios-help-buoy" md="md-help-buoy"></ion-icon>Payment Status</b>
          <span class="statusColor">
            <ion-badge *ngIf="packageData?.paumenry_payment_status=='captured'" class="active">Paid</ion-badge>
          </span>
        </ion-col>
      </ion-row>
       <ion-row *ngIf="packageData?.coupon_offer">
        <ion-col col-12>
          <b>
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>Coupon Discount</b>
          <p><i class="fa fa-inr" aria-hidden="true"></i>{{packageData?.coupon_offer | number : '1.2-2'}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>