<!--
  Generated template for the ViewpackagePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="primary">
<ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
         <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
<ion-buttons center>
    <ion-title text-center>
      Package Request Detail
    </ion-title>
 </ion-buttons>  
  </ion-navbar>
</ion-header>


<ion-content class="login-pages">
<ion-card class="liste-view">
<ion-item>
<ion-row>
  <ion-col>
  	<b>Elder Name</b>
	<p>{{packageData?.name}} {{packageData?.last_name}}</p>
	<b>Email</b>
	<p>{{packageData?.elder_email}}</p>
	<b>Mobile number</b>
	<p>{{packageData?.elder_mobile}}</p>
	<b>Location </b>
	<p>{{packageData?.location}}</p>
	<b>Package Name</b>
	<p>{{packageData?.package_name}}</p>
	<b>Amount</b>
	<p><i class="fa fa-inr" aria-hidden="true"></i>{{packageData?.package_amount}}</p>
	<b>Package Status</b>
	<p *ngIf="packageData?.req_status == 0" class="pen"> Pending</p>
  <p *ngIf="packageData?.req_status == 1" class="act"> Active</p>
   <p *ngIf="packageData?.req_status == 2" class="rej"> Rejected</p>
   <b>Package validity</b>
   <p>{{packageData?.package_validity}}</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
  <b>Payment date</b>
  <p>{{packageData?.createt_at}}</p>
  <b>Payment Status</b>
  <p *ngIf="packageData?.paumenry_payment_status=='captured'">Paid</p>
  </ion-col>

</ion-row>




</ion-item>
</ion-card>
</ion-content>
