page-modal-page {
.popup-mds .scroll-content form .select-brds {width:100%;text-align:left;margin-right:11px !important;}

.text-input-ios[_ngcontent-kdy-81]{margin-left:14px !important;}
.label-ios[_ngcontent-jnr-81] + ion-input[_ngcontent-jnr-81] .text-input[_ngcontent-jnr-81], .label-ios[_ngcontent-jnr-81] + ion-textarea[_ngcontent-jnr-81] .text-input[_ngcontent-jnr-81], .label-ios[_ngcontent-jnr-81] + .input[_ngcontent-jnr-81] + .cloned-input[_ngcontent-jnr-81]{margin-left:none !important;}
.popup-mds .text-input-ios {margin-bottom:10px!important;margin-top:0;width:92% !important; margin-left:14px !important;}
}
