page-modal-page {
.popup-mds .scroll-content form .select-brds 										{width:100%;text-align:left;margin-right:11px !important;}
.text-input-ios[_ngcontent-kdy-81]													{margin-left:14px !important;}
.label-ios[_ngcontent-jnr-81] + ion-input[_ngcontent-jnr-81] .text-input[_ngcontent-jnr-81], .label-ios[_ngcontent-jnr-81] + ion-textarea[_ngcontent-jnr-81] .text-input[_ngcontent-jnr-81], .label-ios[_ngcontent-jnr-81] + .input[_ngcontent-jnr-81] + .cloned-input[_ngcontent-jnr-81]{margin-left:none !important;}
.popup-mds .text-input-ios 															{margin-bottom:10px!important;margin-top:0;width:92% !important; margin-left:14px !important;}
.popup-mds																			{padding:10px;}
.popup-mds .label-md																{color:#333;margin:0px;float:left;font-size:19px;font-weight:400;font-family: 'Muli', sans-serif; padding-bottom:12px;letter-spacing:0.5px; padding-top:8px;}
.popup-mds .item-md 																{border:1px solid #ccc;margin-top:5px;padding-left:3px;}
.err-reds::before																	{top:-12px;}
.popup-mds .item-ios 																{border:1px solid #ccc; margin-top:5px;padding-left:3px;}
.err-reds 																			{animation-duration: 5s; animation-fill-mode: both; background:hsl(353, 100%, 93%) none repeat scroll 0 0; color: hsl(0, 100%, 50%) !important;float:right;font-family: "Muli",sans-serif;font-size:11px !important;
																					 font-weight: 600 !important;margin-right:1px !important;margin-top:8px !important;padding-left:3px;padding-right:3px;position:relative;}
.popup-mds .label-md p																{font-size:18px !important;font-weight:400;font-family: 'Muli', sans-serif;}
.popup-mds .label-ios																{color:#777; margin:0px;float:left;font-size:19px;font-weight:400;font-family: 'Muli', sans-serif; padding-bottom:8px; padding-top:8px;}
#lbl-71																				{padding-left:5px;}
.one-timereq.item-md																{border:none !important;}
.one-timereq.item-ios																{border:none !important;}
.prefe																				{padding-left:5px !important;}
.terms-con .item-inner .input-wrapper .label-md										{letter-spacing:0.5px;font-size:23px !important;font-weight:400;font-family: 'Muli', sans-serif;color:hsl(191, 100%, 29%) !important;}
.terms-con .item-inner .input-wrapper .label-ios{    font-size:19px !important;
    font-weight:600;    font-family: 'Muli', sans-serif;color:hsl(191, 100%, 29%) !important;}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{border-bottom-color:none;box-shadow:none;}
.item-md.item-input.input-has-focus .item-inner{border-bottom-color:none;box-shadow:none;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{border-bottom-color:none;box-shadow:none;}
.modal-wrapper{background:#fff;}
}
