<div class="ion-modal modal-popups">
<ion-header>
  <ion-toolbar class="hei-head">
    <ion-title color="primary" class="tittles-md">
      Request Services
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="popup-mds" style=" background:#fff;">
  <form [formGroup]="modalForm">
          
          
			<ion-label stacked class="label-lb">Describe The Problem</ion-label>
          <ion-input type="text" formControlName="problem" ></ion-input>
		  <ion-item *ngIf="!modalForm.controls.problem.valid  && (modalForm.controls.problem.dirty || submitAttempt)">
                <p class="err-reds">This field is required</p>
            </ion-item>
     
          
          
           <ion-label stacked class="label-lb" style="padding-bottom:10px;">Date</ion-label>
		   <ion-item>
           <ion-datetime class="select-brd" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName ="date"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="!modalForm.controls.date.valid  && (modalForm.controls.date.touched || submitAttempt)">
                <p class="err-reds">This field is required</p>
            </ion-item>
		

          
            <ion-label stacked class="label-lb" style="padding-bottom:10px;">Time</ion-label>
			<ion-item>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm:A" formControlName ="time" class="select-brd"></ion-datetime>
          </ion-item>
		  <ion-item *ngIf="!modalForm.controls.time.valid  && (modalForm.controls.time.dirty || submitAttempt)">
                <p class="err-reds">This field is required</p>
          </ion-item>
		

		  <ion-label stacked class="label-lb">Alternate Contact Number</ion-label>

          <ion-input type="text" formControlName="contact"></ion-input>
		    <ion-item *ngIf="!modalForm.controls.contact.valid  && (modalForm.controls.contact.dirty || submitAttempt)">
                <p class="err-reds">This field is required</p>
            </ion-item>
		
          
		     <ion-label *ngIf = "userType =='sponsor'" stacked class="label-lb" style=" margin-bottom:10px; padding-bottom:10px;">Select Dependent</ion-label>
			 <ion-item *ngIf = "userType =='sponsor'">
              <ion-select formControlName="dependents" class="select-brd">
              <ion-option *ngFor = "let dependent of dependentLists" value={{dependent.id}}>{{dependent.name}}
              </ion-option>
            </ion-select>
          </ion-item>
		  <ion-item *ngIf="!modalForm.controls.dependents.valid  && (modalForm.controls.dependents.dirty || submitAttempt)">
                <p class="err-reds">This field is required</p>
            </ion-item>
          <ion-row>
          <ion-col><button ion-button item-left small (click)="dismiss()" class="btn-defaults">close</button></ion-col>
          <ion-col offset-33><button ion-button item-right small (click)="submit()" class="btn-primarys">Submit</button></ion-col>
          </ion-row>
        <!-- </form> -->
      <!-- </div> -->
      </form>

</ion-content>
</div>
<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}
ion-select{ width:100% !important;}
</style>