
<ion-header>
  <ion-toolbar class="hei-head" color="primary">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      {{vendor}} - Avail Services
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="popup-mds">
  <form [formGroup]="modalForm">

  
        <ion-label stacked class="label-lb">Describe the need</ion-label>
		<ion-item>
          <ion-input type="text" formControlName="problem" ></ion-input>
         </ion-item>     
        <ion-label stacked class="label-lb">Alternate contact number</ion-label>
     <ion-item>
          <ion-input type="number" formControlName="contact" placeholder="Alternate number" maxlength="12"></ion-input>
      </ion-item>
       <p class="err-reds" *ngIf="!modalForm.controls.contact.valid  && (modalForm.controls.contact.touched || submitAttempt)">Please Enter the valid number
         </p>
        <form [formGroup]="authForm">
       
         <ion-label *ngIf = "userType =='sponsor'" stacked class="label-lb required">Select dependent
         </ion-label>

            <ion-item *ngIf = "userType =='sponsor'" class="select-brds">
              <ion-label>Select dependent</ion-label>
              <ion-select formControlName="dependents"  placeholder="Select dependent" (ionChange)="packageinfo()" >
              <ion-option *ngFor = "let dependent of dependentLists" value={{dependent.id}}>{{dependent.name}} {{dependent.last_name}}
              </ion-option>
            </ion-select>
			<br/>
              </ion-item>
                 <small *ngIf="!authForm.controls.dependents.valid  && (authForm.controls.dependents.dirty || submitAttempt)"><p *ngIf = "userType =='sponsor'" class="err-reds">Please select the dependents</p></small>

      </form>
      <!-- <ion-item >
        -->

            <ion-item *ngIf="flag ==1" class="one-timereq">
              <ion-label>Select Package</ion-label>
              <!-- <ion-label>Select Package</ion-label> -->
              <ion-select class="select-brds" placeholder="Select Package">
              <ion-option *ngFor = "let package of packageLists" value={{package.package_validity.package_info}}>{{package.package_validity.package_info}}
              </ion-option>
            </ion-select>
              </ion-item>
              <!-- </ion-item> -->
             <!--  <ion-item>
              <ion-label>Service Cost: <i class="fa fa-rupee"></i>{{servicecost}}
              </ion-label>

              </ion-item> -->
          <ion-list radio-group>
                <ion-label>Service Type</ion-label>
                 <ion-item *ngIf="onetimetype == 1">
                    <ion-label>One time</ion-label>
                    <ion-radio value="goe" (click)="onetime(searchButton)"></ion-radio>
                  </ion-item>
                  <ion-item *ngIf="recurringType == 1">
                    <ion-label>Recurring</ion-label>
                      <ion-radio value="go" (click)="recurringtime(recurring)">
                      </ion-radio>
                  </ion-item>
            </ion-list>
      <!-- <p>------------------------One Time----------------------------</p> -->

       <div *ngIf(searchButton)>
           <ion-label stacked class="label-lb required">Preferred date</ion-label>
     
		    <ion-item>
           <ion-datetime class="select-brd" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" placeholder="Scheduled date" [(ngModel)]="date" formControlName ="date"></ion-datetime>
        </ion-item>
		
         <p class="err-reds shake" *ngIf="!modalForm.controls.date.valid  && (modalForm.controls.date.touched || submitAttempt)">Please select the preferred date
         </p>
       <ion-list>
	     <ion-label stacked class="label-lb required">Preferred Time</ion-label>
            <ion-item>
              <ion-label class="prefe">Preferred Time</ion-label>
              <ion-select formControlName ="time" class="select-brds">
                <ion-option value="12.00 AM - 01.00 AM">12.00 AM - 01.00 AM</ion-option>
                <ion-option value="01.00 AM - 02.00 AM">01.00 AM - 02.00 AM</ion-option>
                <ion-option value="02.00 AM - 03.00 AM">02.00 AM - 03.00 AM</ion-option>
                <ion-option value="03.00 AM - 04.00 AM">03.00 AM - 04.00 AM</ion-option>
                <ion-option value="04.00 AM - 05.00 AM">04.00 AM - 05.00 AM</ion-option>
                <ion-option value="05.00 AM - 06.00 AM">05.00 AM - 06.00 AM</ion-option>
                <ion-option value="06.00 AM - 07.00 AM">06.00 AM - 07.00 AM</ion-option>
                <ion-option value="08.00 AM - 09.00 AM">08.00 AM - 09.00 AM</ion-option>
                <ion-option value="10.00 AM - 11.00 AM">10.00 AM - 11.00 AM</ion-option>
                <ion-option value="11.00 AM - 12.00 PM">11.00 AM - 12.00 PM</ion-option>
                <ion-option value="12.00 PM - 01.00 PM">12.00 PM - 01.00 PM</ion-option>
                <ion-option value="01.00 PM - 02.00 PM">01.00 PM - 02.00 PM</ion-option>
                <ion-option value="02.00 PM - 03.00 PM">02.00 PM - 03.00 PM</ion-option>
                <ion-option value="03.00 PM - 04.00 PM">03.00 PM - 04.00 PM</ion-option>
                <ion-option value="04.00 PM - 05.00 PM">04.00 PM - 05.00 PM</ion-option>
                <ion-option value="05.00 PM - 06.00 PM">05.00 PM - 06.00 PM</ion-option>
                <ion-option value="06.00 PM - 07.00 PM">06.00 PM - 07.00 PM</ion-option>
                <ion-option value="08.00 PM - 09.00 PM">08.00 PM - 09.00 PM</ion-option>
                <ion-option value="10.00 PM - 11.00 PM">10.00 PM - 11.00 PM</ion-option>
                <ion-option value="11.00 PM - 12.00 AM">11.00 PM - 12.00 AM</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
           <!--  <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm:A" placeholder="Scheduled time" formControlName ="time" class="select-brd"></ion-datetime>
            </ion-item> -->
		   <p class="err-reds shake" *ngIf="!modalForm.controls.time.valid  && (modalForm.controls.time.dirty || submitAttempt)">Please select the preferred time</p>
	
		</div>

  <!-- <p>--------------------------one time end----------------------------</p> -->

  <!-- <p>--------------------------recurring time start--------------------------</p> -->

    <div *ngIf(recurring)>
           <ion-label stacked class="label-lb required">Start date</ion-label> 
     
        <ion-item>
           <ion-datetime class="select-brd" [(ngModel)]="startDate" displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" placeholder="Start date" min={{this.date}} (ionChange)="fromDateChange()" formControlName ="startdate"></ion-datetime>
        </ion-item>
          <p class="err-reds shake" *ngIf="!modalForm.controls.startdate.valid  && (modalForm.controls.startdate.dirty || submitAttempt)">Please enter the start date</p>
            <ion-label stacked class="label-lb required">End date</ion-label>
     
        <ion-item>
           <ion-datetime class="select-brd" [(ngModel)]="endDate" displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" placeholder="End date" min={{this.date}} (ionChange)="calculateDays(startDate,endDate)" formControlName ="enddate"></ion-datetime>
        </ion-item>
          <p class="err-reds shake" *ngIf="!modalForm.controls.enddate.valid  && (modalForm.controls.enddate.dirty || submitAttempt)">Please enter the end date</p>
      
           <ion-label>Number of days</ion-label>    
		   <ion-item>
      <p>{{datCount}} Frequency</p>
	     </ion-item><br/>
      <ion-list radio-group>
       <ion-item>
        <ion-label>Fixed hours</ion-label>
        <ion-radio value="fixedhours" (click)="fixed(fixedd)"></ion-radio>
      </ion-item>
	  <br/>
       <ion-item>
        <ion-label>Full Day</ion-label>
        <ion-radio value="fullday" (click)="fullday(fulldays)"></ion-radio>
      </ion-item>
	  <br/>
      <ion-item>
        <ion-label>Time slot</ion-label>
        <ion-radio value="timeslot" (click)="timeslot(timeslots)"></ion-radio>
      </ion-item>
	  <br/>
</ion-list>
   <div *ngIf(fixedd)>
           <ion-label stacked class="label-lb required">From time</ion-label>
     
        <ion-item>
            <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm:A" placeholder="Scheduled time" class="select-brd" formControlName ="fromtime"></ion-datetime>
        </ion-item>
         <p class="err-reds shake" *ngIf="!modalForm.controls.fromtime.valid  && (modalForm.controls.fromtime.dirty || submitAttempt)">Please enter the fromtime</p>
            <ion-label stacked class="label-lb required">To time</ion-label>
     
        <ion-item>
           <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm:A" placeholder="Scheduled time" class="select-brd" formControlName ="totime"></ion-datetime>
        </ion-item>
         <p class="err-reds shake" *ngIf="!modalForm.controls.totime.valid  && (modalForm.controls.totime.dirty || submitAttempt)">Please enter the totime</p>
        </div>
         <div *ngIf(timeslots)>
         <ion-list>
		  <ion-label>Preferred Time</ion-label>
            <ion-item>
              <ion-label stacked class="label-lb required">Preferred Time</ion-label>
              <ion-select formControlName ="preferredtime" class="select-brds">
                <ion-option value="12.00 AM - 01.00 AM">12.00 AM - 01.00 AM</ion-option>
                <ion-option value="01.00 AM - 02.00 AM">01.00 AM - 02.00 AM</ion-option>
                <ion-option value="02.00 AM - 03.00 AM">02.00 AM - 03.00 AM</ion-option>
                <ion-option value="03.00 AM - 04.00 AM">03.00 AM - 04.00 AM</ion-option>
                <ion-option value="04.00 AM - 05.00 AM">04.00 AM - 05.00 AM</ion-option>
                <ion-option value="05.00 AM - 06.00 AM">05.00 AM - 06.00 AM</ion-option>
                <ion-option value="06.00 AM - 07.00 AM">06.00 AM - 07.00 AM</ion-option>
                <ion-option value="08.00 AM - 09.00 AM">08.00 AM - 09.00 AM</ion-option>
                <ion-option value="10.00 AM - 11.00 AM">10.00 AM - 11.00 AM</ion-option>
                <ion-option value="11.00 AM - 12.00 PM">11.00 AM - 12.00 PM</ion-option>
                <ion-option value="12.00 PM - 01.00 PM">12.00 PM - 01.00 PM</ion-option>
                <ion-option value="01.00 PM - 02.00 PM">01.00 PM - 02.00 PM</ion-option>
                <ion-option value="02.00 PM - 03.00 PM">02.00 PM - 03.00 PM</ion-option>
                <ion-option value="03.00 PM - 04.00 PM">03.00 PM - 04.00 PM</ion-option>
                <ion-option value="04.00 PM - 05.00 PM">04.00 PM - 05.00 PM</ion-option>
                <ion-option value="05.00 PM - 06.00 PM">05.00 PM - 06.00 PM</ion-option>
                <ion-option value="06.00 PM - 07.00 PM">06.00 PM - 07.00 PM</ion-option>
                <ion-option value="08.00 PM - 09.00 PM">08.00 PM - 09.00 PM</ion-option>
                <ion-option value="10.00 PM - 11.00 PM">10.00 PM - 11.00 PM</ion-option>
                <ion-option value="11.00 PM - 12.00 AM">11.00 PM - 12.00 AM</ion-option>
              </ion-select>
            </ion-item>
             <p class="err-reds shake" *ngIf="!modalForm.controls.preferredtime.valid  && (modalForm.controls.preferredtime.dirty || submitAttempt)">Please enter the preferredtime</p>
          </ion-list>

        </div>
        <ion-item>
        <ion-label>Deselect specific date</ion-label>
        <ion-select multiple [(ngModel)]="mySelect" [ngModelOptions]="{standalone: true}" (ionChange)="exclude(mySelect)" class="one-timereq">
          <ion-option [value] = "0" >Sunday</ion-option>
          <ion-option [value] = "1" >Monday</ion-option>
          <ion-option [value] = "2" >Tuesday</ion-option>
          <ion-option [value] = "3" >Wednesday</ion-option>
          <ion-option [value] = "4" >Thursday</ion-option>
          <ion-option [value] = "5" >Friday</ion-option>
          <ion-option [value] = "6" >Saturday</ion-option>
        </ion-select>
      </ion-item>
 
    </div>    

    	</form>
             <ion-item class="check-bx" class="one-timereq">
             <ion-checkbox [(ngModel)]="terms" (ionChange)="termsChanged()"></ion-checkbox>	
             <ion-label (click)="openTerms()" style="margin:0px;">I agree to</ion-label>			  
            </ion-item>
			 <ion-item class="terms-con one-timereq">
			<ion-col><i class="fa fa-file-text" aria-hidden="true"></i> &nbsp;<small style="text-decoration:underline;" class="required" (click)="openTerms()"s>terms and conditions </small></ion-col>
		 </ion-item>
            <small *ngIf="checkTerms">
                <p class="err-reds shake">Kindly agree to the terms and conditions</p>
            </small>
</ion-card>

          
</ion-content>

<ion-footer>
  <ion-toolbar color="primary"> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
   <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back</button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
     <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back</button>
    </ion-buttons>
    <ion-buttons end *ngIf="seviceCheck == 0">
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="next()">&nbsp;Next
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="next()">&nbsp;Next
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="seviceCheck == 1">
      <button *ngIf="seviceCheck == 1" ion-button color="royal" large icon-right showWhen="ios" (click)="submit()">&nbsp;Submit
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button *ngIf="seviceCheck == 1" ion-button color="light" large icon-right hideWhen="ios" (click)="submit()">&nbsp;Submit
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}

 .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{ margin-left:8px !important;}
.text-input-ios{ width:95% !important;}
.mandatory{
  color: #ff0000 !important;
}
</style>