<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
	    <button ion-button icon-only (click)="dashboardPage()">
	        <ion-icon name="home"></ion-icon>
	    </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>{{communityDetailData?.community_name}}</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content style="background:#F3F7FF;">
	<div class="one-half-responsive" style="background:#fff;">
	   <p class="image-column-left">
			<img [src]="imageUrl+communityDetailData?.logo"  
				[hidden]="!communityDetailData?.logo">
            <strong class="wel-comemem">Welcome to {{communityDetailData?.community_name}}</strong>
			<em  style="" *ngIf(!show_description)>{{communityDetailData?.description | words : 50 : '...'}}</em>
        </p>
		<div class="decoration hide-if-responsive"></div>
	</div>
  	<div  *ngIf="userType == 'sponsor'" class="memberareas">
	  	<ion-item>
			<ion-row *ngIf="!communityDetailData?.isJoined">
		    	<ion-col>
		    		<div>
						<button ion-button  style=" float:right;"(click)="joinCommunity(communityDetailData?.id)" class="post">Join</button>
					</div>
				</ion-col>
			</ion-row>
			<ion-item class="mem-title">
      			<p> &nbsp;Members</p>
			</ion-item>
				<div *ngFor="let member of members; let i=index" text-wrap>
					<div *ngIf="i<= 2">
						<ion-item class="memb-list">
							<ion-col>
								<img (click)="membersProfile(member.uid)" 
								[src]="imageUrl+member?.avatar" [hidden]="!member?.avatar" width="100" height="52" />
								<small class="mem-name">{{member.name | words :1 : '....'}}</small>
							</ion-col>
						</ion-item>
					</div>
				</div>
				<div  *ngIf(viewMore) style="float:left;">
					<ion-badge (click)="showModel(members)" class="show-members">+{{show_member}} 
					</ion-badge>
				</div>
				<ion-item  *ngIf="!show_member">
					<p style=" color:red; font-size:15px; font-weight:400;">No Members Joined Yet</p>
				</ion-item>
		</ion-item>
	</div>

	<div *ngIf="communityDetailData?.isJoined" class="mem-name-update">
		<h2 class="wel-comemem">Update Status</h2>
			<div style="padding:0px !important;">
				<ion-textarea style="-webkit-user-select:all !important;" [(ngModel)]="post" type="text" placeholder="Whats in your mind?">
				</ion-textarea>
			</div>
			<div style="padding:0px !important;">
		    	<ion-row>
					<ion-col>
						<button ion-button (click)="accessGallery()" icon-only class="video">
							<i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;
						</button>
						<img [src]="base64Image" *ngIf="base64Image" />
							<button ion-button (click)="addVideos()" icon-only medium class="video">
							<i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;
						</button>
							<button ion-button icon-only medium (click)="postCommunity(communityDetailData?.id)" class="postedimgvideos">
								<i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp; Post
							</button>
					</ion-col>
				</ion-row> 
				<div *ngIf(addVideo) class="post-urls">
					<form [formGroup]="authForm">
						<ion-row>
							<ion-col>
								<ion-item>
									<ion-input type="url" placeholder="Enter Video Url..."  formControlName="videoUrl"
		            					[class.invalid]="!authForm.controls.videoUrl.valid && (authForm.controls.videoUrl.dirty )">
									</ion-input>
								</ion-item>
									<small style=" float:left;">( Youtube,Dailymotion,Vimeo,Wine)
									</small>
								<div *ngIf="!authForm.controls.videoUrl.valid  && (authForm.controls.videoUrl.dirty || submitAttempt)">
	                				<p style="color:red" class="valid">Please enter valid video url</p>
           						</div>
							</ion-col>
						</ion-row>
					</form>
				</div>
		   	</div>
	</div>
	
	<ion-list *ngFor="let user of users; let i=index">	
		<ion-card class="listed-comments">
 			<ion-item>
	      		<ion-row>
	      			<ion-col width-20>
	        			<ion-avatar item-left class="image-profile">
	          				<img [src]="imageUrl+user?.avatar" [hidden]="!user?.avatar" 
	          				(click)="communityProfiles(user.uid)"/>
	        			</ion-avatar>
	        		</ion-col>
	        		<ion-col width-60>
			          	<h2 (click)="communityProfile(user.uid)">{{user.name}}</h2>
			          		<p class="time-datem"><i class="fa fa-clock-o"></i>
			          		{{user.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' | amTimeAgo}}
			          		</p>
			        </ion-col>
					<ion-col width-20>
						<button *ngIf="user.uid == user_id" ion-button color="dark" clear 
						(click)="openMenu(user.id)">
		          			<i class="fa fa-angle-down"></i>
		          		</button>
	          		</ion-col>
				</ion-row>
	    	</ion-item>
			<div>
	      		<ion-card-content [hidden]="!user?.post_message">
		          	<p item-text-wrap class="feed-post" [innerHTML]="user.post_message">
		          	<a href=""></a>{{user.post_message}}</p>
		        </ion-card-content><br>
		        <ion-card-content [hidden]="!user?.post_image">
		          	<img  [src]="imageUrl+user?.post_image">
	       		</ion-card-content>
				<ion-card-content class="video-updates" [hidden]="!user?.post_video">
					<iframe [src]="cleanURL(user?.post_video)" frameborder="0">
	         		</iframe>
	         	</ion-card-content>
	         	<ion-card-content [hidden]="!user?.metalink_image">
		          	<img  [src]="user.metalink_image" (click)="openUrl(user.metalink_url)" 
		          	[hidden]="!user?.metalink_image">
	       		</ion-card-content>
	       		<ion-card-content class="video-updates" [hidden]="!user?.metalink_title">
					<p (click)="openUrl(user.metalink_url)">{{user.metalink_title}}</p>
	         	</ion-card-content>
	         	<ion-card-content class="video-updates" [hidden]="!user?.metalink_description">
					<p (click)="openUrl(user.metalink_url)">{{user.metalink_description}}</p>
	         	</ion-card-content>
			</div>
	       	<div class="comment-liks">
	      		<ion-row>
	        	    <ion-col style="padding:0px !important;">
				    <button ion-button clear small *ngIf=(user.likes.emoji)
						[innerHTML]="user.likes.emoji | emojis" 
						(click)="emojiPicker(user.id)">
					</button>
				      <button *ngIf=(!(user.likes.emoji)) ion-button  clear small (click)="emojiPicker(user.id)">

						<p class="liks-comments"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp; {{user.likecount}}Likes</p>
						</button>
				    </ion-col>
				    <ion-col style="padding:0px !important;">
				      <button ion-button icon-left clear small (click)="showComment(user)">
  						<p class="liks-comments"><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;{{user.comment_count}}+Comments</p>
				      </button>
				    </ion-col>
				    <ion-col>
				    	<button ion-button icon-left clear small  *ngIf="!user.likecount == 0" 
				    	(click)="showComment(user)">
  							<p class="liks-comments">&nbsp;{{user.likecount}}+like it</p>
				      	</button>
				    </ion-col>
				</ion-row>
			</div>
		</ion-card>    		
	</ion-list>

 	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    	<ion-infinite-scroll-content></ion-infinite-scroll-content>
  	</ion-infinite-scroll>	      					
</ion-content>

<style>
.text-input-ios{}

ion-col{padding:0px 5px 5px 5px !important;}

</style>
	