<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
	    <button ion-button icon-only (click)="dashboardPage()">
	        <ion-icon name="home"></ion-icon>
	    </button>
    </ion-buttons>
    <ion-title text-center>Communities</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content style="background:#fff;">



	   <div class="one-half-responsive">
	   <p class="image-column-left">

				<img [src]="imageUrl+communityDetailData?.logo"  
				[hidden]="!communityDetailData?.logo">
                        <strong class="wel-comemem">Welcome to {{communityDetailData?.community_name}}
                        </strong>
                        <em  style="">{{communityDetailData?.description | words : 20 : '...'}}</em>
                    </p>
					
					<div class="decoration hide-if-responsive"></div></div>
  		<div  *ngIf="userType == 'sponsor'">
	  	
	  		<ion-item>
				<ion-row *ngIf="!communityDetailData?.isJoined">
		    		<ion-col>
		    			<div>
							<button ion-button  style=" float:right;"(click)="joinCommunity(communityDetailData.id)" class="post">Join</button>
						</div>
					</ion-col>
				</ion-row>
					<h2 class="wel-comemem" style="padding-left:0px;">Members</h2>
						<div  *ngFor="let member of members; let i=index" text-wrap>
						<div *ngIf="i<= 3">

		    				<ion-item text-wrap class="memb-list">
								<ion-avatar>
									<img (click)="membersProfile(member.uid)" style="border:2px solid #e6e6e6;" [src]="imageUrl+member?.avatar" 
									[hidden]="!member?.avatar">

								</ion-avatar>
							</ion-item>
						</div>

						</div>
						<ion-item  *ngIf(viewMore)>
								<button ion-button (click)="showModel(members)">View All</button>
						</ion-item>
							
							<ion-item  *ngIf="!show_member">
								<p>No Members Joined Yet</p>
							</ion-item>
							
							
			</ion-item>

		</div>

 	<hr>

	<div>
		<h2 class="wel-comemem">Update Status</h2>
			<div style="padding:0px !important;">
				<ion-textarea [(ngModel)]="post" type="text" placeholder="Whats in your mind?">
				</ion-textarea>
			</div>
			<div style="padding:0px !important;">
				<ion-textarea [(ngModel)]="link" type="text" placeholder="What's on link">
				</ion-textarea>
			</div>
		    <div style="padding:0px !important;">
		    	<ion-row>
					<ion-col>
						<button ion-button (click)="accessGallery()" icon-only class="video">
							<i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;
						</button>
						<img [src]="base64Image" *ngIf="base64Image" />
					</ion-col>
				</ion-row> 
				
					<ion-row>
						<ion-col>
							<button ion-button (click)="addVideos()" icon-only medium class="video">
								<i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;
							</button>
						</ion-col>
					</ion-row>
					<div *ngIf(addVideo)>
						<ion-row>
							<ion-col>
								<div>
									<ion-item  class="video" >
										<ion-input [(ngModel)]="videoUrl" type="text" placeholder="Enter Video Url...">
										</ion-input>
									</ion-item>
								</div>
							</ion-col>

						</ion-row>
						<ion-row>
							<div>
								<ion-item>
									<p>( Youtube,Dailymotion,Vimeo,Wine)</p>
								</ion-item>
							</div>
						</ion-row>
					</div>
		   		</div>
					
		    <div style="padding:0px !important;">
				<ion-row>
		    		<ion-col text-right>
		    			<div>
							<button ion-button icon-only medium style=" width:100%" 
								(click)="postCommunity(communityDetailData?.id)" class="post">
								<i class="fa fa-paper-plane-o" aria-hidden="true"></i> &nbsp; 
							</button>
						</div>
					</ion-col>
				</ion-row>
			</div>
	</div>
	
	<ion-list *ngFor="let user of users; let i=index">	
	
	<hr>
		<div>
 			<ion-item>
	      		<ion-row>
	      			<ion-col>
	        			<ion-avatar item-left class="image-profile">
	          				<img [src]="imageUrl+user?.avatar" [hidden]="!user?.avatar" 
	          					(click)="communityProfiles(user.uid)">
	        			</ion-avatar>
	        		</ion-col>
	        		<ion-col width-20>
			          	<h2 (click)="communityProfile(user.uid)">{{user.name}}</h2>
			          	<p class="time-datem"><i class="fa fa-calendar-o"></i> {{user.created_at}}
			          		</p>
			        </ion-col>
					<ion-col offset-50>
		        		<!-- <button ion-button color="dark" clear (click)="itemDetails()">
		          			<ion-icon  item-left name="arrow-dropdown"></ion-icon>
		          		</button>
	          		<div *ngIf(itemComments)>
	          			<button  ion-button full color="light" >Block</button>
	          			<button  ion-button full color="light" >Report</button>
	          		</div> -->
	          		</ion-col>
	       		</ion-row>
	    	</ion-item>
	      		<ion-card-content [hidden]="!user?.post_message">
		          	<p class="feed-post">{{user.post_message}}</p>
		        </ion-card-content><br>
		        <ion-card-content [hidden]="!user?.post_image">
		          	<img  [src]="imageUrl+user?.post_image">
	       		</ion-card-content>
				<ion-card-content class="video-updates" [hidden]="!user?.post_video">
					<iframe [src]="cleanURL(user?.post_video)" frameborder="0">
	         		</iframe>
	         	</ion-card-content>
	         	
	         	<ion-card-content>
		          	<img  [src]="user.metalink_image" (click)="openUrl(user.metalink_url)" 
		          	[hidden]="!user?.metalink_image">
	       		</ion-card-content>
	       		
	         	<ion-card-content class="video-updates" [hidden]="!user?.metalink_title">
					<p (click)="openUrl(user.metalink_url)">{{user.metalink_title}}</p>
	         	</ion-card-content>
	         	<ion-card-content class="video-updates" [hidden]="!user?.metalink_description">
					<p (click)="openUrl(user.metalink_url)">{{user.metalink_description}}</p>
	         	</ion-card-content>
	       	 
	       	<div>
	      		<ion-row>
	        		<ion-col>
						<button ion-button clear 
						[innerHTML]="user.likes.emoji | emojis" 
						(click)="emojiPicker(user.id)"></button>
	        		</ion-col>
	        		
	        		<ion-col>
	          			<button ion-button class="comment but-colo" color="dark" clear 
	          			(click)="showComment(user)">
	          				<span style="color:red; font-size:13px;">{{user.comment_count}}</span> 
	          				&nbsp;<i class="fa fa-comments" aria-hidden="true"></i>
	          			</button>
	          		</ion-col>
	          		
	          		
	      		</ion-row>

	    	</div>
		</div>
	</ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>	      					
</ion-content>
<style>
.text-input-ios{}

ion-col{padding:0px 5px 5px 5px !important;}

</style>
	