<!--
  Generated template for the ServiceModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="primary">
<ion-toolbar class="hei-head">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      {{title}}
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content class="popup-mds" style=" background:#fff !important;">

        <div *ngIf(showServiceOffered) class="offered-servicelist">
          <ion-item *ngFor = "let service of vendorList.serviceOffered">
            <ion-card *ngFor = "let category_list of service.category_lists; let i=index">
              <ion-card-header class="sub" ion-item (click)="show_sub_category(i)">
               
                <p>{{category_list.category}}</p>  
				 <small>
		<i *ngIf(sub_category) class="fa fa-angle-up" aria-hidden="true"></i>
		<i *ngIf(!sub_category) class="fa fa-angle-down" aria-hidden="true"></i>
			
				
				</small>
              </ion-card-header>
              <!-- <hr *ngIf(sub_category)> -->
                  <ion-card-content *ngIf="i==sub_category" class="offered-servicelist-two">
                    <ion-item *ngFor="let subcategory_list of category_list.service_sub_category_lists; let i=index " >
                    <ion-list (click)="showService(i)">
                   
                       <p> {{subcategory_list.subcategory}}</p>
                        <small>
							<i *ngIf= "i === show_service" class="fa fa-angle-up" aria-hidden="true"></i>
		                    <i *ngIf= "i !== show_service" class="fa fa-angle-down" aria-hidden="true"></i>
						</small>
                    </ion-list>
                        <div *ngIf= "i === show_service" class="offered-servicelist-tree">
                          <ion-card *ngFor="let services of subcategory_list.services" >
							<ion-row>
								<ion-col width-80 ion-item (click)= "goToService(services)" text-wrap class="service-lefttext">
								 <p> {{services.service}}</p> 
								</ion-col>
								<ion-col width-20 class="service-rightprice">
								<small><i class="fa fa-inr" aria-hidden="true">{{services.service_cost}}</i></small>
								</ion-col>
							</ion-row>
                          </ion-card>
                        </div>
                    </ion-item>

                  </ion-card-content>
              
              
            </ion-card>
          </ion-item>

        <ion-card *ngIf="!vendorList.serviceOffered">
          <ion-card-content><p style=" font-size:15px; color:red;">
            No Records Found..!</p>
          </ion-card-content>
        </ion-card> 
        </div>
			

        <div *ngIf(showContactDetails) class="add-detalis">
	        <ion-card class="contact-list">
				<ion-item text-wrap>
				
				<i class="fa fa-map-marker" aria-hidden="true"></i> 
				<p>
				{{vendorList?.vendorDetails?.address}}
				</p>
				</ion-item>
			    
			    <ion-item>
			
			    <i class="fa fa-envelope" aria-hidden="true"></i> 
						<p>
			    {{vendorList?.vendorDetails?.email}}
				</p>
			    </ion-item>

			    <ion-item>
					
			    <i class="fa fa-user" aria-hidden="true"></i> 
				<p>
			    {{vendorList?.vendorDetails?.contact_name}}
				</p>
			    </ion-item>

			    <ion-item>
				
			    <i class="fa fa-phone" aria-hidden="true"></i> 
					<p>
			    {{vendorList?.vendorDetails?.contact_number}}
				</p>
			    </ion-item>
			    
	      	</ion-card>

		   	<ion-card *ngIf(!vendorList?.vendorDetails?.address)>
				<ion-item style="color:red; font-size:15px;color:red;">"No Address Deatails To Display"</ion-item>		  
	      	</ion-card>
      	</div>
         <div *ngIf(showPackagesDetails) class="add-detalis">
          <!-- <div *ngFor = "let packages of vendorList.packages"> -->
         <!-- 
        <ion-item text-wrap>
        <p text-capitalize>Packeage Name:{{packages.package_name}}</p>
        </ion-item>
        <ion-item text-wrap>
        <p>Packeage Cost:{{packages.package_cost}}</p>
        </ion-item>
        <ion-item text-wrap>
        <p>{{packages.package_description}}</p>
        </ion-item>-->
        <ion-card class="contact-list">
            <!-- <ion-slides slidesPerView= ""> -->
              <div *ngFor="let pack of vendorList.packages; let i=index" text-wrap>
                 <!-- <ion-slide class="slide-border"> -->
                  <ion-item style="padding-left:0px;" >
                    <ion-col> 
                      <div class="plan featured orangeColor">
                      <h3>{{pack.package_name}}</h3>                    
                      <div class="circle-pic" *ngIf="pack.discount_rate_package == NULL"><span><i class="fa fa-inr"> {{pack.package_amount}}</i></span><span>/-</span></div>
                      <div class="circle-pic" *ngIf="pack.discount_rate_package != NULL"><span><i class="fa fa-inr">{{pack.package_amount - pack.package_amount*pack.discount_rate_package/100}}</i></span><span>/-</span></div>
                      <h5 *ngIf="pack.discount_rate_package != NULL">     
                      <span><small><i class="fa fa-rupee"></i>{{pack.package_amount}} </small></span>
                      <span>  {{pack.discount_rate_package}} % off </span>
                      <!-- <span >{{service_type}}</span> -->
                      </h5>
                      <p>For {{pack.package_validity}} </p>
                      <p>{{pack.package_description}}</p>                      
                       <div *ngIf="vendorList.dependentLists.length != 1">
                        <!-- <div *ngIf="pack.package_available == 0"> -->
                        <a (click)="openRequestPackage(pack.id)" class="lan-select">Get Package</a>
                        <!-- </div> -->
                      </div> 

                        <div *ngIf="pack.package_available == 0">
                        <a (click)="openRequestPackage(pack.id)" class="lan-select">Get Package</a>                      
                         </div>
                      <div *ngIf="pack.package_available > 0"><a class="lan-select">You've already purchased this</a>
                      </div>
                      <ul>                  
                        <li *ngFor="let pack_serve of pack.packages_service; let i=index" ><i class="fa fa-check check-plan" aria-hidden="true">
                          </i> {{pack_serve.name}} {{pack_serve.quantity}}  {{pack_serve.common_type.replace('Per', '')}}</li>
                      </ul>
                      </div>
                    </ion-col>
                  </ion-item>
                <!-- </ion-slide> -->
              </div>
        <!-- </ion-slides> -->
          </ion-card> 
          <!-- </div> -->       
         </div>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary"> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
     <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back
       </button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}

  .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
</style>

