<!--
  Generated template for the ServiceModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="ion-modal modal-popups">
<ion-header>
<ion-toolbar class="hei-head">
    <ion-title color="primary" class="tittles-md">
      {{title}}
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

        <div *ngIf(showServiceOffered)>
          <ion-item *ngFor = "let service of vendorList.serviceOffered">
            <ion-card *ngFor = "let category_list of service.category_lists">
              <ion-card-header class="sub" ion-item (click)="show_sub_category()">
                <ion-icon *ngIf(!sub_category) ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                <ion-icon *ngIf(sub_category) ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                {{category_list.category}}  
              </ion-card-header>
              <hr *ngIf(sub_category)>
                  <ion-card-content *ngIf(sub_category)>
                    <ion-item *ngFor="let subcategory_list of category_list.service_sub_category_lists; let i=index " >
                    <ion-list (click)="showService(i)">
                      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                        {{subcategory_list.subcategory}}
                        <i *ngIf= "i !== show_service" class="fa fa-angle-double-down"></i>
                        <i *ngIf= "i === show_service" class="fa fa-angle-double-up"></i>
                    </ion-list><hr>
                        <div *ngIf= "i === show_service">
                          <ion-card *ngFor="let services of subcategory_list.services" >
                          <!-- <ion-list>
                              {{services.service}}
                          </ion-list> -->
                          <ion-item (click)= "goToService(services)">
                              <!-- <i class="fa fa-thumb-tack" aria-hidden="true"></i> -->
                              {{services.service}}
                              <ion-badge item-right>
                              <i class="fa fa-inr" aria-hidden="true">{{services.service_cost}}</i>
                              </ion-badge>
                            </ion-item>
                          </ion-card>
                        </div>
                    </ion-item>

                  </ion-card-content>
              
              
            </ion-card>
          </ion-item>

        <ion-card *ngIf="!vendorList.serviceOffered">
          <ion-card-content>
            No Records Found..!
          </ion-card-content>
        </ion-card> 
        </div>
			

        <div *ngIf(showContactDetails) class="add-detalis">
	        <ion-card>
				<ion-item>
				<i class="fa fa-map-marker" aria-hidden="true"></i> 
				{{vendorList?.vendorDetails?.address}}
				</ion-item>
			    
			    <ion-item>
			    <i class="fa fa-envelope" aria-hidden="true"></i> 
			    {{vendorList?.vendorDetails?.email}}
			    </ion-item>

			    <ion-item>
			    <i class="fa fa-user" aria-hidden="true"></i> 
			    {{vendorList?.vendorDetails?.contact_name}}
			    </ion-item>

			    <ion-item>
			    <i class="fa fa-phone" aria-hidden="true"></i> 
			    {{vendorList?.vendorDetails?.contact_number}}
			    </ion-item>
			    
	      	</ion-card>

		   	<ion-card *ngIf(!vendorList?.vendorDetails?.address)>
				<ion-item style="color:red; font-size:15px;">"No Address Deatails To Display"</ion-item>		  
	      	</ion-card>
      	</div>

</ion-content>
<ion-footer>
  <ion-toolbar> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
        <ion-icon class="gly-rotate-180" name="send"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
        <ion-icon class="gly-rotate-180" name="send"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="dismiss()">
        OK
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="dismiss()">
        OK
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</div>
<style>
  .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
</style>

<div *ngIf(showServiceOffered)>
          <ion-card *ngFor = "let service of vendorList.serviceOffered">
            <ion-list *ngFor = "let category_list of service.category_lists">
              <button class="sub" ion-item (click)="show_sub_category()">
                <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                {{category_list.category}}  
              </button >
              <!-- <ion-item *ngIf(sub_category)>
                <ion-card *ngFor="let subcategory_list of category_list.service_sub_category_lists; let i=index " >
                <ion-list (click)="showService(i)">
                  <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                    {{subcategory_list.subcategory}}
                </ion-list>
                    <ion-item *ngIf= "i === show_service">
                      <ion-card *ngFor="let services of subcategory_list.services" >
                      <ion-list>
                        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                          {{services.service}}
                      </ion-list>
                      </ion-card> 
                    </ion-item>
              </ion-card> 
              </ion-item> -->
              
            </ion-list>
          </ion-card>

        <ion-card *ngIf="!vendorList.serviceOffered">
          <ion-card-content>
            No Records Found..!
          </ion-card-content>
        </ion-card> 
        </div>