page-servicerequest {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.token-primarys {
    width: 35px;
    height: 35px;
    margin-left: 4px;
    margin-top: 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.token-primarys i {
    line-height: 35px;
    color: #00a651;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.req-cancel {
    width: 35px;
    height: 35px;
    margin-left: 4px;
    margin-top: 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.req-cancel i {
    line-height: 33px;
    color: #ff5722;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
}
.Contacted{font-family: 'Muli', sans-serif;color:#fff !important; padding:5px 10px; font-size:15px; font-weight:600 !important; background:#FF8861; border-radius:3px; }
.Pending													{font-family: 'Muli', sans-serif;color:#fff !important; padding:5px; font-size:15px; font-weight:600 !important; background:#f8b106; border-radius:3px; }
.Schedule{font-family: 'Muli', sans-serif;color:#fff; background:#1E90FF; padding:5px; font-size:14px; font-weight:600 !important; border-radius:3px; }
.Completed{font-family: 'Muli', sans-serif;color:#fff; background:#228B22; padding:5px; border-radius:3px; font-size:14px; font-weight:600 !important; }
.Cancelled{font-family: 'Muli', sans-serif;color:#fff; background:red; padding:5x; font-size:14px; font-weight:600 !important; border-radius:3px; }
.service-cont {
    font-size:17px !important;
    font-weight:400;
    width: 100%; color:#000;font-family: 'Muli', sans-serif;  letter-spacing:0.2px;
}
.Delivered{font-family: 'Muli', sans-serif;color:#fff; background:#A6A6A6; padding:5px; border-radius:3px; font-size:14px; font-weight:600 !important; }
.service-conts {
    font-size:16px !important;
    font-weight:400;
    width: 100%; color:#666;font-family: 'Muli', sans-serif;letter-spacing:0.2px;
}
.service-conts i{margin-right:7px; font-size:15px; color:#333;}
.service-req {
    color:#007A95!important;
    display: inline;font-family: 'Muli', sans-serif;
    font-size:17px !important; font-weight:600;letter-spacing:0.2px;
    margin: 0;
    padding: 0;
}
.service-cards{background: hsla(0, 0%, 0%, 0) linear-gradient(313deg, hsl(205, 51%, 80%) 0%, hsl(0, 0%, 100%) 18%, hsl(0, 0%, 100%) 100%) repeat scroll 0 0; }
.tocken-no {
    color:#08298A!important;
    font-size:16px !important;
    font-weight: 600 !important;font-family: 'Muli', sans-serif;letter-spacing:0.2px;
    text-align: center;
}
.left-service img{ border:1px solid #ccc;   }
.content-intop {
    background: hsl(218, 100%, 98%) none repeat scroll 0 0 !important;
}
.sel-packages{margin-top:10px;}

.sel-packages .item-md .item-inner .label-md {
    font-family: "Muli",sans-serif;
    font-size: 15px;
    padding-left: 10px; font-weight:600;
}
.select-text{ font-weight:600;   font-family: "Muli",sans-serif;
    font-size: 15px; color:hsl(192, 99%, 31%);}
.sel-packages .item-ios .item-inner .label-ios {
    font-family: "Muli",sans-serif;
    font-size: 15px;
    padding-left: 10px; font-weight:600;
}
.alert-md .alert-radio-label{ padding:0px 0px 0px 10px; font-weight:600;}
.alert-md .alert-tappable{height:30px !important;}
.btn-go .go-btn.button-md{ margin-top:13px; font-weight:600; height:35px; width:50px;}
.btn-go .go-btn.button-ios{ margin-top:4px;font-weight:600; height:35px; width:50px;}
.searchbar-md .searchbar-input{border:1px solid #87CEFA; font-size:14px; font-weight:600;box-shadow:none;font-family: 'Muli', sans-serif; border-radius:50px; }

.searchbar-ios .searchbar-input{border:1px solid #87CEFA;font-size:14px; font-weight:600;box-shadow:none;font-family: 'Muli', sans-serif; border-radius:50px;}
}
