
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>My Service Requests</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="content-intop">
 <!-- <ion-fab top right edge *ngIf="serviceRequestInfo.length != 0">
    <button ion-fab mini (click)="scrollToBottom()"><ion-icon name="arrow-dropdown">
    </ion-icon></button>
  </ion-fab> -->
 <ion-row>
<ion-col width-80><ion-searchbar [(ngModel)]="searchEvent"></ion-searchbar></ion-col>
  <ion-col width-20 class="btn-go"><button (click)="getItems(searchEvent)" ion-button small class="go-btn">Go</button> </ion-col>
</ion-row>

<ion-card class="sel-packages">
 <ion-item>
    <ion-label>Status</ion-label>
    <ion-select [(ngModel)]="status" (ionChange)="onInitstatus()">
     <ion-option>All
     </ion-option>    
      <ion-option *ngFor="let status of servicestatus" value="{{status?.id}}">{{status?.label}}</ion-option>      
    </ion-select>
  </ion-item>
 </ion-card>
 <ion-card class="sel-packages">
 <ion-item>
    <ion-label>Sort By</ion-label>
    <ion-select [(ngModel)]="sortby" (ionChange)="onInit()">
      <ion-option value="preferred_asc">Preferred Date-Asc</ion-option>   
      <ion-option value="preferred_desc">Preferred Date-Des</ion-option>  
      <ion-option value="enquiry_asc">Enquiry Date-Asc</ion-option>  
      <ion-option value="enquiry_desc">Enquiry Date-Des</ion-option>      
    </ion-select>
  </ion-item>
 </ion-card>
<ion-card *ngFor="let service of serviceRequestInfo; let i=index;" class="service-cards">

  <ion-grid>
   <ion-row>
    <ion-col width-20 class="left-service">
	<img src="{{imageUrl}}{{service?.logo}}" width="100"  height="50"/>
	<a class="token-primarys" (click)="makeCall(service?.contact_number)"><i class="fa fa-phone"></i></a>
	  
  <a class="req-cancel" *ngIf="((service?.vendor_status!=2)&&(service?.vendor_status!=3)&& (service?.vendor_status!=5) && service?.payment_method == 'full_payment' || (service?.payment_method == '' && service?.Paymentstatus=='captured'))" (click)="showConfirm(service?.id,service?.hours,service?.service_id,service?.sub_category_id,service?.status,service?.servicediscountcost_one_service,service?.service_type,service?.txnid)">
  <i class="fa fa-times" aria-hidden="true"></i>
  </a>
 
	</ion-col>

    <ion-col width-80 (click)="viewRequest(service?.id,service)">
	<ion-row>
		<h2 item-text-wrap class="service-req">{{service?.vendor_name}}</h2>
		
	
	</ion-row>

	<ion-row>
			<p item-text-wrap  class="service-cont">{{service?.enquiry_about | words : 10}}</p>
	</ion-row>

  <ion-row>
 
  <p class="service-conts"><i class="fa fa-user" aria-hidden="true"></i>{{service?.dependent_name}} {{service?.dependent_lastname}}</p>
</ion-row>
 <ion-row>

 <p *ngIf="(service?.enquiry_date!='0000-00-00 00:00:00')" class="service-conts"> <i class="fa fa-question-circle" aria-hidden="true"></i>{{service?.enquiry_date | date :'MMM dd y h:mm a'}}</p> 


</ion-row>
 <ion-row *ngIf="service?.preferred_date != '0000-00-00'">

  <p class="service-conts"><i class="fa fa-calendar" aria-hidden="true"></i>{{service?.preferred_date}} {{service?.preferred_time}}</p>
<!-- <small *ngIf="(service?.enquiry_date!='0000-00-00 00:00:00')" class="token-date">{{service?.enquiry_date | date :'MMM dd y h:mm a'}}</small>  -->
</ion-row>
 <ion-row *ngIf="(service?.scheduled_date != null)">

  <p class="service-conts"><i class="fa fa-calendar" aria-hidden="true"></i> {{service?.scheduled_date}}</p>

</ion-row>
	<ion-row>
	<ion-col width-50 style="padding-left:0px;">
	
	<span *ngFor="let venStatus of vendorStatus" >
   <p *ngIf="venStatus.id==service?.vendor_status"><ion-badge class="{{venStatus.label}}"> {{venStatus.label}}</ion-badge></p>
	</span>
		 
	</ion-col>
	<ion-col width-30>
	
	<p class="tocken-no"><i class="fa fa-id-card-o"></i> {{service?.sr_token}}</p>
	</ion-col>
	</ion-row>	
  <ion-row>
  <ion-col width-50 style="padding-left:0px;">
  
 <!--  <span>
   <p *ngIf="service.Paymentstatus == 'captured' && service.payment_method == 'partial_payment'"><ion-badge 
   (click)="paynow(service.sr_token,service.service_cost,service?.id)">Pay Now</ion-badge></p>
   <p *ngIf="service.Paymentstatus == 'captured' &&  service.payment_method == 'full_payment'"><ion-badge>Paid</ion-badge></p>
  </span> -->
   <span>
   <p *ngIf="service.Paymentstatus!='captured'"><ion-badge 
   (click)="paynow(service.sr_token,service.final_service_cost,service?.id)">Pay Now</ion-badge></p>
   <p *ngIf="service.Paymentstatus=='captured' && service.payment_method=='partial_payment'"><ion-badge 
   (click)="paynow(service.sr_token,service.final_service_cost,service?.id)">Pay Now</ion-badge></p>
   <p *ngIf="service.Paymentstatus=='captured' && service.payment_method==''"><ion-badge>Paid</ion-badge></p>
   <p *ngIf="service.Paymentstatus=='captured' && service.payment_method=='full_payment'"><ion-badge>Paid</ion-badge></p>
  </span>
     
  </ion-col>
  <ion-col width-30>
  
  <p class="tocken-no"><i class="fa fa-rupee"></i>{{service.service_cost}}</p>
  </ion-col>
  </ion-row>  
	</ion-col>	

  </ion-row>
  <ion-row>

  <ion-col>
  <button class="make-rate" *ngIf="(service?.vendor_status==5 &&(!service?.vendor_remarks))"(click)="enableRemark(i)">
       Mark as Complete
  </button>
  </ion-col>
  </ion-row>


  </ion-grid>
  <ion-row>
  <ion-col width-20></ion-col>
  <ion-col width-80 >
  
  <button ion-button class="remarks-btns" *ngIf="(service?.vendor_status==2 &&(!service?.vendor_remarks))"(click)="enableRemark(i)">
       <i class="fa fa-comments"></i>
  </button>
  </ion-col>
  </ion-row>


  <ion-list *ngIf="(i==showRemark)" class="show-hiden">

    <h2>Rating</h2>
    

  <h3 class="rating-clr paa-ff">
<rating [(ngModel)]="rating" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
</h3>

 <!-- <ion-item>
    <ion-input [(ngModel)]="remarks" type="text" placeholder="Remarks"></ion-input>
  </ion-item>-->
  <ion-card class="sel-packages pack-select">
  <ion-item text-wrap>
    <ion-label>Remarks</ion-label>
    <ion-select [(ngModel)]="remarks" >
      <ion-option *ngFor="let remarkList of getRemarksList" value="{{remarkList.id}}">{{remarkList.remarks}}</ion-option>
    </ion-select>
  </ion-item>
  </ion-card>
  <ion-item>
  <ion-textarea autosize placeholder="say something about your service experience.." 
  [(ngModel)]="other" class="remarks-listed">
  </ion-textarea>
  </ion-item>

  <button (click)="submitRemark(service?.id)" class="remarks-sb">Submit</button>

  </ion-list>  

</ion-card>
<ion-fab right bottom  *ngIf="serviceRequestInfo.length != 0">
    <button ion-fab mini (click)="scrollToTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
