<!--
  Generated template for the EditProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background:#fff;">
<div class="profile-edit"><span  *ngIf="user_type =='sponsor' " class="profile-img"><img [src]="imageURL+profileData?.logo" > </span>
			<p>{{profileData?.company_name}}</p></div>

	<form [formGroup]="edit_profile_Form">
<div class="edit-profile-view">

		
		<ion-label class="liste-edit" *ngIf="user_type =='elder' ">Name</ion-label>
		<ion-label class="liste-edit" *ngIf="user_type =='sponsor' ">Sponsor Name</ion-label>
		<ion-item>
	    <ion-input type="text" formControlName="name"></ion-input>
	    </ion-item>
		<p *ngIf="!edit_profile_Form.controls.name.valid  && (edit_profile_Form.controls.name.touched || submitAttempt)" class="err-reds">Please enter a valid Name</p>
        

	<!--<ion-label class="liste-edit">Gender</ion-label>
		<ion-item>
		<ion-select formControlName="gender">
	    <ion-option value="male">Male</ion-option>
	    <ion-option value="female">Female</ion-option>
	    </ion-select>
	    </ion-item>

           		<p class="err-reds" *ngIf="!edit_profile_Form.controls.gender.valid  && (edit_profile_Form.controls.gender.touched || submitAttempt)">Please select your Gender</p>-->
      
		<ion-label *ngIf="user_type =='sponsor' " class="liste-edit">Designation</ion-label>
        <ion-item *ngIf="user_type =='sponsor' ">
	    <ion-input type="text" formControlName="designation"></ion-input>
	    </ion-item>	
           				    

	<ion-label class="liste-edit">Mobile Number</ion-label>
        <ion-item>
		 <ion-input type="text" formControlName="mobile_number"></ion-input>
	    </ion-item>
		   
           		<p class="err-reds" *ngIf="!edit_profile_Form.controls.mobile_number.valid  && (edit_profile_Form.controls.mobile_number.touched || submitAttempt)">Please enter 10-digit valid number</p>
   
	 
        <ion-label class="liste-edit">Location</ion-label>
		<ion-item>
	    <ion-input type="text" formControlName="location"></ion-input>
	    </ion-item>
	    <p class="err-reds" *ngIf="!edit_profile_Form.controls.location.valid  && (edit_profile_Form.controls.location.touched || submitAttempt)">Please enter location</p>

		<ion-label class="liste-edit">Date of birth</ion-label>
		<ion-item>
	    <ion-datetime class="select-brd" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="dob" [(ngModel)]="user_dob">
	    </ion-datetime>
	    </ion-item>
	 

		<ion-label class="liste-edit">Official Email</ion-label>
		<ion-item>
	    <ion-input type="text" formControlName="email"></ion-input>
	    </ion-item>
	    
	    		<ion-label class="liste-edit">Personal Email</ion-label>
		<ion-item>
	    <ion-input type="text" formControlName="personal_email" [(ngModel)]="profileData.personal_email"></ion-input>
	    </ion-item>

		<ion-label class="liste-edit">User Type</ion-label>
	    <ion-item>
	    <ion-input type="text" formControlName="user_type"></ion-input>
	    </ion-item>
	  

	
	   
	    <ion-row>
		<ion-col>
	    <button ion-button class="uploadimg" color="primary" (click)="accessGallery()"><i class="fa fa-upload"></i>&nbsp; Browse...</button>
				</ion-col>
				<ion-col>
				 <img [src]="base64Image" *ngIf="base64Image" width="90" height="90" />
						</ion-col>
		</ion-row>

	
</div>
</form>
	
</ion-content>
<ion-footer>
  <ion-toolbar> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
        <ion-icon class="gly-rotate-180" name="send"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
        <ion-icon class="gly-rotate-180" name="send"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="updateProfile()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="updateProfile()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<style>
.text-input-md{ margin:0px;}
.item-block{ border-bottom:none !important;}
.item-inner {
border-bottom-color: transparent !important;
box-shadow: none !important;}
.item-ios.item-block .item-inner{ border-bottom:none !important;}
.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{ font-size:14px !important;margin-left:8px !important;}


.gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
</style>


