<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Elder Onboarding</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <form [formGroup]="authForm">

  <div>
    <ion-row>
      <ion-col offset-25>
        <ion-card class="personal" padding>Personal Details</ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div>
  <ion-row>
    
      <ion-item >
         <ion-label>Relationship</ion-label>
          <ion-select  [(ngModel)]="elder_relation"   [ngModelOptions]="{standalone: true}">
            <ion-option  *ngFor="let relation of relations" value={{relation.value}}>{{relation.label}}</ion-option>
            </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
        <div>
            <ion-input  type="text" formControlName="elder_name"
            [class.invalid]="!authForm.controls.elder_name.valid && (authForm.controls.elder_name.dirty)" placeholder="Elders Name" value={{elder_name}}>
        
            </ion-input>
        </div>
         <div *ngIf="!authForm.controls.elder_name.valid  && (authForm.controls.elder_name.dirty)">
                  <p class="valid">Please enter name</p>
        </div> 
    
    </ion-row>
    </div>

    <div>
      <ion-row>
        
          <ion-item>
              <ion-label>Services</ion-label>
              <ion-select  [(ngModel)]="elder_service"  [ngModelOptions]="{standalone: true}">
               <ion-option *ngFor="let service of in_service" value={{service.value}}>{{service.label}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
            <div>
                <ion-input type="text" formControlName="elder_number"
            [class.invalid]="!authForm.controls.elder_number.valid && (authForm.controls.elder_number.dirty)" placeholder="Contact Number" value={{elder_number}}>
                </ion-input>
            </div>
            <div  *ngIf="!authForm.controls.elder_number.valid  && (authForm.controls.elder_number.dirty)">
                <p class="valid">Please enter number</p>
            </div>
          
      </ion-row>
    </div>

  <div>
    <ion-row>
        <ion-card  class="date" padding>Date of Birth
        </ion-card>
    </ion-row>
    <ion-row>
      
        <ion-item class="address">
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="elder_dob" [ngModelOptions]="{standalone: true}"></ion-datetime>
        </ion-item>  
      
    </ion-row>
  </div>

   <div>
      <ion-row>
        <ion-col>
          <div>
            <ion-input  type="text" formControlName="elder_address"
            [class.invalid]="!authForm.controls.elder_address.valid && (authForm.controls.elder_address.dirty)" placeholder="Address" value={{elder_address}}>
            </ion-input>
          </div>
          <div *ngIf="!authForm.controls.elder_address.valid  && (authForm.controls.elder_address.dirty)">
                <p class="valid">Please enter address</p>
          </div>
        </ion-col>
      </ion-row>
  </div>

 <div>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Loaction</ion-label>
              <ion-select  [(ngModel)]="elder_location"  [ngModelOptions]="{standalone: true}">
                <ion-option  *ngFor="let location of locations"  value={{location.id}} >{{location.location}}</ion-option>
            </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col offset-25>
        <ion-card class="emergency" padding>Emergency Contacts</ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div>
      <ion-col  *ngFor="let item of emergency_list; let i=index">
          <ion-row>
            <ion-item>
                <ion-label>{{emergency_name[i]}}</ion-label>
                  <ion-select placeholder="select" [(ngModel)]="emergency_name[i]"  [ngModelOptions]="{standalone: true}">
                    <ion-option value="police">Police</ion-option>
                    <ion-option value="hospital">Hospital</ion-option>
                    <ion-option value="ambulance">Ambulance</ion-option>
                    <ion-option value="son">Son</ion-option>
                </ion-select>
            </ion-item>
            </ion-row>
            <ion-row>
              <div>
                  <ion-input type="text" [(ngModel)]="emergency_no[i]"  [ngModelOptions]="{standalone: true}" placeholder="Contact Number">
                 </ion-input>
              </div>
              <div *ngIf="!authForm.controls.emergency_numbers.valid  && (authForm.controls.emergency_numbers.dirty || submitAttempt)">
                    <p class="valid">Please enter number</p>
              </div>
          </ion-row>

            <ion-row>
            <ion-col width-50>
              <button class="add" (click)="addEmergency()" ion-button icon-left clear>
                <ion-icon name="ios-add"></ion-icon>
                 Add More
              </button>
            </ion-col>
            <ion-col width-50>
              <button class="add" (click)="removeEmergency()" ion-button icon-left clear>
                <ion-icon name="ios-close"></ion-icon>Remove
              </button>
            </ion-col>
          </ion-row>
      </ion-col>
  </div>

  <div>
    <ion-item>
      <ion-label>Interested in Elder job opportunities?</ion-label>
      <ion-checkbox [(ngModel)]="job_interest" [ngModelOptions]="{standalone: true}"> </ion-checkbox>
    </ion-item>
  </div>
 
 <div *ngIf="job_interest">

 <div>
  <ion-row>
  
      <ion-item>
         <ion-label>Interest</ion-label>
          <ion-select  [(ngModel)]="area_of_interest"   [ngModelOptions]="{standalone: true}">
            <ion-option  *ngFor="let interest of areaOfInterest" >{{interest.label}}</ion-option>
            </ion-select>
      </ion-item>
    </ion-row>
    <ion-row>
        <ion-item>
         <ion-label>Job Type</ion-label>
          <ion-select  [(ngModel)]="job_type"   [ngModelOptions]="{standalone: true}">
            <ion-option  value="full time">Full TIme</ion-option>
            <ion-option  value="part time">Part TIme</ion-option>
            </ion-select>
      </ion-item>
  
    </ion-row>
    </div>
<div class="tag" >
<!-- <ion-card> -->
    <rl-tag-input
     [ngModelOptions]="{standalone: true}"
    [addOnBlur]="false"
    [autocomplete]="true"
    [autocompleteItems]="skills"
    [(ngModel)]="skill_set"
    placeholder="Enter Your Skils..">
  </rl-tag-input>
</div>

<div>
    <ion-row>
      <ion-col offset-25>
        <ion-card class="emergency" padding>Experience Details</ion-card>
      </ion-col>
    </ion-row>
    <ion-col  *ngFor="let item of experience_list; let i=index" >
       <ion-row>
    
        <ion-item>
          <ion-label>Industry</ion-label>
            <ion-select [(ngModel)]="experience_industry[i]" [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor="let industry of functionalArea"  selected="item?.select" value={{industry.id}}>{{industry.name}}
              </ion-option>
            </ion-select>
        </ion-item>
        </ion-row>
        
        <ion-row>
          <ion-item>
            
            <ion-input [(ngModel)]="experience_years[i]" [ngModelOptions]="{standalone: true}"type="text" placeholder="Total Years" value={{experience_years}}>
            </ion-input>
        </ion-item>
    
      </ion-row>
      <ion-row>
            <ion-item>
            <ion-label>Duration</ion-label>
            <ion-input [(ngModel)]="experience_duration[i]" [ngModelOptions]="{standalone: true}" type="text" placeholder="Eg:April 2007-2011">
            </ion-input>
           </ion-item>
      </ion-row>
  
      <ion-row>
        <ion-col width-50>
          <button class="add" (click)="addExperience(i)" ion-button icon-left clear>
            <ion-icon name="ios-add"></ion-icon>Add More
          </button>
        </ion-col>
        <ion-col width-50>
          <button class="add" (click)="removeExperience()" ion-button icon-left clear>
            <ion-icon name="ios-close"></ion-icon>Remove
          </button>
        </ion-col>
      </ion-row>
      </ion-col>
  </div>

  <!-- Educational Details-->

<div>
    <ion-row>
      <ion-col offset-25>
        <ion-card class="emergency" padding>Educational Details</ion-card>
      </ion-col>
    </ion-row>
    <ion-col  *ngFor="let item of education_list; let i=index" >
    <ion-row>
      
        <ion-item>
          <ion-label>Graduation</ion-label>
            <ion-select [(ngModel)]="education_graduation[i]" [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor="let education of educations" value={{education.value}}>{{education.label}}
              </ion-option>
            </ion-select>
        </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label>Specialization</ion-label>
              <ion-select [(ngModel)]="education_specialization[i]" [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor="let specialization of specializations" value={{specialization.value}}>{{specialization.label}}
              </ion-option>
            </ion-select>
        </ion-item>
        
      </ion-row>
      <ion-row>
            <ion-item>
            
            <ion-input [(ngModel)]="education_college[i]" [ngModelOptions]="{standalone: true}" type="text" placeholder="College/University">
            </ion-input>
           </ion-item>
      </ion-row>
      </ion-col>
      <ion-row>
        <ion-col width-50>
          <button class="add" (click)="addEducation()" ion-button icon-left clear>
            <ion-icon name="ios-add"></ion-icon>Add More
          </button>
        </ion-col>
        <ion-col width-50>
          <button class="add" (click)="removeEducation()" ion-button icon-left clear>
            <ion-icon name="ios-close"></ion-icon>Remove
          </button>
        </ion-col>
      </ion-row>
  </div>
  </div>

  <!--END-->
  
  <div  *ngIf="this.fuctionality != 'edit' ">
  <div>
    <ion-row>
      <ion-col offset-25>
        <ion-card class="emergency" padding>Login Details</ion-card>
      </ion-col>
    </ion-row>
    </div>
    <div>
    <ion-row>
      
          <div>
            <ion-input formControlName="elder_email"
            [class.invalid]="!authForm.controls.elder_email.valid && (authForm.controls.elder_email.dirty)" placeholder="Email" value={{elder_email}}></ion-input>
          </div>
          <div *ngIf="!authForm.controls.elder_email.valid  && (authForm.controls.elder_email.dirty)">
                <p class="valid">Please enter Email</p>
          </div>
        </ion-row>
        <ion-row>
           <div>
              <ion-input formControlName="elder_password"
            [class.invalid]="!authForm.controls.elder_password.valid && (authForm.controls.elder_password.dirty)" type="text" placeholder="Password" value={{elder_password}}></ion-input>
           </div>
           <div *ngIf="!authForm.controls.elder_password.valid  && (authForm.controls.elder_password.dirty)">
                <p class="valid">Please enter password</p>
           </div>
    
      </ion-row>
  </div>
  </div>
  <div>
      <ion-row>
        <ion-col>
          <button (click)="cancel()" class="person" ion-button icon-left >
            <ion-icon name="ios-close"></ion-icon>Cancel
          </button>
        </ion-col>
        <ion-col offset-50>
          <!--  <button [disabled]="!authForm.valid" (click)="Submit()" class="back" ion-button icon-left round> -->
          <button  (click)="addDependent()" small class="back" ion-button icon-left >
            <ion-icon name="ios-arrow-round-forward"></ion-icon>Submit
          </button>
        </ion-col>
      </ion-row>
  </div>
  </form> 


</ion-content>