<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style=" background:#fff;">
<div class="add-depentsform">
 <form [formGroup]="authForm">
    <ion-row *ngIf="functionality != 'profileEdit'">
      <ion-col class="title-depen">
        <div class="personal-d"><p>Personal Details</p></div>
      </ion-col>
    </ion-row>

  <hr *ngIf="functionality != 'profileEdit'" />
   <ion-label>Relationship *</ion-label>
        <ion-item>
         <ion-label>Relationship</ion-label>
            <ion-select class="select-brd"  [(ngModel)]="elder_relation" 
            formControlName="elder_relation" [class.invalid]="!authForm.controls.elder_relation.valid && (authForm.controls.elder_relation.dirty)">
                <ion-option  *ngFor="let relation of relations" value={{relation.value}}>{{relation.label}}</ion-option>
            </ion-select>
        </ion-item>
         <small *ngIf="!authForm.controls.elder_relation.valid  && (authForm.controls.elder_relation.dirty || submitAttempt)">
                  <p class="valid err-reds">Please select relation</p>
          </small> 
		  <ion-label>Elder Name *</ion-label>
      <ion-item>
      
            <ion-input  type="text" formControlName="elder_name"
            [class.invalid]="!authForm.controls.elder_name.valid && (authForm.controls.elder_name.dirty)" [(ngModel)]="elder_name" value={{elder_name}}>
            </ion-input>
      </ion-item>
          <small *ngIf="!authForm.controls.elder_name.valid  && (authForm.controls.elder_name.dirty || submitAttempt)">
                  <p class="valid err-reds">Please enter name</p>
          </small> 
		  <ion-label>Services *</ion-label>
          <ion-item>
              <ion-label>Services</ion-label>
                <ion-select class="select-brd" [(ngModel)]="elder_service"  
                formControlName="elder_service"  
                [class.invalid]="!authForm.controls.elder_service.valid && (authForm.controls.elder_service.dirty)">
                    <ion-option *ngFor="let service of in_service" value={{service.value}}>{{service.label}}</ion-option>
                </ion-select>
          </ion-item>
           <small *ngIf="!authForm.controls.elder_service.valid  && (authForm.controls.elder_service.dirty || submitAttempt)">
                  <p class="valid err-reds">Please select services</p>
          </small> 
		   <ion-label>Number *</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="elder_number"
                  [class.invalid]="!authForm.controls.elder_number.valid && (authForm.controls.elder_number.dirty)" [(ngModel)]="elder_number" value={{elder_number}}>
              </ion-input>
			     </ion-item>
              <small  *ngIf="!authForm.controls.elder_number.valid  && (authForm.controls.elder_number.dirty || submitAttempt)">
                <p class="valid err-reds">Please enter number</p>
              </small>
			    <ion-label>Date Of Birth *</ion-label>
         <ion-item>
          
              <ion-datetime class="select-brd" style="font-size:17px;" displayFormat="MMM DD, YYYY" 
              [(ngModel)]="elder_dob" formControlName="elder_dob"
                [class.invalid]="!authForm.controls.elder_dob.valid && (authForm.controls.elder_dob.dirty)"></ion-datetime>
          </ion-item>
          <small  *ngIf="!authForm.controls.elder_dob.valid  && (authForm.controls.elder_dob.dirty || submitAttempt)">
                <p class="valid err-reds">Please select dob</p>
              </small>  
          <ion-label>Address *</ion-label>
		    <ion-item>  
              <ion-input type="text" formControlName="elder_address"
                [class.invalid]="!authForm.controls.elder_address.valid && (authForm.controls.elder_address.dirty)" [(ngModel)]= "elder_address" value={{elder_address}}>
              </ion-input>
			    </ion-item>  
          <small *ngIf="!authForm.controls.elder_address.valid  && (authForm.controls.elder_address.dirty || submitAttempt)">
                <p class="valid err-reds">Please enter address</p>
          </small>
		   <ion-label>Location *</ion-label>
          <ion-item>
            <ion-label>Location</ion-label>
              <ion-select  class="select-brd" [(ngModel)]="elder_location"  
              formControlName="elder_location"  
                [class.invalid]="!authForm.controls.elder_location.valid && (authForm.controls.elder_location.dirty)">
                <ion-option  *ngFor="let location of locations"  value={{location.id}} >{{location.location}}</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="!authForm.controls.elder_location.valid  && (authForm.controls.elder_location.dirty || submitAttempt)">
                <p class="valid err-reds">Please select location</p>
          </small>
		  	<hr/>
          <ion-row>
            <ion-col>
              <div class="personal-d"><p>Emergency Contacts</p></div>
            </ion-col>
          </ion-row>
		  	<hr/>
             <div  *ngFor="let item of emergency_list; let i=index">
			  <!--<ion-label>{{emergency_name[i]}}</ion-label>-->
			    <ion-label>Select here </ion-label>
            <ion-item>
            <ion-label>Emergency</ion-label>
              <ion-select class="select-brd"  [(ngModel)]="emergency_name[i]" 
              [ngModelOptions]="{standalone:true}">
                      <ion-option value="police">Police</ion-option>
                    <ion-option value="hospital">Hospital</ion-option>
                    <ion-option value="ambulance">Ambulance</ion-option>
                    <ion-option value="son">Son</ion-option>
              </ion-select>
            </ion-item>
            <ion-label>Number</ion-label>
         <ion-item>
              <ion-input type="text" [(ngModel)]="emergency_no[i]" 
              [ngModelOptions]="{standalone: true}"></ion-input>
           </ion-item>
             
          <ion-row>
            <ion-col width-50>
              <button class="add-btn" (click)="addEmergency()" ion-button icon-left clear>
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                 Add More
              </button>
            </ion-col>
            <ion-col *ngIf="i != 0" width-50>
              <button class="rem-btn" (click)="removeEmergency(i)" ion-button icon-left clear>
                <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>Remove
              </button>
            </ion-col>
          </ion-row>
        </div>
    
    <ion-item>
	 <ion-label style="text-align:left !important;">Interested in Elder job opportunities?</ion-label>
    <ion-checkbox [(ngModel)]="job_interest" [ngModelOptions]="{standalone: true}"> </ion-checkbox>
    </ion-item>

 
  <div *ngIf="job_interest">
     <ion-label>Interest</ion-label>
        <ion-item>
          <ion-label>Interest</ion-label>
            <ion-select class="select-brd" [(ngModel)]="area_of_interest"   [ngModelOptions]="{standalone: true}">
                <ion-option  *ngFor="let interest of areaOfInterest" >{{interest.label}}</ion-option>
            </ion-select>
        </ion-item>
    <ion-label>Job type</ion-label>
        <ion-item>
        <ion-label>Job type</ion-label>
          <ion-select class="select-brd" [(ngModel)]="job_type"   [ngModelOptions]="{standalone: true}">
              <ion-option  value="full time">Full TIme</ion-option>
              <ion-option  value="part time">Part TIme</ion-option>
            </ion-select>
        </ion-item>

        <div class="tag-skill_set">
        <!-- <ion-card> -->
            <rl-tag-input
             [ngModelOptions]="{standalone: true}"
            [addOnBlur]="false"
            [autocomplete]="true"
            [autocompleteItems]="skills"
            [(ngModel)]="skill_set"
            placeholder="Enter Your Skils..">
          </rl-tag-input>
        </div>
<hr/>
    <ion-row>
      <ion-col>
        <div class="personal-d"><p>Experience Details</div>
      </ion-col>
    </ion-row>
	<div class="clearfix"></div>
	<hr/>

    <div  *ngFor="let item of experience_list; let i=index" >
	  <ion-label>Industry</ion-label>
      <ion-item>
         <ion-label>Industry</ion-label>
            <ion-select class="select-brd" [(ngModel)]="experience_industry[i]" [ngModelOptions]="{standalone: true}">
              <ion-option *ngFor="let industry of functionalArea"  selected="item?.select" value={{industry.id}}>{{industry.name}}
              </ion-option>
            </ion-select>
			 
        </ion-item>
         <ion-label>Total Years</ion-label>
		    <ion-item>
              <ion-input [(ngModel)]="experience_years[i]" 
                [ngModelOptions]="{standalone: true}" type="text" value={{experience_years}}>
              </ion-input>
        </ion-item>
       
          <ion-label>Duration</ion-label>
		        <ion-item>
              <ion-input [(ngModel)]="experience_duration[i]" [ngModelOptions]="{standalone: true}" type="text" placeholder="Eg:April 2007-2011">
              </ion-input>
			        </ion-item>
       <ion-row>
        <ion-col width-50>
          <button class="add-btn" (click)="addExperience(i)" ion-button icon-left clear>
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>Add More
          </button>
        </ion-col>
        <ion-col *ngIf="i != 0" width-50>
          <button class="rem-btn" (click)="removeExperience(i)" ion-button icon-left clear>
            <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>Remove
          </button>
        </ion-col>
      </ion-row>
      </div>
 

  <!-- Educational Details-->

      <div>
	  <hr/>
          <ion-row>
            <ion-col>
              <div class="personal-d"><p>Educational Details</p></div>
            </ion-col>
          </ion-row>
		  <hr/>
          <div  *ngFor="let item of education_list; let i=index" >
          
            
              <ion-label>Graduation</ion-label>
            <ion-item>
                 <ion-label>Graduation</ion-label>
                <ion-select class="select-brd" [(ngModel)]="education_graduation[i]" [ngModelOptions]="{standalone: true}">
                  <ion-option *ngFor="let education of educations" value={{education.value}}>{{education.label}}
                  </ion-option>
                </ion-select>
            </ion-item>
			   <ion-label>Specialization</ion-label>
            <ion-item>
              <ion-label>Specialization</ion-label>
              <ion-select class="select-brd" [(ngModel)]="education_specialization[i]" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor="let specialization of specializations" value={{specialization.value}}>{{specialization.label}}
                </ion-option>
              </ion-select>
            </ion-item>
        
            <ion-label>College/University</ion-label>
            <ion-item>
                <ion-input [(ngModel)]="education_college[i]" [ngModelOptions]="{standalone: true}" type="text">
                </ion-input>
</ion-item>
           
            
          
		       <ion-row>
          <ion-col width-50>
              <button class="add-btn" (click)="addEducation()" ion-button icon-left clear >
                <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> &nbsp;Add More
              </button>
          </ion-col>
			    <ion-col *ngIf="i != 0" width-50>
          <button class="rem-btn" (click)="removeEducation(i)" ion-button icon-left clear>
            <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>Remove
          </button>
        </ion-col>
			</ion-row>
      </div>
      </div>
    </div>

      <!-- <div icon-only align-right style="background:none;" *ngIf="i != 0" (click)="removeEducation(i)">
                <ion-icon ios="ios-close-circle" md="md-close-circle" style="color:#333;"></ion-icon>
              </div>
 -->
  <!--END-->
  

    <div  *ngIf="functionality == 'add'">
     
          <ion-row>
            <ion-col>
              <div class="personal-d"><p>Login Details</p></div>
            </ion-col>
          </ion-row>
		  <hr/>
   
            <ion-label>Email Address *</ion-label>
			  <ion-item>
                <ion-input formControlName="elder_email"
                [class.invalid]="!authForm.controls.elder_email.valid && (authForm.controls.elder_email.dirty)" placeholder="Email" value={{elder_email}}>
                </ion-input>
				</ion-item>
                <small *ngIf="!authForm.controls.elder_email.valid  && (authForm.controls.elder_email.dirty || submitAttempt)">
                    <p class="valid err-reds">Please enter Email</p>
                </small>
            <ion-label>Password *</ion-label>
              <ion-input formControlName="elder_password" style="margin:0px;"
                [class.invalid]="!authForm.controls.elder_password.valid && (authForm.controls.elder_password.dirty)" type="text" placeholder="Password" value={{elder_password}}>
              </ion-input>
              <small *ngIf="!authForm.controls.elder_password.valid  && (authForm.controls.elder_password.dirty || submitAttempt)">
                <p class="valid err-reds">Please enter password</p>
              </small>
          </div>  
          <!-- <div>
            <ion-row>
              <ion-col>
                <button class="rem-btn" (click)="cancel()"  ion-button icon-left >
                  <ion-icon name="ios-close"></ion-icon>Cancel
                </button>
              </ion-col>
              <ion-col>
                 <button [disabled]="!authForm.valid" (click)="Submit()" class="back" ion-button icon-left round>
                <button class="add-btn" (click)="addDependent()" ion-button icon-left >
                  <ion-icon name="ios-arrow-round-forward"></ion-icon>Submit
                </button>
              </ion-col>
            </ion-row>
          </div> -->
      </form> <hr/>
      <ion-item *ngIf="this.functionality == 'profileEdit' ">
      <img [src]="base64Image" *ngIf="base64Image" width="90" height="90" />
      <ion-row>
      <button ion-button class="uploadimg" color="primary" (click)="accessGallery()"><i class="fa fa-upload"></i>&nbsp; Browse...</button>
    </ion-row>
    </ion-item>
</div>


</ion-content>
<ion-footer>
  <ion-toolbar> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="cancel()">
        <ion-icon class="gly-rotate-180" name="send"></ion-icon>
         <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="cancel()">
         <ion-icon class="gly-rotate-180" name="send"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="addDependent()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="addDependent()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<style>
[_nghost-ung-41]{box-shadow:0 0;}
.gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

</style>