page-elders{
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.add-depentsform .item-md .item-inner .input-wrapper .select-brd {
    width: 100%;
   
    text-align: left;
    margin-right:11px !important;
}
.err-reds {
    color: red !important;
    float: right;
    font-size: 12px !important;
    margin: 3px !important;
    padding-right:0px ;
}
.datetime-md {
    padding: 13px 8px 13px 4px;}

.sel-label{margin-left:5px !important;}
.datetime-ios {
    padding: 13px 8px 13px 4px;
}
.item-md.item-block .item-inner{ border-bottom:none;}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{border-bottom-color:none !important;box-shadow:none !important;}
.item-md.item-input.input-has-focus .item-inner{border:none;box-shadow:none !important;}
.add-depentsform .item-md { border:1px solid #ccc;}
.add-depentsform .label-md {color:#777;font-size:16px;font-weight:400;font-family:'Muli', sans-serif;}
.add-depentsform .item-md{padding-left:0px !important;}

.item-ios.item-block .item-inner{ border-bottom:none;}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{border-bottom-color:none !important;box-shadow:none !important;}
.item-ios.item-input.input-has-focus .item-inner{border:none !important;box-shadow:none !important;}
.add-depentsform .item-ios { border:1px solid #ccc;}
.add-depentsform .label-ios {color:#777;font-size:16px;font-weight:400;font-family:'Muli', sans-serif;}
.add-depentsform .item-ios{padding-left:5px !important;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{border-bottom-color:none !important;box-shadow:none !important;}
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{border-bottom-color:none !important;box-shadow:none !important;}
.datetime{margin-left:3px !important;}
.rem-btn.button-md{ background:#fe5722; margin:15px 0px 0px 0px !important;  height:35px; width:100%; color:#fff; font-size:15px !important;  font-weight:300;}
.add-btn.button-md{ background:#204d74; margin:15px 0px 0px 0px !important;  height:35px;width:100%; color:#fff; font-size:15px !important;  font-weight:300;}
.rem-btn.button-ios{ background:#fe5722; margin:15px 0px 0px 0px !important;  height:35px;width:100%; color:#fff; font-size:15px !important;  font-weight:300;}
.add-btn.button-ios{ background:#204d74; margin:15px 0px 0px 0px !important;  height:35px;width:100%; color:#fff; font-size:15px !important;  font-weight:300;}
.add-depentsform .item-md.checked-empyt{ border:none !important;}
.add-depentsform .item-md.checked-empyt .checkbox-md{  margin: 18px 9px 9px 4px !important;}
.add-depentsform .item-md.checked-empyt .item-inner .input-wrapper ion-label{ padding-top:10px;}

.add-depentsform .item-ios.checked-empyt{ border:none !important;}
.add-depentsform .item-ios.checked-empyt .checkbox-ios{  margin: 18px 9px 9px 4px !important;}
.add-depentsform .item-ios.checked-empyt .item-inner .input-wrapper ion-label{ padding-top:10px;}
.title-depen .personal-d p{ font-weight:600; font-size:15px !important; padding-left:0px;text-transform: uppercase; text-align:center; color:#404996; background:#DCDCDC;padding:10px; }
.title-depen{padding:10px 0px 0px 0px!important;}
.tag-skill_set input[type=text]{ height:55px; border:1px solid #ccc; width:100%;}
.ng2-tag-input-focus[_nghost-qkx-41]{box-shadow:none !important;}
[_nghost-qkx-41]{box-shadow:none !important;}
}

