<!--
  Generated template for the SubCategory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	<ion-title text-center text-capitalize>{{subCategoryTitle}}</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>


<ion-content class="content-intop">
<ion-card class="sel-packages">
<ion-item>
	<ion-label><p>Location</p></ion-label>
      <ion-select [(ngModel)]="serviceLocation" class="sub-cate-slec" (ionChange)='locationChanged()'>
        <ion-option class="sub-cate-slec" value="">Select location</ion-option>
        <ion-option class="sub-cate-slec" *ngFor = "let location of locations" value={{location.id}}>{{location.location}}
        </ion-option>
      </ion-select>
</ion-item>
</ion-card>
 <!-- <ion-searchbar ></ion-searchbar> -->
 <ion-input type="text" class="search" [(ngModel)]="term" placeholder="search"></ion-input>

<ion-card class="pack-listed">
<ion-item *ngFor = "let subcategory of subcategories.info |filter:term" 
[color]="subcategory.color" class="sub-cat-listed">
   <p (click)="openSelected(subcategory)"> {{subcategory.name}} </p><i class="fa fa-chevron-right left-right-side"></i>
</ion-item>
</ion-card>

 <ion-card class="slider-card">
 <h1 class="package-list-show">Packages (<span>{{packageCount}}</span>) </h1> 
    <ion-slides *ngIf="packages && packages.length"  autoplay="2000" loop="true" speed="500" class="slides">
        <!-- <div text-wrap> -->
      
           <ion-slide  *ngFor="let package of packages; let i=index" (click)="viewPackage(package.vendor_id)" class="slide-border">
            <ion-item>
      <ion-row class="pack-slider">
               <ion-col width-33> 
               
                <img [src]="imageUrl+package?.logo"/>
               
          </ion-col>
                 <ion-col width-67> 
				 <ion-item class="item-text-wrap">

                <h1>{{package.package_name | words :3 : '....'}} </h1>
                 <p>{{package.loc_name}}</p>
                <small><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;{{package.package_amount}}</small>
            
</ion-item>
              </ion-col>
        </ion-row>
            </ion-item>
          </ion-slide>
        <!-- </div> -->
        </ion-slides>
    </ion-card>
 
 <ion-item padding *ngIf="!subcategories?.info" text-wrap>
     <p>{{emptyRecord}}</p>
   </ion-item>
</ion-content>


