<!--
  Generated template for the SubCategory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{subCategoryTitle}}</ion-title>    
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-item>
      <ion-label>Location</ion-label>
      <ion-select [(ngModel)]="elderLocation" class="sub-cate-slec" (ionChange)='locationChanged()'>
        <ion-option class="sub-cate-slec" value="">Select Location</ion-option>
        <ion-option class="sub-cate-slec" *ngFor = "let location of locations" value={{location.id}}>{{location.location}}
        </ion-option>
      </ion-select>
</ion-item>
<ion-item *ngFor = "let subcategory of subcategories.info" [color]="subcategory.color" class="sub-cate">
	<h2><ion-title>{{subcategory.name}}</ion-title></h2>
	<ion-list *ngFor="let service of subcategory.services" ion-item (click)="itemSelected(service)" no-border>
	 <!-- <button > -->
	    <div class="sub-cate">
	   <p><ion-icon ios="md-arrow-dropright" md="md-arrow-dropright"></ion-icon>  {{ service.name }}</p>
	   </div>
	  <!--</button> -->
	</ion-list>
</ion-item>
<!--updated 3/22/2017-->
 <ion-card padding *ngIf="!subcategories?.info">
     <ion-card-content>
     {{emptyRecord}}
     </ion-card-content>
  </ion-card>
<!-- till this-->  
</ion-content>
