.ios, .md {

page-community {
.head{
	background-color:#0066CC;
}
.demo{
	background-color:#F2610D;
	font-size:14px;
	color:#ffffff;
}
.demo:hover{
	border-color:#0969e8;
}
.one{
	background-color:#0066CC;
	font-size:14px;
	color:#ffffff;
}
.two{
	background-color:#cce6ff;
}
.three
{
	border: 2px solid #80bfff;
    border-radius: 35px;
}
.hover:hover{
	border-color: #e86509;
}

h2{
	font-size: 20px;
}
p{
	font-size: 20px;
}
.image{
	width:60px;
	height:60px;
}
ion-content{
	background-color: #e6f2ff;
}
.post
{
	background-color: #ff4000;
}
.post:hover{
		background-color: #ff4000;

}
.cont{
	font-size: 18px;
}
.primary-color
{
	color:#1976d2;
}


}
}