page-connections {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.conn-seg{box-shadow:none !important; background:none !important;}

.inbox-sends ion-row ion-col h6{    color: #007994 !important;
    font-family: "Muli",sans-serif;
    font-size: 17px !important;
    padding-bottom:0px;
    margin: 0;}

.inbox-sends .item-inner .input-wrapper .label-md ion-row ion-col p span{color: #333 !important;
    font-family: "Muli",sans-serif;
    font-size:13px !important;
 
   }
.list-md .item-block .item-inner{ border:none;}
.inbox-sends .item-inner .input-wrapper .label-md{ margin:0px;}
.inbox-sends .item-inner .input-wrapper .label-md ion-row ion-col p i{font-size:12px !important; color:#666 !important; width:15px;}
.listed-rec{color:hsl(191, 100%, 29%) !important;
    font-family: "Muli",sans-serif; font-weight:600;
    font-size:15px !important; padding-top:10px;padding-bottom:10px;}
.send-req{ border:1px solid red;}
}