<ion-header>
<ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>Connections</ion-title>
      <ion-buttons right>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="getconnections == 'myConnections'" right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card class="conn-seg">
  <ion-segment [(ngModel)]="getconnections">
    <ion-segment-button value="myConnections" color="orange" (click)="onInit()">
     My Connections 
    </ion-segment-button>
    <ion-segment-button value="addConnections" color="primary" (click)="addConnectionsList()">
      People you may know
    </ion-segment-button>
   </ion-segment>
</ion-card>
    
    <div [ngSwitch]="getconnections">
      <ion-list *ngSwitchCase="'myConnections'"> 
        <ion-list *ngIf="connectionsaction == 'received'">
        <ion-row>
        <ion-col width-50>
        <ion-segment-button class="listed-rec">Received Requests</ion-segment-button>
        </ion-col>
           <ion-col width-50>
           <ion-segment-button class="listed-rec"><i class="fa fa-blind"></i>-Elder
           </ion-segment-button>
           </ion-col>
          </ion-row>
         <ion-row>
            <ion-col width-80><ion-searchbar [(ngModel)]="searchrec"></ion-searchbar>
            </ion-col>
              <ion-col width-20><button (click)="receivedsearch(searchrec)" ion-button small 
              class="go-btn">Go</button> </ion-col>
            </ion-row>
       <hr/>
            <div *ngFor="let request of receivedRquestInfo">
              <!-- <ion-item-sliding class="inbox-sends"> -->
            <ion-item text-wrap class="inbox-sends" *ngIf="error != 'No connections found'">

                  <ion-row>
                    <ion-col width-20>
                      <ion-avatar item-left (click)="CommunityUserWall(request?.id)">
                        <img src="{{imageUrl+request?.avatar}}" [hidden]="!request?.avatar">
                      </ion-avatar>
                    </ion-col>
                    <ion-col width-67>
                    <p>
                <span><h6 class="name-conne" (click)="CommunityUserWall(request?.id)"><i class="fa fa-blind" *ngIf="request?.user_type == 'elder' "></i>  {{request?.connections?.name}} {{request?.connections?.last_name}}</h6></span></p>
                   
                      <p [hidden]="!request?.connections?.location"><i class="fa fa-map-marker"></i> <span>{{request?.connections?.location}}</span></p>
                    </ion-col>
                  </ion-row>
				  <ion-row>
				  <ion-col>
                  <button ion-button icon-only class="active-btn"(click)="connectionStatus(request?.connection_id,1)">Accept</button>
                  <button ion-button icon-only class="inactive-btn" (click)="connectionStatus(request?.connection_id,2)">Reject</button>
				    </ion-col>
				  </ion-row>
                </ion-item>
            </div>
           
            <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>   
          </ion-list>
          <ion-list *ngIf="connectionsaction == 'sent'">
           <ion-row>
            <ion-col width-50>
          <ion-segment-button class="listed-rec">Sent Requests</ion-segment-button>
          </ion-col>
           <ion-col width-50>
           <ion-segment-button class="listed-rec"><i class="fa fa-blind"></i>-Elder
           </ion-segment-button>
           </ion-col>
          </ion-row>
         <!--   <ion-searchbar (input)="sendsearch($event)">
            </ion-searchbar>  --> 
               <ion-row>
            <ion-col width-80><ion-searchbar [(ngModel)]="searchsend"></ion-searchbar>
            </ion-col>
              <ion-col width-20><button (click)="sendsearch(searchsend)" ion-button small 
              class="go-btn">Go</button> </ion-col>
            </ion-row>
            
            <div *ngFor="let request of sentRquestInfo">
              <ion-item class="inbox-sends">
                <ion-row>
                  <ion-col width-20>
                    <ion-avatar item-left (click)="CommunityUserWall(request?.id)">
                      <img src="{{imageUrl+request?.avatar}}" 
                      [hidden]="!request?.avatar">
                    </ion-avatar>
                  </ion-col>
                  <ion-col width-67>
                   <p> <span>
                    <h6 class="name-conne" [hidden]="!request?.connections?.name" 
                    (click)="CommunityUserWall(request?.id)"><i class="fa fa-blind" *ngIf="request?.user_type == 'elder' "></i> {{request?.connections?.name}} {{request?.connections?.last_name}}
                    </h6></span></p>
                    <p [hidden]="!request?.connections?.location"><i class="fa fa-map-marker"></i><span> {{request?.connections?.location}}</span>   
                    </p>
                  </ion-col>
                   <ion-col width-20 class="connection-btn">
                    <button ion-button (click)="cancelMember(request.connection_id)" small><i class="fa fa-ban" aria-hidden="true"></i></button>
                  </ion-col>
                </ion-row>
              </ion-item>  <hr/>
           </div>
            
            <ion-infinite-scroll (ionInfinite)="doInfinite4($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>   
          </ion-list>

          <ion-list *ngIf="connectionsaction == 'all'">
          <ion-row>
          <ion-col width-50>
          <ion-segment-button class="listed-rec">All Connections</ion-segment-button>
          </ion-col>
           <ion-col width-50>
           <ion-segment-button class="listed-rec"><i class="fa fa-blind"></i>-Elder
           </ion-segment-button>
           </ion-col>
          </ion-row>
            <ion-row>
            <ion-col width-80><ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
            </ion-col>
              <ion-col width-20><button (click)="search(searchText)" ion-button small 
              class="go-btn">Go</button> </ion-col>
            </ion-row>
         <!--    <ion-searchbar (input)="search($event)">
            </ion-searchbar> -->
             
            <div *ngFor="let all of allConnectionsInfo; let islast=last;">
              <ion-item class="inbox-sends">
                <ion-row>
                  <ion-col width-20>
                    <ion-avatar item-left>
                      <img src="{{imageUrl+all?.avatar}}" [hidden]="!all?.avatar" 
                      (click)="CommunityUserWall(all?.id)">
                    </ion-avatar>
                  </ion-col>
                <ion-col width-67>
                <p>
                <span>
                  <h6 class="name-conne" (click)="CommunityUserWall(all?.id)"><i class="fa fa-blind" *ngIf="all?.user_type == 'elder' "></i>  {{all?.connections?.name}} {{all?.connections?.last_name}}</h6>
                </span></p>
                  <p [hidden]="!all?.connections?.location"><i class="fa fa-map-marker"></i><span> {{all?.connections?.location}}</span></p>
                </ion-col>
              </ion-row> 
            </ion-item>
			
          </div>
          
          <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>    
        </ion-list><hr/>

          </ion-list>
         
        <ion-list *ngSwitchCase="'addConnections'"> 
       <!--    <ion-searchbar *ngIf="addConnectionInfo.length != 0" (input)="search1($event)"></ion-searchbar> -->
           <!-- <ion-searchbar (input)="search1($event)"></ion-searchbar> -->
           <ion-row>
            <ion-col width-80><ion-searchbar [(ngModel)]="searchadd"></ion-searchbar>
            </ion-col>
              <ion-col width-20><button (click)="search1(searchadd)" ion-button small 
              class="go-btn">Go</button> </ion-col>
            </ion-row>
        
            <ion-list *ngFor="let request of addConnectionInfo">
              <ion-item class="inbox-sends" *ngIf="error != 'No records found'">
                <ion-row>
                  <ion-col width-20>
                    <ion-avatar item-left (click)="CommunityUserWall(request?.id)">
                    <img src="{{imageUrl+request?.avatar}}" [hidden]="!request?.avatar">
                    </ion-avatar>
                  </ion-col>
                  <ion-col width-80 text-wrap>
                    <h6 class="name-conne" text-wrap (click)="CommunityUserWall(request?.id)">{{request?.connections?.name}} {{request?.connections?.last_name}}
                    </h6>
                    <p [hidden]="!request?.connections?.location">
                    <i class="fa fa-map-marker"></i> <span>{{request?.connections?.location}}</span> </p>
					<button ion-button (click)="connectMember(request.id,request.connections.name,request.connections.last_name)" small class="conneted-area">Connect</button>
                  </ion-col>
          
                </ion-row>
              </ion-item>
            </ion-list>
        
              <ion-infinite-scroll (ionInfinite)="doInfinite3($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll> 
          </ion-list>

       </div>

        <ion-fab bottom right *ngIf="allConnectionsInfo.length != 0" style="">
        <button ion-fab mini (click)="scrollToTop()"><ion-icon name="arrow-dropup">
        </ion-icon></button>
      </ion-fab>

</ion-content>

