<!--
  Generated template for the Connections page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Connections</ion-title>
   <!-- <ion-buttons right>    
      <button ion-button icon-only>
       <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>


<ion-content padding style="background:#fff;">
<div padding>
  <ion-segment [(ngModel)]="connections">
    <ion-segment-button value="all" color="orange" (click)="onInit()">
      All
    </ion-segment-button>
    <ion-segment-button value="received" color="primary" (click)="receivedRquest()">
      Received Requests
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="connections">
  <ion-list *ngSwitchCase="'received'">  
  <div *ngFor="let request of receivedRquestInfo">
    <ion-grid>
    <ion-row>
    <ion-col width-20>
    <ion-avatar item-left (click)="CommunityUserWall(request?.id)">
    <img src="{{imageUrl+request?.avatar}}" [hidden]="!request?.avatar" (click)="CommunityUserWall(request?.id)">
    </ion-avatar></ion-col>
    <ion-col width-67>
    <h6 class="name-conne">{{request?.connections?.name}} </h6>
    <p class="connection-pages"><i class="fa fa-inbox"> </i> {{request?.connections?.email}}</p>
    <p class="connection-page" [hidden]="!request?.connections?.location">
    <i class="fa fa-map-marker"></i> {{request?.connections?.location}}    
    </p>
	
    </ion-col>
      <ion-col width-20> 
      <button ion-button icon-only class="active-btn"(click)="connectionStatus(request?.connection_id,1)">
        <i class="fa fa-check"></i>
    </button>
    <button ion-button icon-only class="inactive-btn" (click)="connectionStatus(request?.connection_id,2)">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    </ion-col>
    </ion-row>

    </ion-grid>  
		<hr/>

    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>   
  </ion-list>

  <ion-list *ngSwitchCase="'all'">
    <ion-searchbar (input)="search($event)"></ion-searchbar>
    <div *ngFor="let all of allConnectionsInfo; let islast=last;">
    <ion-grid>
    <ion-row>
    <ion-col width-20>
    <ion-avatar item-left>
    <img src="{{imageUrl+all?.avatar}}" [hidden]="!all?.avatar" (click)="CommunityUserWall(all?.id)">
    </ion-avatar></ion-col>
    <ion-col width-80>
    <h6 class="name-conne" (click)="CommunityUserWall(all?.id)">{{all?.connections?.name}} </h6>
    <p class="connection-pages"><i class="fa fa-inbox"> </i> {{all?.connections?.email}}</p>
    <p class="connection-page" [hidden]="!all?.connections?.location">
    <i class="fa fa-map-marker"></i> {{all?.connections?.location}}    
    </p>
    </ion-col>
    </ion-row> 
    </ion-grid>
	<hr/>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>    
  </ion-list>

</div>
</ion-content>
