<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Profile</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="Myprofile"> 
  <div class="profile-edit">
    <span class="profile-img">
      <img alt="logo" [src]="base64Image" *ngIf="base64Image" />
    </span>
    <p text-capitalize>{{profileData?.name}} {{profileData?.last_name}}</p>
    <span *ngIf="user_type =='sponsor' " class="desigination">{{profileData?.designation}}</span>
    <button  (click)="editProfile()" class="edit-profile-btn">
      <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit Profile
    </button>
  </div>  
  <div class="profile-view">
    <div class="listed-profiles" color="mistyrose">
      <p *ngIf="user_type =='elder' ">
        <i class="fa fa-building-o"></i>&nbsp;{{profileData?.relation}}</p>   
      <p *ngIf="user_type =='sponsor' ">
        <i class="fa fa-building-o"></i>&nbsp;{{profileData?.company_name}}</p>    
      <p *ngIf="user_type !='elder' ">
        <i class="fa fa-suitcase"></i>&nbsp;{{profileData?.employee_id}}</p>
      <p>
        <i class="fa fa-phone"></i>&nbsp;{{profileData?.mobile}}
        <button ion-button clear (click)="showPrompt()" *ngIf="profileData?.mobile_verified == 0" class="verified-s">
          <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
          verify</button>
        <button ion-button clear *ngIf="profileData?.mobile_verified == 1" class="verified-d">
          <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
          verified</button>
      </p>
      <p *ngIf="user_type =='sponsor' ">
        <i class="fa fa-envelope-o"></i>&nbsp;{{profileData?.personal_email}}</p>      
      <p>
        <i class="fa fa-map-marker"></i>&nbsp;{{profileData?.locationName}}</p>
      <p>
        <i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp;{{user_dob}}
      </p>
      <p>
        <i class="fa fa-envelope-o"></i>&nbsp;{{profileData?.email}}</p>
      <p *ngIf="user_type !='sponsor' ">
        <i class="fa fa-map-marker"></i>&nbsp;{{profileData?.address}}</p>
         <p *ngIf="profileData?.available_account_balance != null && profileData?.available_account_balance != ''">Available Balance: <i class="fa fa-rupee"></i>&nbsp;{{profileData?.available_account_balance}}</p>
    </div>
  </div>
</ion-content>
