<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Member Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
	  <ion-card>
		  <ion-row>
			  <ion-col width-20>
				  	<ion-item>
					  <ion-avatar item-left class="image-profile">
					  	<img [src]="imageUrl+communityProfileData?.avatar" 
					  	[hidden]="!communityProfileData?.avatar">
					  </ion-avatar>
					</ion-item>
			  </ion-col>
			 
			  	 <ion-col *ngIf="status === 3">
				  <button ion-button (click)="connectMember(communityProfileData)">CONNECT
				  </button>
				  </ion-col >
				  <ion-col *ngIf ="status === 0">
					  <button ion-button disabled="true">Request Sent
					  </button>
				  </ion-col>
				  <ion-col  *ngIf="status === 2">
					  <button ion-button disabled="true">Rejected
					  </button>
				  </ion-col>
				  <ion-col  *ngIf="status === 1">
					  <button ion-button disabled="true">Connected
					  </button>
				  </ion-col>
				  <ion-col *ngIf="status === 1">
					  <button ion-button (click)="messageModel(communityProfileData)">Message
					  </button>
				  </ion-col>
			</ion-row>
		  <ion-row>
			  <ion-col>
				  <p style="text-align:left;">{{communityProfileData?.name}}</p>
			  </ion-col>
			  <ion-col>
				  <button ion-button icon-only clear (click)="profileSetting(communityProfileData.id)">
		          			<i class="fa fa-user" aria-hidden="true"></i>
				  </button>
			  </ion-col>
		  </ion-row>
		  			
		  </ion-card>

		    <hr/>
		  
		 <ion-segment [(ngModel)]="community" class="segment-top">
	        <ion-segment-button value="activity">
	          Activity
	        </ion-segment-button>
	        <ion-segment-button (click)="Communities()" value="communities">
	          Communities
	        </ion-segment-button>
	        <ion-segment-button (click)="Connections(communityProfileData?.id,'')" value="connections">
	          Connections
	        </ion-segment-button>
        </ion-segment>
       	<div [ngSwitch]="community">
		    <ion-list *ngSwitchCase="'activity'">
		    	<div>
		  			<ion-card>
						<ion-item class="edit">
					  		<h2 class="wel-comemem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Update Status</h2>
					  	</ion-item>
					  	   <hr>
			  	  		<ion-card-content style="padding:3px !important;">
					  		<div class="three">
					      		<ion-textarea [(ngModel)]="post" type="text" placeholder="Whats in your mind?">
					      		</ion-textarea>
				    		</div>
		    			</ion-card-content>
		    			<ion-card-content style="padding:0px !important;">
		    				<ion-row>
								<ion-col>
									<button ion-button style="width:100%;" icon-only 
								(click)="accessGallery()" class="video comm-listpag"><i class="fa fa-picture-o"></i>&nbsp;</button>
								 	<img [src]="base64Image" *ngIf="base64Image" />
								</ion-col>
							</ion-row>
		    				<ion-row>
								<ion-col>
									<button ion-button (click)="addVideos()" icon-only medium class="video comm-listpag">
									<i class="fa fa-video-camera"></i>&nbsp;</button>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<div *ngIf(addVideo)>
										<ion-item  class="video" >
											<ion-input [(ngModel)]="videoUrl" type="text" placeholder="Enter Video Url...">
											</ion-input>
										</ion-item>
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
			    				<ion-col>
			    					<div>
										<button ion-button medium icon-only (click)="addUserPosts
										(communityProfileData.id)" class="post comm-postlist"><i class="fa fa-paper-plane"></i>&nbsp;</button>
									</div>
								</ion-col>
							</ion-row>
		   				</ion-card-content>
		    		</ion-card>
				</div>

 	 		<ion-list *ngFor="let community of communityProfile; let i=index">
 			<div>
 				<ion-item>
	      			<ion-row>
	      				<ion-col>
	        				<ion-avatar item-left>
		          				<img [src]="imageUrl+community?.community_logo" 
		          					[hidden]="!community?.community_logo"
		          					(click)="goBackToCommunity(community.com_id)">
		        			</ion-avatar>
	        			</ion-col><br>
	        			<ion-col width-20>
		        			<ion-card-content>
			          			<h2 (click)="goBackToCommunity(community.com_id)">{{community.community_name}}</h2>
			          			<p class="time-datem"><i class="fa fa-calendar-o"></i> &nbsp; {{community.created_at}}</p>
			          		</ion-card-content>
						</ion-col>
						<ion-col offset-50>
			        		<!-- <button ion-button color="dark" clear (click)="itemDetails()">
			          			<ion-icon  item-left name="arrow-dropdown"></ion-icon>
			          		</button>
	          		<div *ngIf(itemComments)>
	          			<button  ion-button full color="light" >Block</button>
	          			<button  ion-button full color="light" >Report</button>
	          		</div> -->
	          			</ion-col>
	       			</ion-row>
	    		</ion-item>
		      		<ion-card-content [hidden]="!community?.post_message">
			          	<p>{{community.post_message}}</p><br>
			        </ion-card-content>
			        <ion-card-content [hidden]="!community?.post_image">
			          	<img  [src]="imageUrl+community?.post_image" [hidden]="!community?.post_image">
			       	</ion-card-content>
		       		<ion-card-content [hidden]="!community?.post_video">
						<iframe [src]="cleanURL(community?.post_video)" frameborder="0" [hidden]="!community?.post_video">
		         		</iframe>
		       		</ion-card-content>
	       	 		<div>
	      				<ion-row>
		        			<ion-col width-15>
			          			<button class="hover but-colo" ion-button outline 
			          			(click)="addLikes(community.id)" color="light">
			            			{{community.likes.emoji}} &nbsp; <p class="num-of">{{community.likes.emoji_name}}</p>
			          			</button>
		        			</ion-col>
		        	
		        			<ion-col>
			          			<button ion-button class="comment but-colo" color="dark" clear 
			          			(click)="showComment(community)">
			          				<span style="color:red; font-size:13px;">{{community.comment_count}}</span>&nbsp;<i class="fa fa-comments" aria-hidden="true"></i>
			          			</button>
		          			</ion-col>
		          			<ion-col>
				          		<button ion-button class="comment but-colo" color="dark" icon-only clear>&nbsp;
				          		<i class="fa fa-pencil-square-o" aria-hidden="true" 
				          		(click)="addDetails(i)"></i>
				          		</button>
			          		</ion-col>
	      				</ion-row>
	      				<div *ngIf="i==showblock">
	      					
							<ion-label class="liste-edit" style="text-align:left !important; padding-left:5px !important;">Enter Comments...</ion-label>
	      				<ion-item>
				   			<ion-textarea [(ngModel)]="comment" style=" margin:0px !important;">
				   		    </ion-textarea>
						</ion-item>
							<div class="send-req">
							<button ion-button (click)="sendPost(community.id)" class="secon-sdms" color="secondary" full><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 
							</button>

							</div>
  							
	      			</div>
	      		</div>
	      	</div>
	      </ion-list>
					
	</ion-list>
    	
	<ion-list *ngSwitchCase="'communities'">
		<ion-card *ngFor="let community of getCommunityMembers">
			<div class="community-img">
		 		 <img (click)="detailCommunity()" [src]="imageUrl+community?.banner" 
		 		 [hidden]="!community?.banner" />
		    </div>
          	<ion-card-content>
            	<ion-card-title>
              		<ion-row>
                		<ion-col style="padding-left:0px !important;">
		                  <p class="tid-cd"(click)="detailCommunity()" 
		                  [hidden]="!community.community_name">{{community.community_name}}</p>
		                </ion-col>
              		</ion-row> 
             	</ion-card-title>
            </ion-card-content>
		</ion-card>
	</ion-list>
	<ion-list *ngSwitchCase="'connections'">
		<ion-row>
		  	<ion-col>
			  	<div>
					<ion-searchbar (ionInput)="setItems($event)">
					</ion-searchbar>
				</div>
			</ion-col>
		</ion-row>
		<ion-card *ngFor="let all of allConnections?.data; let islast=last;">
   			<ion-row>
	    		<ion-col width-20>
	    			<ion-avatar item-left>
	    				<img src="{{imageUrl+all?.avatar}}" [hidden]="!all?.avatar" 
	    				(click)="loadThisPage(all?.id)">
	    			</ion-avatar>
	    		</ion-col>
    			<ion-col width-67>
    				<h1 class="primary-color" (click)="loadThisPage(all?.id)">{{all?.connections?.name}}</h1>
	    				<p>{{all?.connections?.company_name}}</p>
	    				<p><ion-icon ios="ios-briefcase" md="md-briefcase" [hidden]="!all?.connections?.designation"></ion-icon> {{all?.connections?.designation}}</p>
	 					<p><ion-icon ios="ios-call" md="md-call" [hidden]="!all?.connections?.mobile"></ion-icon>  {{all?.connections?.mobile}}</p>
    			</ion-col>
      		</ion-row>    
  		</ion-card>
  	</ion-list>
	</div>
</ion-content>
	