<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Member Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="segments-info" style="background:#fff;">
  
	  
		  <ion-row>
			  <ion-col width-30>
				  	<ion-item>
					  <ion-avatar item-left class="image-profile">
					  	<img [src]="imageUrl+communityProfileData?.avatar" 
					  	[hidden]="!communityProfileData?.avatar">
					  </ion-avatar>
					</ion-item>
			  </ion-col>
			 
			  	 <ion-col *ngIf="status === 3">
				  <button ion-button (click)="connectMember(communityProfileData)">Connect
				  </button>
				  </ion-col >
				  <ion-col *ngIf ="status === 0">
					  <button ion-button disabled="true">Request Sent
					  </button>
				  </ion-col>
				  <ion-col  *ngIf="status === 2">
					  <button ion-button disabled="true">Rejected
					  </button>
				  </ion-col>
				  <ion-col  *ngIf="status === 1">
					  <button ion-button disabled="true">Connected
					  </button>
				  </ion-col>
				  <ion-col *ngIf="status === 1">
					  <button ion-button (click)="messageModel(communityProfileData)">Message
					  </button>
				  </ion-col>
			</ion-row>
		  <ion-row>
			  <ion-col>
				  <p style="text-align:left;" class="mem-name">{{communityProfileData?.name}}</p>
			  </ion-col>
			  <ion-col>
				  <button ion-button icon-only clear (click)="profileSetting(communityProfileData.id)">
		          			<i class="fa fa-user" aria-hidden="true"></i>
				  </button>
			  </ion-col>
		  </ion-row>


		    <hr/>
		  
		 <ion-segment [(ngModel)]="community" class="segment-top">
	        <ion-segment-button value="activity">
	          Activity
	        </ion-segment-button>
	        <ion-segment-button (click)="Communities()" value="communities">
	          Communities
	        </ion-segment-button>
	        <ion-segment-button (click)="Connections(communityProfileData?.id,'')" value="connections">
	          Connections
	        </ion-segment-button>
        </ion-segment>
       	<div [ngSwitch]="community">
		    <ion-list *ngSwitchCase="'activity'">
		    	<div class="updated-staus-btn">
		  		
						<ion-item class="edit">
					  		<h2 class="wel-comemem">Update Status</h2>
					  	</ion-item>
					  
			  	  		<ion-card-content style="padding:3px !important; margin:0px;">
					  		<div class="three">
					      		<ion-textarea [(ngModel)]="post" type="text" placeholder="Whats in your mind?" style="margin:0px;"></ion-textarea>
				    		</div>
		    			</ion-card-content>
		    			<ion-card-content style="padding:0px !important;">
		    				<ion-row>
								<ion-col>
									<button ion-button style="width:100%;" icon-only 
								(click)="accessGallery()" class="video comm-listpag"><i class="fa fa-picture-o"></i>&nbsp;</button>
								 	<img [src]="base64Image" *ngIf="base64Image" />
								</ion-col>
							</ion-row>
		    				<ion-row>
								<ion-col>
									<button ion-button (click)="addVideos()" icon-only medium class="video comm-listpag">
									<i class="fa fa-video-camera"></i>&nbsp;</button>
								</ion-col>
							</ion-row>
							<ion-row  *ngIf(addVideo)>
								<ion-col>
									<div>
										<ion-item  class="video" >
											<ion-input [(ngModel)]="videoUrl" type="text" placeholder="Enter Video Url...">
											</ion-input>
										</ion-item>
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
			    				<ion-col>
			    					<div>
										<button ion-button medium icon-only (click)="addUserPosts
										(communityProfileData.id)" class="post comm-postlist"><i class="fa fa-paper-plane"></i>&nbsp;</button>
									</div>
								</ion-col>
							</ion-row>
		   				</ion-card-content>
		 
				</div>
<hr/>
 	 		<ion-list *ngFor="let community of communityProfile; let i=index">

 			<div>
 				<ion-item>
	      			<ion-row>
	      				<ion-col>
	        				<ion-avatar item-left>
		          				<img [src]="imageUrl+community?.community_logo" 
		          					[hidden]="!community?.community_logo"
		          					(click)="goBackToCommunity(community.com_id)">
		        			</ion-avatar>
	        			</ion-col><br>
	        			<ion-col width-20>
		        			<ion-card-content>
			          			<h2 (click)="goBackToCommunity(community.com_id)">{{community.community_name}}</h2>
			          			<p class="time-datem"><i class="fa fa-calendar-o"></i> &nbsp; {{community.created_at}}</p>
			          		</ion-card-content>
						</ion-col>
						<ion-col offset-50>
			  
	          			</ion-col>
	       			</ion-row>
	    		</ion-item>

	       	 		<div>
				<ion-row>
				<ion-col>
			          	<p class="feed-post">{{community.post_message}}</p>
					
			       
			          	<img  [src]="imageUrl+community?.post_image" [hidden]="!community?.post_image">
						</ion-col>
			       	</ion-row>
		       		<ion-card-content [hidden]="!community?.post_video" class="video-updates">
						<iframe [src]="cleanURL(community?.post_video)" frameborder="0">
		         		</iframe>
		       		</ion-card-content>
	       	 		
	      				<ion-row>
		        			<ion-col width-15>
			          			<button class="hover but-colo" ion-button outline 
			          			(click)="addLikes(community.id)" color="light">
			            			{{community.likes.emoji}} &nbsp; <p class="num-of">{{community.likes.emoji_name}}</p>
			          			</button>
		        			</ion-col>
		        	
		        			<ion-col>
			          			<button ion-button class="comment but-colo" color="dark" clear 
			          			(click)="showComment(community)">
			          				<span style="color:red; font-size:13px;">{{community.comment_count}}</span>&nbsp;<i class="fa fa-comments" aria-hidden="true"></i>
			          			</button>
		          			</ion-col>
		          			<ion-col>
				          		<button ion-button class="comment but-colo" color="dark" icon-only clear>&nbsp;
				          		<i class="fa fa-pencil-square-o" aria-hidden="true" 
				          		(click)="addDetails(i)"></i>
				          		</button>
			          		</ion-col>
	      				</ion-row>
						<hr/>
	      				<div *ngIf="i==showblock">
	      					
							
	      				<ion-item>
				   			<ion-textarea [(ngModel)]="comment" placeholder="Enter Comments" style=" margin:0px !important;">
				   		    </ion-textarea>
						</ion-item>
							<div class="send-req">
							<button ion-button (click)="sendPost(community.id)" class="secon-sdms" color="secondary" full><i class="fa fa-paper-plane-o" aria-hidden="true"></i> 
							</button>

							</div>
  							
	      			</div>
	      		</div>
	      	</div>
	      </ion-list>
					

		</ion-list>

    	
	<ion-list *ngSwitchCase="'communities'">
		<ion-item style="position:relative;" *ngFor="let community of getCommunityMembers">
			<div class="community-img">
		 		 <img (click)="detailCommunity()" style="width:100%; height:200px;" 
		 		 [src]="imageUrl+community?.banner" 	 		 
		 		 [hidden]="!community?.banner" />
				 <div class="label-opc">
			   <ion-item text-wrap style="text-align:left !important;"  (click)="goBackToCommunity()" 
		                  [hidden]="!community.community_name">{{community.community_name}}</ion-item>
			   </div>
		        <!--<ion-row>
                		<ion-col style="padding-left:0px !important;">
		                  <p class="tid-cd"(click)="detailCommunity()" 
		                  [hidden]="!community.community_name">{{community.community_name}}</p>
		                </ion-col>
              		</ion-row> -->
             	</div>
		</ion-item>
	</ion-list>
	<ion-list *ngSwitchCase="'connections'">
		<ion-row>
		  	<ion-col>
			  	<div>
					<ion-searchbar (ionInput)="setItems($event)">
					</ion-searchbar>
				</div>
			</ion-col>
		</ion-row>
		<ion-card *ngFor="let all of allConnections?.data; let islast=last;">
   			<ion-row>
	    		<ion-col width-20>
	    			<ion-avatar item-left>
	    				<img src="{{imageUrl+all?.avatar}}" [hidden]="!all?.avatar" 
	    				(click)="loadThisPage(all?.id)">
	    			</ion-avatar>
	    		</ion-col>
    			<ion-col width-67>
    				<h1 class="primary-color" (click)="loadThisPage(all?.id)">{{all?.connections?.name}}</h1>
	    				<p>{{all?.connections?.company_name}}</p>
	    				<p><ion-icon ios="ios-briefcase" md="md-briefcase" [hidden]="!all?.connections?.designation"></ion-icon> {{all?.connections?.designation}}</p>
	 					<p><ion-icon ios="ios-call" md="md-call" [hidden]="!all?.connections?.mobile"></ion-icon>  {{all?.connections?.mobile}}</p>
    			</ion-col>
      		</ion-row>    
  		</ion-card>
  	</ion-list>
	</div>
</ion-content>
	