<!--
  Generated template for the Blogs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	<ion-title text-center text-capitalize><span *ngFor="let title of singleJobInfo">{{title?.title}} 
    </span></ion-title>
    <ion-title *ngIf="appliedjobs" text-center text-capitalize><span *ngFor="let title of myjobrequestinfo">{{title?.title}} 
    </span></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card *ngIf(!appliedjobs) class="job-detailsvie">

<div *ngFor="let singleJob of singleJobInfo">
<ion-row>
 <ion-col width-20>


 <img [src]="imageUrl+logo" [hidden]="!logo" width="80" height="40"/>
  

</ion-col>
<ion-col width-80>
 <h2 text-capitalize>{{singleJob?.title}}</h2>
 </ion-col>

</ion-row>
<p><i class="fa fa-map-marker" aria-hidden="true" style="padding-left:3px;"></i><span *ngFor="let locations of singleJob?.location; let isLast1=last" >{{locations?.location}}{{isLast1 ? '' : ', '}}</span></p>  
<p><i class="fa fa-building-o"></i><span>{{singleJob?.company_name}}</span></p>
 <p><i class="fa fa-calendar-o"> </i><span *ngIf="singleJob?.created_at">Posted On: {{singleJob?.created_at |  date :'MMM dd y'}}</span></p>
 <p><i class="fa fa-calendar-o"> </i><span *ngIf="singleJob?.job_expiry">Valid Upto: {{singleJob?.job_expiry}}</span></p>

<ion-row>

<ion-col class="single-jobs">
<b>Job Type</b>
<span *ngFor="let jobType of singleJob?.job_type; let isLast2=last">{{jobType?.name}}{{isLast2 ? '' : ', '}}</span>

 
<b>Salary</b>
<span *ngIf="singleJob?.salary">RS:{{singleJob?.salary}} </span> 
 <span *ngFor="let funArea of functional_area">{{funArea?.name}}</span> 
   
<b>Experience</b><span>{{singleJob?.min_experience}} - {{singleJob?.max_experience}} years</span> 
    
     <b>Skills</b><span *ngIf="singleJob?.skills"><ion-badge *ngFor="let skills of singleJob?.skills">{{skills?.skills}}</ion-badge> </span>

      <b>Job Description</b>
     <span [innerHtml]="singleJob?.description" style="margin:0px !important;"></span>
</ion-col>

</ion-row>
<ion-row>
<ion-col>
  <button ion-button  class="oranges" full *ngIf="user_type == 'sponsor'" (click)="applyJob(singleJob?.id)"><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Apply</button>
   <button ion-button  class="oranges" *ngIf="user_type == 'elder'" full><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Applied</button>
  </ion-col>
</ion-row>
<hr/>


<ion-row>
<ion-col class="single-jobscotact">
<h2>Contact Details</h2>
<span text-capitalize><i class="fa fa-user-o" aria-hidden="true"></i> {{singleJob?.contact_name}}</span> 
<span><i class="fa fa-phone" aria-hidden="true"></i> {{singleJob?.contact_mobile}}</span> 
<span><i class="fa fa-envelope" aria-hidden="true"></i> {{singleJob?.contact_email}}</span> 
<span><i class="fa fa-internet-explorer" aria-hidden="true"></i> <a href="{{singleJob?.user?.website}}">{{singleJob?.user?.website}}</a></span>
</ion-col>

</ion-row>

<br/>
</div>
</ion-card>

<ion-card class="job-detailsvie" *ngIf(appliedjobs)>

<div *ngFor="let applyjob of myjobrequestinfo">
<ion-row>
<ion-col>
 <h2 text-capitalize>{{applyjob?.title}}</h2>
  </ion-col>
 <ion-col>
  <ion-item>
 <ion-avatar item-start>
 <img [src]="imageUrl+logo"  
        [hidden]="!logo">
        </ion-avatar>
</ion-item>
</ion-col>
</ion-row>
<p><i class="fa fa-building-o"></i><span>{{applyjob?.company_name}}</span></p>
<p><i class="fa fa-calendar-o"> </i><span *ngIf="applyjob?.created_at">{{applyjob?.created_at |  date :'MMM dd y'}}</span></p>
<p><i class="fa fa-map-marker" aria-hidden="true" style="padding-left:3px;"></i><span *ngFor="let locations of applyjob?.location; let isLast1=last" >{{locations?.location}}{{isLast1 ? '' : ', '}}</span></p>  
 <p><i class="fa fa-calendar-o"> </i><span *ngIf="applyjob?.created_at">Posted On: {{applyjob?.created_at |  date :'MMM dd y'}}</span></p>
 <p><i class="fa fa-calendar-o"> </i><span *ngIf="applyjob?.job_expiry">Valid Upto: {{applyjob?.job_expiry}}</span></p>

<hr/>
  
<ion-row>

<ion-col class="single-jobs">
<b>Job Type</b>
    <span *ngFor="let jobType of applyjob?.job_type; let isLast2=last">{{jobType?.name}}{{isLast2 ? '' : ', '}}</span>
   
<b>Salary</b><span *ngIf="applyjob?.salary">{{applyjob?.salary}} </span> 
 <span *ngFor="let funArea of functional_area">{{funArea?.name}}</span> 
   
  <b>Experience</b><span>{{applyjob?.min_experience}} - {{applyjob?.max_experience}} years</span> 
    
     <b>Skills</b><span *ngIf="applyjob?.skills"><ion-badge *ngFor="let skills of applyjob?.skills">{{skills?.skills}}</ion-badge> </span>

      <b>Job Description</b>
     <span [innerHtml]="applyjob?.description" style="margin:0px !important;"></span>
</ion-col>

</ion-row>
<ion-row>
<ion-col>
  <button *ngIf="user_type == 'sponsor'" (click)="applyJob(applyjob?.id)" ion-button class="oranges" full ><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Apply</button>
  <button *ngIf="user_type == 'elder'" ion-button class="oranges" full ><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Applied</button>
  </ion-col>
</ion-row>
<hr/>


<ion-row>
<ion-col class="single-jobscotact">
<h2>Contact Details</h2>
<span text-capitalize><i class="fa fa-user-o" aria-hidden="true"></i> {{applyjob?.contact_name}}</span> <br/>
<span><i class="fa fa-phone" aria-hidden="true"></i> {{applyjob?.contact_mobile}}</span> <br/>
<span><i class="fa fa-envelope" aria-hidden="true"></i> {{applyjob?.contact_email}}</span> <br/>
<span><i class="fa fa-internet-explorer" aria-hidden="true"></i> <a href="{{singleJob?.user?.website}}">{{applyjob?.user?.website}}</a></span>
</ion-col>

</ion-row>

<br/>
 </div>

</ion-card>
 
 </ion-content>

