@charset "utf-8";
/* CSS Document */

body {
	background: #f3f7ff url(../img/bg.jpg) no-repeat center top;
font-size:15px !important;
color:#777;font-family: 'Asap', sans-serif;
}
header {
	padding: 15px 0px;
	background: #1d6ab2;
	margin-bottom: 10px;
}
header > div > div > div > h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
}
header > div > div > div > a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
header > div > div > div > a:hover {
	color: #fe5722;
}
.header-mobile-account {
	background: #4c5e70;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.header-mobile-account > .head-text > h4 {
	color: #fff;
	margin: 0;
}
.header-mobile-account > .head-text > p {
	color: #fff;
	margin-bottom: 0px;
}
.main {
	max-width: 320px;
	margin: 0px auto 0;
}
.top-home { margin-left:15px;}
h3 {
	text-align: center;
	line-height: 300%;
	margin: 0;
	padding: 0;
}
.form-control {
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	text-align: left;
	font-size: 16px;
}
label {
	text-align: center;
	display: block;
	border: none !important;
}
.login-logo {
	padding-top: 50px;
}
form > button {
	text-align: center;
}
.btn-primary {
	background: #1976d2;
	border: 1px solid #1976d2;
	color: #fff !important;
}
.btn-blue {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #1976d2;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	height: 60px;
}
.btn-blue:hover {
	background: #3085dc;
	text-decoration: none;
	color: #fff;
}
.panel-body p{ line-height:25px;}
.panel-act-plus > .panel-body {
    font-size: 16px !important; 
}
.pro-info > p.small > span{font-size: 13px;
    font-weight: 400;
    line-height: 30px;}
	.pro-info > p {
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0 0 5px;
}
.btn-orange {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #f97500;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	height: 60px;
}
.btn-orange:hover {
	background: #ee7000;
	text-decoration: none;
	color: #fff;
}
.btn-orange-one {
	background: #f97500;
	border: 1px solid #f27201;
	color: #fff !important;
}
.list-des{ width:100%; float:left; margin-top:10px; }
.list-des ul{ float:left; width:100%; padding-left:0px;}
.list-des ul li{ float:left; width:100%; list-style-type:none;}
.list-des ul li label{ float:left; width:50%; font-size:14px; font-weight:600; text-align:left;}
.list-des ul li p{ float:left; width:50%; font-size:15px; font-weight:400; text-align:left; }
.btn-orange-one:hover {
	background: #ee7000;
	text-decoration: none;
	color: #fff;
}
.btn-green {
	background: #37a402;
	border: 1px solid #339c00;
	color: #fff !important;
}
.btn-green:hover {
	background: #339c00;
	text-decoration: none;
	color: #fff;
}
.heading::before {
	border-left: 1px solid #1976d2;
	content: "";
	display: inline-block;
	height: 8px;
	left: 0;
	position: absolute;
	top: 22px;
}
.heading::after {
	border-left: 1px solid #1976d2;
	content: "";
	display: inline-block;
	height: 8px;
	position: absolute;
	right: 0;
	top: 22px;
}
#HomeHeading {
	margin-top: 0px;
}
.heading {
	border-bottom: 1px solid #1976d2;
	color: #fff;
	font-size: 16px;
	height: 26px;
	margin: 0px 0 44px !important;
	overflow: visible;
	padding: 0;
	position: relative;
	text-align: center;
}
.heading span {
	background: #1976d2 none repeat scroll 0 0;
	border: 1px solid #1976d2;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	height: 40px;
	line-height: 36px;
	padding: 0 30px;
	border-radius: 4px;
}
.add-button {
	margin: 15px 0px 0px;
}
.update-box > p {
    color: #004784;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    font-weight: 400; margin:0px; padding-bottom:5px;
}

.arrow_box::before {
    border-color: rgba(210, 218, 219, 0) rgba(210, 218, 219, 0) #d2dadb;
    border-width: 9px;
    margin-left: -9px;
}
.arrow_box::after, .arrow_box::before {
    border: medium solid transparent;
    bottom: 99%;
    content: " ";
    height: 0;
    left: 8%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.arrow_box {
    background: #fff none repeat scroll 0 0;
    position: relative;
}
.top-bor{ border-top:1px solid #eee; margin-top:10px;}
.post-text{ background:#FE5722;color:#fff; width:30%;margin-top:10px;  float:right;  padding:7px; border:none;cursor:pointer; border-radius:5px; font-size:15px;font-weight:400;  margin-bottom: 15px;}

.imgup{ background:#286090; color:#fff; width:100%; padding:7px; border:none;cursor:pointer; border-radius:5px; font-size:15px;font-weight:400;  margin-bottom: 15px;}
#upload-file-selector {
    display:none;   
}
.update-box{ border-bottom:1px solid #eee;margin-bottom:15px;}
.feed-post{ background:#fff; padding:8px;}
.feed-post h3{ color: #1976d2;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
    text-align: left;}
.margin-correction {
    margin-right: 10px;   
}
.add-button a {
	color: #f97500;  font-size:16px;
}
.add-button a:hover {
	color: #1976d2;
	text-decoration: none;
}
.mail-icon {
	background: #fff url(../img/mail-icon.png) no-repeat 20px 14px;
	height: auto;
	padding: 14px 14px 14px 68px;
}
.lock-icon {
	background: #fff url(../img/lock-icon.png) no-repeat 24px 6px;
	height: auto;
	padding: 14px 14px 14px 68px;
}
.no-icon {
	padding: 10px 20px;
	height: auto;
	font-size: 13px;
}
.header {
	height: 60px;
}
.ac-container {
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label {
	font-family: 'Roboto', sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #000;
	line-height: 20px;
	font-size: 15px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 );
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 2px 2px rgba(0,0,0,0.1);
	text-align: left;
	font-weight: 400;
}
.ac-container label:hover {
	background: #fff;
}
.ac-container input:checked + label, .ac-container input:checked + label:hover {
	background: #f97500;
	color: #fff;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after, .ac-container input:checked + label:hover:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after {
	background-image: url(../images/arrow_up.png);
}
.ac-container input {
	display: none;
}
.ac-container article {
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p {
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article {
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small {
	height: 220px;
}
.ac-container input:checked ~ article.ac-medium {
	height: 180px;
}
.ac-container input:checked ~ article.ac-large {
	height: 230px;
}
.action-buttons {
	margin-bottom: 15px;
	margin-top: 10px;
}
.example-modal {
	display: block;
	width: 100%;
	padding: 35px 15px;
	background-color: #f3f7f9;
}
.example-modal .modal {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;
	display: block;
}
.example-modal .modal .modal-dialog {
	width: auto;
	max-width: 600px;
	margin: 15px auto;
}
.example-modal-top .center {
	top: 0;
	-webkit-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
	-o-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
}
.example-modal-bottom .center {
	top: auto;
	bottom: 0;
	-webkit-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
	-o-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
}
.modal-footer{ background:#f2dede ;}
.modals-headers{ background:#337ab7!important; color:#fff !important; padding:10px !important; }
.modals-headers h4{color:#fff !important; font-size:20px !important; text-align:center;}
.modals-headers i{color:#fff !important;font-size:28px !important;font-weight:400 !important;}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width:100%; height:40px !important;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff; border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width:100%; height:40px !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-style select option{ padding:5px;}
.modal-content {
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 12px rgba(0,0,0,.2);
	box-shadow: 0 2px 12px rgba(0,0,0,.2)
}
.modal-header {
	padding: 15px 20px;
	border-bottom: none
}
.modal-header .close {
	margin-top: 1px
}
.modal-body {
	padding: 20px
}
.modal-footer {
	padding: 6px 20px 20px;
	border-top: none
}
.modal-top {
	margin: 0 auto
}
.modal-center {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	height: 100%;
	margin: 0 auto;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: center;
	align-content: center
}
.modal-bottom {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	height: 100%;
	margin: 0 auto;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: center;
	align-content: center
}
.modal-sidebar {
	position: absolute;
	right: 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	height: 100%;
	margin: 0;
	background-color: #fff;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: center;
	align-content: center
}
.modal-sidebar .modal-content {
	background-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.modal-sidebar .modal-header {
	border-bottom: none
}
.modal-sidebar .modal-footer {
	border-top: none
}
.modal-sidebar button.close {
	position: fixed;
	top: 20px;
	right: 20px
}
.modal.fade .modal-dialog.modal-sidebar {
	-webkit-transform: translate(25%, 0);
	-ms-transform: translate(25%, 0);
	-o-transform: translate(25%, 0);
	transform: translate(25%, 0)
}
.modal.in .modal-dialog.modal-sidebar {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-fill-in {
	background-color: transparent
}
.modal-fill-in.in {
	background-color: rgba(255,255,255,.95);
	opacity: 1
}
.modal-fill-in .modal-dialog {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center
}
@media (min-width:768px) {
.modal-fill-in .modal-dialog>* {
	width: 600px
}
.modal-fill-in .modal-dialog.modal-sm>* {
	width: 300px
}
.modal-fill-in .modal-dialog button.close {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1;
	filter: alpha(opacity=50);
	opacity: .5;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
}
@media (min-width:992px) {
.modal-fill-in .modal-dialog.modal-lg>* {
	width: 900px
}
}
.modal-fill-in .modal-content {
	background-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.modal-fill-in .modal-header {
	border-bottom: none
}
.modal-fill-in .modal-footer {
	border-top: none
}
.modal-primary .modal-header {
	background-color: #62a8ea;
	border-radius: 4px 4px 0 0
}
.modal-primary .modal-header * {
	color: #fff
}
.modal-primary .modal-header .close {
	opacity: .6
}
.modal-success .modal-header {
	background-color: #46be8a;
	border-radius: 4px 4px 0 0
}
.modal-success .modal-header * {
	color: #fff
}
.modal-success .modal-header .close {
	opacity: .6
}
.modal-info .modal-header {
	background-color: #57c7d4;
	border-radius: 4px 4px 0 0
}
.modal-info .modal-header * {
	color: #fff
}
.modal-info .modal-header .close {
	opacity: .6
}
.modal-warning .modal-header {
	background-color: #f2a654;
	border-radius: 4px 4px 0 0
}
.modal-warning .modal-header * {
	color: #fff
}
.modal-warning .modal-header .close {
	opacity: .6
}
.modal-danger .modal-header {
	background-color: #f96868;
	border-radius: 4px 4px 0 0
}
.modal-danger .modal-header * {
	color: #fff
}
.modal-danger .modal-header .close {
	opacity: .6
}
.modal.modal-fade-in-scale-up .modal-dialog {
	opacity: 0;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: scale(.7);
	-ms-transform: scale(.7);
	-o-transform: scale(.7);
	transform: scale(.7)
}
.modal.modal-fade-in-scale-up.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}
.modal.modal-slide-in-right .modal-dialog {
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
	-o-transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
	transition: all .3s cubic-bezier(.25, .5, .5, .9) 0s;
	-webkit-transform: translate(20%, 0);
	-ms-transform: translate(20%, 0);
	-o-transform: translate(20%, 0);
	transform: translate(20%, 0)
}
.modal.modal-slide-in-right.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal.modal-slide-from-bottom .modal-dialog {
	opacity: 0;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: translate(0, 20%);
	-ms-transform: translate(0, 20%);
	-o-transform: translate(0, 20%);
	transform: translate(0, 20%)
}
.modal.modal-slide-from-bottom.in .modal-dialog {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal.modal-newspaper .modal-dialog {
	opacity: 0;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	-webkit-transform: scale(0) rotate(720deg);
	-ms-transform: scale(0) rotate(720deg);
	-o-transform: scale(0) rotate(720deg);
	transform: scale(0) rotate(720deg)
}
.modal.modal-newspaper.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0);
	-ms-transform: scale(1) rotate(0);
	-o-transform: scale(1) rotate(0);
	transform: scale(1) rotate(0)
}
.modal.modal-fall {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-fall .modal-dialog {
	opacity: 0;
	-webkit-transform: translateZ(600px) rotateX(20deg);
	-ms-transform: translateZ(600px) rotateX(20deg);
	transform: translateZ(600px) rotateX(20deg);
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-fall.in .modal-dialog {
	opacity: 1;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;
	-webkit-transform: translateZ(0) rotateX(0);
	-ms-transform: translateZ(0) rotateX(0);
	transform: translateZ(0) rotateX(0)
}
.modal.modal-side-fall {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-side-fall .modal-dialog {
	-webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
	-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
	transform: translate(30%) translateZ(600px) rotate(10deg);
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-side-fall.in .modal-dialog {
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;
	-webkit-transform: translate(0) translateZ(0) rotate(0);
	-ms-transform: translate(0) translateZ(0) rotate(0);
	transform: translate(0) translateZ(0) rotate(0)
}
.modal.modal-3d-flip-horizontal {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-3d-flip-horizontal .modal-dialog {
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: rotateY(-70deg);
	-ms-transform: rotateY(-70deg);
	-o-transform: rotateY(-70deg);
	transform: rotateY(-70deg);
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-3d-flip-horizontal.in .modal-dialog {
	-webkit-transform: rotateY(0);
	-ms-transform: rotateY(0);
	-o-transform: rotateY(0);
	transform: rotateY(0)
}
.modal.modal-3d-flip-vertical {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-3d-flip-vertical .modal-dialog {
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: rotateX(-70deg);
	-ms-transform: rotateX(-70deg);
	-o-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-3d-flip-vertical.in .modal-dialog {
	-webkit-transform: rotateX(0);
	-ms-transform: rotateX(0);
	-o-transform: rotateX(0);
	transform: rotateX(0)
}
.modal.modal-3d-sign {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-3d-sign .modal-dialog {
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: rotateX(-60deg);
	-ms-transform: rotateX(-60deg);
	-o-transform: rotateX(-60deg);
	transform: rotateX(-60deg);
	-webkit-transform-origin: 50% 0 0;
	-ms-transform-origin: 50% 0 0;
	-o-transform-origin: 50% 0 0;
	transform-origin: 50% 0 0;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-3d-sign.in .modal-dialog {
	-webkit-transform: rotateX(0);
	-ms-transform: rotateX(0);
	-o-transform: rotateX(0);
	transform: rotateX(0)
}
.modal.modal-super-scaled .modal-dialog {
	opacity: 0;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2)
}
.modal.modal-super-scaled.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}
.modal.modal-just-me .modal-dialog {
	opacity: 0;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8)
}
.modal.modal-just-me .modal-backdrop {
	background-color: #fff
}
.modal.modal-just-me.in {
	background: #fff
}
.modal.modal-just-me.in .modal-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}
.modal.modal-just-me.in .modal-backdrop {
	opacity: 1
}
.modal.modal-3d-slit {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-3d-slit .modal-dialog {
	opacity: 0;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-3d-slit.in .modal-dialog {
	-webkit-animation-name: slit;
	-o-animation-name: slit;
	animation-name: slit;
	-webkit-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
.modal.modal-rotate-from-bottom {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-rotate-from-bottom .modal-dialog {
	-webkit-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	-webkit-transform: translateY(100%) rotateX(90deg);
	-ms-transform: translateY(100%) rotateX(90deg);
	transform: translateY(100%) rotateX(90deg);
	-webkit-transform-origin: 0 100% 0;
	-ms-transform-origin: 0 100% 0;
	-o-transform-origin: 0 100% 0;
	transform-origin: 0 100% 0;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-rotate-from-bottom.in .modal-dialog {
	-webkit-transform: translateY(0) rotateX(0);
	-ms-transform: translateY(0) rotateX(0);
	transform: translateY(0) rotateX(0)
}
.modal.modal-rotate-from-left {
	-webkit-perspective: 1300px;
	perspective: 1300px
}
.modal.modal-rotate-from-left .modal-dialog {
	-webkit-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100% 0;
	-ms-transform-origin: 0 100% 0;
	-o-transform-origin: 0 100% 0;
	transform-origin: 0 100% 0;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.modal.modal-rotate-from-left.in .modal-dialog {
	-webkit-transform: translateZ(0) translateX(0) rotateY(0);
	-ms-transform: translateZ(0) translateX(0) rotateY(0);
	transform: translateZ(0) translateX(0) rotateY(0)
}
.job-full {
	margin-top: 0px;
	background: #fff;
	border-radius: 4px;
}
.job-desc {
	padding: 10px;
}
.job-desc > figure > img {
	width: 100px;
}
.job-desc > figure {
	margin-right: 10px;
	margin-bottom: 10px;
}
.job-desc > h2 {
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #2b2b2b;
	font-weight: 600;
}
.job-desc > h4 {
	font-size: 14px;
	color: #1d6ab2;
	margin: 0;
	padding: 0;
}
.job-desc > h3 {
	 color: #1d6ab2;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: left;
}
.job-desc > p strong {
    color: #1d6ab2;
}
.job-desc > p, .job-desc > ol > li {
	 font-size: 15px;
    line-height: 21px;
}
.job-desc > div > h5 {
	 color: #1d6ab2;
    font-size: 16px;
}
.pro-img {
	margin-bottom: 15px;
}
.pro-info { word-wrap:break-word;}
.pro-info > h1 {

	font-size: 16px;
	margin: 0;
	padding: 0;
	display: inline;
}
.pro-info > h2 {
	margin: -10px 0px 0px;
	padding: 0;
}
.pro-info > h2 > i {
	font-size: 14px;
	color: #f7ae00;
}
.pro-info > p {
	color: #94a7ac;
	margin: 0;
	padding: 0 0 5px 0;
}
.pro-info > p > a {
	color: #ff5722;
}
ul.connections > li {
	background: #fff;
	padding: 10px 10px;
	border-bottom: 1px solid #f5f5f5;
	border-radius: none;
}
ul.connections > li:first-child {
	border-radius: 4px 4px 0px 0px;
}
ul.connections > li:last-child {
	border-radius: 0px 0px 4px 4px;
}
.connection-box > figure {
	margin-right: 10px;
	margin-bottom: 10px;
}
.connection-box > figure > img { width:50px; height:50px;}
.connection-box > h2 {
	font-size: 15px; font-weight:600;
	margin: 0 0 5px;
	padding: 0;
	display: inline-block;color:#1D6AB2;
}
.connection-box > a.btn {
	float: right;
	margin-left: 5px;
}
.connection-box > h4 {
	font-size:15px; font-weight:400;
	margin: 0 0 5px;
	padding: 0;
	color: #fe5722;
}
.connection-box > p {
	font-size:14px;
	margin: 0 0 5px;
	padding: 0;
}
.connection-box > p > span {
	margin-left: 10px;
}
.post-form {
	background: #d4eaff;
	padding-top: 15px;
	padding-bottom: 15px;
}
.post-form > div > div > form > input.form-control {
	box-shadow: none;
	border: 1px solid #aed7ff;
}
.post-form > div > div > form > input.form-control:focus {
	border: 1px solid #1d6ab2;
}
.activity-begins {
	margin-top: 10px;
}
.panel-act-plus {
	position: relative;
	border-radius: 0px;
	border: 1px solid #ffffff;
	
	margin-bottom: 5px;
}

.panel-act-plus > .dropdown {
	position: absolute;
	top: 5px;
	right: 15px;
}
.panel-act-plus > .dropdown > span > span {
	font-size: 10px;
}
.panel-act-plus > .dropdown > .dropdown-menu {
	left: initial;
	right: 0px;
	border-radius: 2px;
}
.panel-act-plus > .panel-act-plus-tags {
	position: absolute;
	top: 35px;
	right: -3px;
}
.panel-act-plus > .panel-body > h2 {
    font-size: 18px;
    margin: 0 0 5px;
    padding: 0;
}
.panel-act-plus > .panel-body > h2 > a { color: #2b2b2b; text-decoration: none;; }
.panel-act-plus > .panel-body > h2 > a:hover {color:#fe5722;}
.panel-act-plus > .panel-act-plus-tags > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.panel-act-plus > .panel-act-plus-tags > ul:hover {
	box-shadow: 0px 0px 3px rgb(0, 0, 0);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.panel-act-plus > .panel-act-plus-tags > ul > li {
	display: block;
	right: 0px;
	width: 0px;
	padding: 5px 0px 5px 0px;
	background-color: rgb(245, 245, 245);
	font-size:15px;
	overflow: hidden;
}
.cet-date{display: block;
    text-align: center;
    width: 100%;}
.panel-act-plus > .panel-act-plus-tags > ul > li::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	border-right: 3px solid rgb(66, 127, 237);
}
.panel-act-plus > .panel-act-plus-tags > ul > li.home::after {
	border-right: 3px solid #005eb1;
}
.panel-act-plus > .panel-act-plus-tags > ul > li.health::after {
	border-right: 3px solid #0fc176;
}
.panel-act-plus > .panel-act-plus-tags > ul:hover > li, .panel-act-plus > .panel-act-plus-tags > ul > li:first-child {
	padding: 5px 15px 5px 10px;
	width: auto;
	cursor: pointer;
	margin-left: auto;
}
.panel-act-plus > .panel-act-plus-tags > ul:hover > li {
	background-color: rgb(255, 255, 255);
}
.panel-act-plus > .panel-act-plus-tags > ul > li:hover {
	background-color: rgb(66, 127, 237);
	color: rgb(255, 255, 255);
}
.panel-act-plus > .panel-act-plus-tags > ul > li.home:hover {
	background: #005eb1;
}
.panel-act-plus > .panel-act-plus-tags > ul > li.health:hover {
	background: #0fc176;
}
.panel-act-plus > .panel-heading, .panel-act-plus > .panel-footer {
	background-color: rgb(255, 255, 255);
	border-width: 0px;
}
.panel-act-plus > .panel-heading {
	margin-top: 0px;
	padding-bottom: 5px;
}
.panel-act-plus > .panel-heading > img {
	margin-right: 15px;
	width:50px; height:50px;
}
.panel-act-plus > .panel-heading > h3 {/*
	margin: -8px 0 -2px;*/
	line-height:20px;
	margin-bottom:8px;
	font-size:16px;
	font-weight: 700;
	text-align: left;
	color: #1976d2;
}
.panel-act-plus > .panel-heading > h5 {
	color: rgb(153, 153, 153);
	font-size:14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.panel-act-plus > .panel-body {
	padding-top: 5px;
	font-size:15px;
}
.panel-act-plus > .panel-body > .panel-act-plus-image {
	display: block;
	text-align: center;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(217, 217, 217);
}
.panel-act-plus > .panel-body > .panel-act-plus-image > img {
	max-width: 100%;
}
.panel-act-plus > .panel-footer {
	font-size: 14px;
	font-weight: 700;
	min-height: 54px;
}
.panel-act-plus > .panel-footer > .btn {
	float: left;
	margin-right: 8px;
}
.panel-act-plus > .panel-footer > .btn > i, .panel-act-plus > .panel-footer > .btn > span {
	color: #929292;
}
.panel-act-plus > .panel-footer > .input-placeholder {
	display: block;
	margin-left: 98px;
	color: rgb(153, 153, 153);
	font-size: 12px;
	font-weight: 400;
	padding: 8px 6px 7px;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-act-plus.panel-act-plus-show-comment > .panel-footer > .input-placeholder {
	display: none;
}
.panel-act-plus > .panel-act-plus-comment {
	display: none;
	padding: 10px 20px 15px;
	border-top: 1px solid rgb(229, 229, 229);
	background-color: rgb(245, 245, 245);
}
.panel-act-plus.panel-act-plus-show-comment > .panel-act-plus-comment {
	display: block;
}
/*.panel-act-plus > .panel-act-plus-comment > img {
    float: left;   
}*/
.panel-act-plus > .panel-act-plus-comment > .panel-act-plus-textarea {
	float: right;
	width: calc(100% - 56px);
}
.panel-act-plus > .panel-act-plus-comment > .panel-act-plus-textarea > textarea {
	display: block;
	/*margin-left: 60px;
    width: calc(100% - 56px);*/
	width: 100%;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(217, 217, 217);
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
	resize: vertical;
}
.panel-act-plus > .panel-act-plus-comment > .panel-act-plus-textarea > .btn {
	margin-top: 10px;
	margin-right: 8px; font-size:15px;
	width: 100%;
}
@media (min-width: 992px) {
.panel-act-plus > .panel-act-plus-comment > .panel-act-plus-textarea > .btn {
	width: auto;
}
}
.panel-act-plus .btn {
	border-radius: 3px;
}
.panel-act-plus .btn-default {
	border: 1px solid rgb(217, 217, 217);
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-act-plus .btn-default:hover, .panel-act-plus .btn-default:focus, .panel-act-plus .btn-default:active {
	background-color: rgb(255, 255, 255);
	border-color: #f97500;
}
.panel-act-plus .btn-default:hover i, .panel-act-plus .btn-default:hover span {
	color: #f97500;
}
.message-box {
}
.message-box > a {
	display: block;
	background: #fff;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid #f2f2f2;
}
.message-box > a > figure {
	margin-right: 10px;
	margin-bottom: 0px;
}
.message-box > a > h2 {
	margin: 0 0 5px;
	padding: 0;
	font-size:15px; font-weight:600;
	color:#1D6AB2;
	display: inline-block;
}
.message-box > a > h3 {
	margin: 0;
	padding: 0;
	font-size:12px;
	color: #999;
	display: inline-block;
	font-weight: 400;
	line-height: 20px;
}
.message-box > a > p {
	margin: 0;
	padding: 0;
	font-size:14px;
	color: #999;
}
.message-box > a:hover {
	background: #deefff;
}
.mess-user-info {
	padding-left: 0px;
	padding-right: 0px;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
}
.mess-user-info > figure {
	padding-left: 15px;
	margin-right: 10px;
}
.mess-user-info > figure > img { width:50px; height:50px;}
.mess-user-info > h2 {
	margin: 10px 0 0;
	padding: 0;
	font-size: 14px;
	color: #000;
}
.mess-user-info > p {
	color: #090;
	font-size: 12px;
}
.service-form > div > label, .service-form > div > div > label {
	text-align: left !important;
	
}
.control-label{font-size:15px; font-weight:600; color:#1D6AB2; }
.service-form-box {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}
.chat-window {
	bottom: 0;
	position: fixed;
	float: right;
	margin-left: 10px;
}
.chat-window > div > .panel {
	border-radius: 5px 5px 0 0;
}
.icon_minim {
	padding: 2px 10px;
}
.msg_container_base {
	background: #e5e5e5;
	margin: 0;
	padding: 0 10px 10px;
	max-height: 300px;
	overflow-x: hidden;
}
.top-bar {
	background: #666;
	color: white;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.msg_receive {
	padding-left: 0;
	margin-left: 0;
}
.msg_sent {
	padding-bottom: 20px !important;
	margin-right: 0;
}
.messages {
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
}
.messages > p {
	font-size:14px;
	margin: 0 0 0.2rem 0;
}
.messages > time {
	font-size: 11px;
	color: #999;
}
.msg_container {
	padding: 10px;
	overflow: hidden;
	display: flex;
}
.avatar {
	position: relative;
}
/*.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}*/

.base_sent {
	justify-content: flex-end;
	align-items: flex-end;
}
/*.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}*/

.msg_sent > time {
	float: right;
}
 .msg_container_base::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 .msg_container_base::-webkit-scrollbar {
 width: 12px;
 background-color: #F5F5F5;
}
 .msg_container_base::-webkit-scrollbar-thumb {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #555;
}
.community-begins { margin-top:-10px; padding-left:0px; padding-right:0px;}
.community-begins > ul > li { background:#fff; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #f2f2f2;}

.community-info > h2 { font-size:15px; margin:10px 0 0; padding:0; line-height:25px; color:#1D6AB2; font-weight:600;}
.community-info > h4 { font-size:14px; margin:0; padding:0; line-height:20px; color:#777;}
.community-action > a { margin-top:15px;}
 @media screen and (max-width:768px) {
header {
	padding: 15px 0px;
	background: #1d6ab2;
	margin-bottom: 10px;
}
header > div > div > div > h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
}
header > div > div > div > a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
header > div > div > div > a:hover {
	color: #fe5722;
}
.header-mobile-account {
	background: #4c5e70;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.header-mobile-account > .head-text > h4 {
	color: #fff;
	margin: 0;
}
.header-mobile-account > .head-text > p {
	color: #fff;
	margin-bottom: 0px;
}
.table-overflow {
	width: 330px;
	overflow: scroll;
	overflow-y: hidden;
}
.table-overflow > table {
	background: #fff;
}
.provider-lists > ul > li {
	margin-bottom: 10px;
	border: 2px solid #fff;
}
.provider-lists > ul > li:hover {
	border: 2px solid #135b9e;
}
.provider {
	background: #fff;
	padding: 20px;
}
.pro-img {
	margin-bottom: 15px;
}
.pro-info > h1 {

	font-size: 16px;
	margin: 0;
	padding: 0;
	display: inline;
}
.pro-info > h2 {
	margin: -10px 0px 0px;
	padding: 0;
}
.pro-info > h2 > i {
	font-size: 14px;
	color: #f7ae00;
}
.pro-info > p {
	color: #94a7ac;
	margin: 0;
	padding: 0 0 5px 0;
}
.pro-info > p > a {
	color: #ff5722;
}
}
@media screen and (max-width:375px) {
header {
	padding: 15px 0px;
	background: #1d6ab2;
	margin-bottom: 0px;
	min-height: 56px;
	width: 100%;
}
header > div > div > div > h1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
}
header > div > div > div > a {
	color: #fff;
	text-decoration: none;
	font-size:21px;
}
header > div > div > div > a:hover {
	color: #fe5722;
}
.header-mobile-account {
	background: #4c5e70;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.header-mobile-account > .head-text > h4 {
	color: #fff;
	margin: 0;
}
.header-mobile-account > .head-text > p {
	color: #fff;
	margin-bottom: 0px;
}
.table-overflow {
	width: 330px;
	overflow: scroll;
	overflow-y: hidden;
}
.table-overflow > table {
	background: #fff;
}
.provider-lists > ul > li {
	margin-bottom: 10px;
	border: 2px solid #fff;
}
.provider-lists > ul > li:hover {
	border: 2px solid #135b9e;
}
.provider {
	background: #fff;
	padding: 20px;
}
.pro-img {
	margin-bottom: 15px;
}
.pro-info > h1 { color:#1D6AB2;

	font-size: 16px;
	margin: 0;
	padding: 0;
	display: inline;
}
.pro-info > h2 {
	margin: -10px 0px 0px;
	padding: 0;
}
.pro-info > h2 > i {
	font-size: 14px;
	color: #f7ae00;
}
.pro-info > p {
	color: #777; font-size:15px; font-weight:400;
	margin: 0;
	padding: 0 0 5px 0;
}
.pro-info > p > a { font-size:14px;
	color: #ff5722;
}
}

.white-bg { background:#fff; padding-top:15px; padding-bottom:15px;}
.micro-content > h1 { font-size:18px; margin:15px 0px 10px 0; padding:0; line-height:24px;color: #1d6ab2;}
.micro-content > p { font-size:13px;}

.micro-content > .panel-group > .panel-default { border:1px solid #f97500;}
.micro-content > .panel-group > .panel-default > .panel-heading { background:#f97500; color:#fff;}
.micro-content > .panel-group > .panel-default > .panel-heading > h4 > a { text-decoration:none;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { background:#1976d2;}

.category-box {
    color: #fff;
    min-height: 100px;
    text-align: center;
}
.category-box > a > i {
    font-size: 40px;
}
.category-box > a {
    color: #fff;
    display: block;
    padding: 15px;
}
.category-box > a > h2 {
    color: #fff;
    font-size: 18px;
}
.orange{ background:#fe5722; color:#fff;}
.green { background:#0aa699; color:#fff;}
.blue  { background: #0650c3 ; color:#fff;}
.purple{ background: #6c3483 ; color:#fff;}
.red {background: #77b003; color:#fff;}
.grey  { background: #2c3e50 ; color:#fff;}
.aqua  {
    background: #3498db none repeat scroll 0 0;
}
.sub-category-box {  
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;/*
  padding-top:20px !important;
  padding-bottom:20px !important; 
  padding-left:20px !important;
  padding-right:20px !important;*/
  margin:15px 0 0 0;
  }

.sub-category { margin:0px 0 0 0; padding:0;}
.sub-category > li { color:#fff; font-size:22px;display:inline-block; padding:10px; margin-bottom:20px; width:100% !important;}
.sub-category > li:first-child { background: #c0392b ;}
.sub-category > li:nth-child(2) { background: #e74c3c ;}
.sub-category > li:nth-child(3) { background:#8e44ad;}
.sub-category > li:nth-child(4) { background: #2980b9 ;}
.sub-category > li:nth-child(5) { background: #16a085 ;}
.sub-category > li:nth-child(6) { background: #ca6f1e ;}
.sub-category > li:nth-child(7) { background: #1e8449 ;}
.sub-category > li:nth-child(8) { background:#34495e;}
.sub-category > li:nth-child(9) { background:#117a65;}
.sub-category > li:nth-child(10) { background:#212f3c;}
.sub-category > li:nth-child(11) { background:#0b5345;}
.sub-category > li:nth-child(12) { background: #633974 ;}
.sub-category > li:nth-child(13) { background: #873600 ;}
.sub-category > li:nth-child(14) { background: #b7950b ;}
.sub-category > li > ul { margin-bottom:20px; list-style:none; margin-left:0; padding-left:15px;}
.sub-category > li > ul > li { line-height:18px; border-bottom:1px solid rgba(212, 209, 209, 0.13); padding-bottom:10px;}
.sub-category > li.title-subt span{ background:rgba(51, 51, 51, 0.12); color:#fff; width:100%; display:block;padding-left:5px;}
.sub-category > li > ul > li:before { 
    content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    display: block;
    height: 0;
    width: 0;
    left: -15px;
    top: 16px;
    position: relative;
}
.back-icon {
    color: #fff !important;
    float: right;
    margin-right: -23px;
}
.block-info a{ font-size:15px !important; font-weight:400;}
.list-botm{ margin-bottom:15px !important;}
.sub-category > li > ul > li > a { color:#fff; text-decoration:none; font-size:16px;}
.sub-category > li > ul > li > a:hover {color:#fff;}



.ins-req{  border-radius: 2px; background:#AB5100; float:right; margin-right:3px; margin-bottom:10px;
    color: #000;
    
    font-size: 13px;
    padding: 4px; }
	
	.sch-req{ border-radius: 2px; background:#AB5100;float:right;  margin-right:3px; margin-bottom:10px;
    color: #000;
   
    font-size: 13px;
    padding: 4px; }
	



