page-create-blog {
[_nghost-jsp-42]{ margin-bottom:10px !important;}
[_nghost-otx-42] .ng2-tag-input-remove[_ngcontent-otx-42]{ background:red !important; }

.list-md .item-input.ng-invalid.ng-touched:last-child:not(.input-has-focus){border-bottom-color:none !important;}
.list-md .item-input:last-child{ border-bottom:none !important;}
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}

.createblog-form{ padding:10px;}
.createblog-form .label-md{ 
    color: #777;
    font-size: 16px;
    font-weight:600;
    font-family: 'Muli', sans-serif; padding-bottom:8px; margin:0px; padding-top:10px;
}

.createblog-form .item-md {    border: 1px solid #ccc;}
.createblog-form .item-md .item-inner{padding-right:0px;}




.list-ios .item-input.ng-invalid.ng-touched:last-child:not(.input-has-focus){border-bottom-color:none !important;}
.list-ios .item-input:last-child{ border-bottom:none !important;}
.toolbar-title-ios{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}

.createblog-form{ padding:10px;}
.createblog-form .label-ios{ 
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif; padding-bottom:8px; margin:0px; padding-top:10px;
}

.createblog-form .item-ios {    border: 1px solid #ccc;}
.createblog-form .item-ios .item-inner{padding-right:0px;}


.featured-bro{ border:none !important;}
.brw-btn{
    background: #025FA9;
    font-size:17px !important;
    font-weight:600;
    float: left;
 width:48%;
    height:35px !important;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
}
.logoin-btn{
    font-size:16px;
    font-weight:600;
    color: #fff;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
    background: transparent linear-gradient(45deg, #fe5722 0%, #fe5722 30%, #ff906b 50%, #fe5722 71%, #fe5722 100%) repeat scroll 0 0;
    width:100%;
    height:40px;
    border-radius:20px;
    margin-top:20px;}

.rd-tags{background:#ccc; margin-right:3px; float:letf; margin-bottom:10px;}
.ng2-tag-input-field {   border: 1px solid #ccc; margin-top:10px; height:45px; width:100%; padding:3px;}
}
