<!--
  Generated template for the CreateBlog page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Create Blog</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding class="contect-bg-moblie">
<ion-list class="createblog-form">
<form (ngSubmit)="createBlog()" [formGroup]="blogForm">

  <ion-item>
    <ion-label stacked class="bloag-label">Blog Title<small style="color:red;">*</small></ion-label><span style="color:red">*</span>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <p *ngIf="!blogForm.controls.title.valid && (blogForm.controls.title.dirty || submitAttempt)" class="err-reds">Please enter blog title</p>
<ion-item>
    <ion-label stacked class="bloag-label" style="text-align:left; padding-bottom:10px;">Category<small style="color:red;">*</small></ion-label>
    <ion-select class="select-brd" formControlName="category">
      <ion-option *ngFor="let categories of categoriesList" [value]="categories.name">{{categories.name}}</ion-option>     
    </ion-select>
  </ion-item>
  <p *ngIf="!blogForm.controls.category.valid && (blogForm.controls.category.dirty || submitAttempt)" class="err-reds">Please enter category</p>
	<ion-item>
	    <ion-label stacked>Highlights</ion-label>
	    <ion-textarea  [(ngModel)]="highlights" [ngModelOptions]="{standalone: true}"></ion-textarea>
	</ion-item>

	<ion-item>
	    <ion-label stacked>Description<small style="color:red;">*</small></ion-label>
	    <ion-textarea [(ngModel)]="description" formControlName="description"></ion-textarea>
	</ion-item>
	<p *ngIf="!blogForm.controls.description.valid && (blogForm.controls.description.dirty || submitAttempt)" class="err-reds">Please enter description</p>
  </form>
  <ion-label stacked class="liste-names">Featured Image</ion-label>
   <button ion-button (click)="accessGallery('featured')">Browse</button>
    <img [src]="base64Image" *ngIf="base64Image" />
    <ion-label stacked class="liste-names">Banner Image</ion-label>
    <button ion-button (click)="accessGallery('banner')">Browse</button>
    <img [src]="bannerImage" *ngIf="bannerImage" />
    <ion-label stacked class="liste-names">Tags:</ion-label>
    <!--<rl-tag-input [(ngModel)]="tagsModel" [addOnBlur]="true" [addOnEnter]="true" [autocomplete]="true"  [autocompleteItems]="tags" placeholder="Tags"></rl-tag-input>-->
        <rl-tag-input class="rd-tags" [(ngModel)]="tagsModel" [addOnBlur]="false" [addOnEnter]="true"  [autocompleteItems]="tags" [autocomplete]="true" placeholder="Tags" (keyup)="getTagsList($event)" [ngModelOptions]="{standalone: true}"></rl-tag-input>
  <div radio-group [(ngModel)]="allowComments" [ngModelOptions]="{standalone: true}">
  <ion-list-header style=" background:#fff; margin-bottom:0px;">
   <p class="liste-names"> Allow Comments</p>
  </ion-list-header>
  <ion-item>
    <ion-label class="liste-names">Yes</ion-label>
    <ion-radio value="Yes"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label class="liste-names">No</ion-label>
    <ion-radio value="No"></ion-radio>
  </ion-item> 
</div>
<button ion-button icon-left full>
  Send
</button>
</ion-list>
</ion-content>

<style>
.list-header-md{border-top:0px solid #222;}
[_nghost-fub-42]{}
.liste-names{padding-left:0px; color:#404998;}
</style>
