page-create-blog {
[_nghost-jsp-42]{ margin-bottom:10px !important;}
[_nghost-otx-42] .ng2-tag-input-remove[_ngcontent-otx-42]{ background:red !important; }

.list-md .item-input.ng-invalid.ng-touched:last-child:not(.input-has-focus){border-bottom-color:none !important;}
.list-md .item-input:last-child{ border-bottom:none !important;}
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
}
