page-settings {
.toggle-md .toggle-checked{ background:#7f8cf8;}
.toggle-md .toggle-checked .toggle-inner{ background:#404996;}
.seetingslist{
  background-image:url('../assets/img/seee.png');
  -webkit-background-image: url('../assets/img/seee.png');
  }
}
