page-settings {
.toggle-md .toggle-checked{ background:#fca4eb !important;}
.toggle-md .toggle-icon{ background:#777677 !important;}
.toggle-md .toggle-checked .toggle-inner{ background:#fb6ae0 !important;}
.seetingslist{
  background-image:url('../assets/img/seee.png');
  -webkit-background-image: url('../assets/img/seee.png');
  }
}
