page-externallinks {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.content-intop										{background-image: url('../assets/img/extralinks.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
.external-listed											{ background:rgba(255,255,255, 0.0); box-shadow:none; border:1px solid #E6E6FA; padding:4px;}

.external-listed .item-md{ background:none;}
.external-listed .item-md .item-inner .input-wrapper .label-md ion-row ion-col img{ border:1px solid #ccc;}
.external-listed .item-md .item-inner .input-wrapper .label-md ion-row ion-col h1{    color: #007994 !important;
    font-family: "Muli",sans-serif;
    font-size: 17px !important;
    padding-bottom: 8px;
    margin: 0;}
.external-listed .item-md .item-inner .input-wrapper .label-md ion-row ion-col small{    font-size: 11px !important;
    color: #909090 !important;
    font-family: 'Muli', sans-serif;}
.external-listed .item-md .item-inner .input-wrapper .label-md {margin:0px;}
.external-listed .item-ios{ background:none;}
.external-listed .item-ios .item-inner .input-wrapper .label-ios ion-row ion-col img{ border:1px solid #ccc;}
.external-listed .item-ios .item-inner .input-wrapper .label-ios ion-row ion-col h1{    color: #007994 !important;
    font-family: "Muli",sans-serif;
    font-size: 17px !important;
    padding-bottom: 8px;
    margin: 0;}
.external-listed .item-ios .item-inner .input-wrapper .label-ios ion-row ion-col small{    font-size: 11px !important;
    color: #909090 !important;
    font-family: 'Muli', sans-serif;}
.external-listed .item-ios .item-inner .input-wrapper .label-ios {margin:0px;}
}
