<ion-header>
  <ion-toolbar class="hei-head" color="primary">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      Payment
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<button ion-button (click)="pay()" *ngIf="service_type == undefind">Click Here To Pay</button>
<button ion-button (click)="paypartial()" *ngIf="service_type != undefind">Click Here To partial</button>

</ion-content>
