page-change-password {
.change-log											{background-image: url('../assets/img/change-pass.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
  .toolbar-title-md{ text-align:center;}
   .toolbar-title-ios{ text-align:center;}
.change-pass											{ background:rgba(255,255,255, 0.0); box-shadow:none; padding:4px;}
.change-pass .item-md{ background:none;border: 1px solid #ccc;border-radius:30px;}
.change-pass .label-md {padding-left: 10px;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
}
.text-input-ios{padding-left:5px;}
.change-pass .item-ios{ background:none;border: 1px solid #ccc;border-radius:30px;}
.change-pass .label-ios { width:100%;padding-left: 10px;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
}
.checkbox-ios{ margin-top:3px;}
.change-pass span{    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Muli', sans-serif; float:left;}
	.logoin-btn{ font-size: 16px;
    font-weight:600; color:#fff;
    font-family: 'Muli', sans-serif; text-transform: capitalize;background: rgba(0, 0, 0, 0) linear-gradient(45deg, #fe5722 0%, #fe5722 30%, #ff906b 50%, #fe5722 71%, #fe5722 100%) repeat scroll 0 0;width:100%;height:40px; border-radius:20px; margin-top: 20px;  }
}
