<!--
  Generated template for the ChangePassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
</ion-navbar>
</ion-header>


<ion-content padding>

<form [formGroup]="change_password_Form">

		<ion-item *ngIf="!change_password_Form.controls.currentPassword.valid  && (change_password_Form.controls.currentPassword.touched || submitAttempt)">
           		<p style="color: #ea6153;">Please enter current Password</p>
        </ion-item>
		<ion-item>
		<ion-label floating>current password</ion-label>
	    <ion-input type="text" formControlName="currentPassword"></ion-input>
	    </ion-item>

		<ion-item *ngIf="!change_password_Form.controls.newPassword.valid  && (change_password_Form.controls.newPassword.touched || submitAttempt)">
           		<p style="color: #ea6153;">Please enter New Password</p>
        </ion-item>
		<ion-item>
		<ion-label floating>New password</ion-label>
	    <ion-input type="text" formControlName="newPassword"></ion-input>
	    </ion-item>

	   	<ion-item *ngIf="!change_password_Form.controls.re_enterPassword.valid  && (change_password_Form.controls.re_enterPassword.touched || submitAttempt)">
           		<p style="color: #ea6153;">Please Re-Enter New Password</p>
        </ion-item>
        <ion-item *ngIf(password_submit)><p style="color: #ea6153;">Password Entered doesn't Match..!</p></ion-item>
		<ion-item>
		<ion-label floating>Re-Enter password</ion-label>
	    <ion-input type="text" formControlName="re_enterPassword"></ion-input>
	    </ion-item>
	    <br>


	  	<ion-row>
	         <ion-col><button ion-button item-left small (click)="dismiss()">Cancel</button></ion-col>
	         <ion-col offset-33><button ion-button item-right small (click)="submit()">Submit</button></ion-col>
	    </ion-row>
</form>

</ion-content>
<style>

.item-ios{ padding-left:0px !important;}
</style>
