<!--
  Generated template for the ChangePassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Password Update</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<div class="change-pass-content">
<form [formGroup]="change_password_Form">

	<br/>
		<ion-label>Current Password</ion-label>
		<ion-item>
		
	    <ion-input type="text" formControlName="currentPassword"></ion-input>
		
	    </ion-item>
			<small *ngIf="!change_password_Form.controls.currentPassword.valid  && (change_password_Form.controls.currentPassword.dirty || submitAttempt)" >
           		<p class="err-reds">Please enter current Password</p>
        </small>
	   
        <ion-label>New Password</ion-label>
		<ion-item>		
	    <ion-input type="{{mytype}}" formControlName="newPassword"></ion-input>
	    </ion-item>
		 <small *ngIf="!change_password_Form.controls.newPassword.valid  && (change_password_Form.controls.newPassword.dirty || submitAttempt)">
           		<p class="err-reds">New Password</p>
        </small>
	  
         <ion-label>Re-Enter Password</ion-label>
		<ion-item>		
	    <ion-input type="{{mytype}}" (focus)="reEnter()" formControlName="re_enterPassword"></ion-input>
	    </ion-item>
		  <!--<small *ngIf="!change_password_Form.controls.newPassword.valid  && (change_password_Form.controls.newPassword.touched || submitAttempt)">
           		<p class="err-reds">Please enter New Password</p>
        </small>-->
	    <small *ngIf="!change_password_Form.controls.re_enterPassword.valid  && (change_password_Form.controls.re_enterPassword.dirty || submitAttempt)">
           		<p class="err-reds">Please Re-Enter New Password</p>
        </small>
               
	 
 		<div *ngIf(password_submit)><p class="err-reds">Password Entered doesn't Match..!</p></div>

</form>

<ion-item class="show-pass">		

<ion-checkbox [(ngModel)]= "show_password" (ionChange)="showPassword()"></ion-checkbox>
<ion-label>Show Password</ion-label>
 </ion-item>

</div>
</ion-content>
<ion-footer color="primary">
  <ion-toolbar color="primary"> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
   <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        <div style="padding-left: 10px !important;">
          Back
        </div>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submit()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submit()">
        Update
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<style>
.item-md{background:none;}
.item-block{ border-bottom:none !important;}
.item-ios{ padding-left:0px !important;}
.gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
</style>

<!-- <ion-input #input formControlName="password" type="password"></ion-input>
 <button class="btn" type="button" (click)="showPassword(input)"></button> -->
