
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	<ion-title text-center text-capitalize>payment</ion-title>
   
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form name="sendParam" id="sendParam" method="post" action="https://test.payu.in/_payment">
		      
		      <input type="hidden" name="hash" id="hash" [value]="hash"/>
		      <input type="hidden" name="key" id="key" [value]="key"/>
		      <input type="hidden" name="txnid" id="txnid" [value]="txnid"/>
		      <input  type="hidden" name="firstname" id="firstname" [value]="firstname"/>
		      <input  type="hidden" name="email" id="email" [value]="email">
		      <input name="phone"  type="hidden" id="phone" [value]="phone"/>

		      <input  type="hidden" name="amount" id="amount" [value]="amount"/>

		      <input type="hidden" name="productinfo" id="productinfo" [value]="productinfo" />
		      <input  type="hidden" name="service_provider" id="service_provider" [value]="service_provider" size="64"/>
		      <input  type="hidden" name="surl" id="surl" [value]="surl" size="64"/>
		      <input  type="hidden" name="furl" id="furl" [value]="furl" size="64"/>
		      
		      <input type="hidden" name="udf1" [value]="udf1" id="udf1"> 
								<!-- <input type="hidden" style="width:0px; height:0px;" name="udf2" ng-model="udf2" ng-value="udf2"> 
								<input type="hidden" style="width:0px; height:0px;" name="udf3" ng-model="udf3" ng-value="udf3">  -->
		 <input type="submit" (click)="submitForm(sendParam)" value="Click Here To Pay"/>
	</form > 

</ion-content>
