<div>
  <ion-menu id="elder" [content]="content">
    <ion-header class="hed-new">
      <ion-toolbar class="img-log">
        <div text-center>
          <img class="center-image" src="assets/img/Elderlogo.png" style="align-items:center;" />

        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="left-menus">
      <ion-list>
        <button class="side-item-md my-list-item fant-size" ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <i style="padding-right:0px; width:20px" class={{p.myIcon}} aria-hidden="true"></i>
          {{p.title}}
        </button>
          <button class="side-item-md my-list-item fant-size" ion-item>
          <i class="fa fa-code-fork" aria-hidden="true" style="padding-right:0px; width:20px"></i>
          App Version 1.0.4
        </button>
      </ion-list>
      <br/>
      <br/>
    </ion-content>
  </ion-menu>

  <ion-menu id="sponsor" [content]="content">
    <ion-header class="hed-new">
      <ion-toolbar class="img-log">
        <div text-center>
          <img class="center-image" src="assets/img/Elderlogo.png" style="align-items:center;" />
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="left-menus">
      <ion-list>
        <button class="side-item-md my-list-item fant-size" ion-item *ngFor="let p2 of pages2" (click)="openPage(p2)">
          <i style="padding-right:0px; width:20px" class={{p2.myIcon}} aria-hidden="true"></i>
          {{p2.title}}
        </button>
         <button class="side-item-md my-list-item fant-size" ion-item>
          <i class="fa fa-code-fork" aria-hidden="true" style="padding-right:0px; width:20px"></i>
          App Version 1.0.4
        </button>
      </ion-list>
      <br/>
      <br/>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>
