// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
my-theme													{
ion-menu													{background : color($colors,secondary);}
}
.primary-color												{color:#1976d2 !important;}
.ios, .md 													{page-community {
.demo														{background-color:#F2610D;font-size:14px;color:#ffffff;}
.demo:hover													{border-color:#0969e8;}
.one														{background-color:#0066CC;font-size:14px;color:#ffffff;}


.hover:hover{
	border-color: #e86509;
}
.comment{
	border: 2px solid #f2f2f2;

}

ion-content{
	background-color: #e6f2ff;
}
.post
{
	background-color: #ff4000;
	border-radius: 35px;
}
.post:hover{
		background-color: #ff4000;

}

.edit{
	color: #004d99;
	font-size: 22px;
}
h2{
	font-size: 18px;
}
p{
	font-size: 18px;
}



.comment{
	border: 2px solid  #f2f2f2;
	padding:20px;
}
.header{
	color: #387ef5;
}
.video{
	width:200px;
	border-radius: 35px;
	border: 2px solid #a59e95;
	height:50px;
}
.send{
	border: 2px solid #f2f2f2;
}

}

page-elders {

.valid{
		color:red;
}



 .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }
.emergency{
	width:200px;
	background-color: #3385ff;
	font-size:18px;
	color:#ffffff;
}
ion-content{
	background-color:  #e6f0ff;

}
.add{
	color:#ff751a;
	font-size :16px;
}
.add:hover{
	color:#005ce6;
}
.person{
	width:70px;
	height:70px;
	background-color:#ff8000;
}
.person:hover{
	background-color:#ff8000;
}
.back{
	width:70px;
	height:70px;
}
}
page-manage {
ion-content{
background-color:#e6f2ff;
	
}

ion-list{
	text-align:left;
}
.depend{
	padding:5px;
}
p{
	font-size:18px;
}
}
}
.dependent-modal{
position: absolute;
top: 60px;
left: 25px;
display: block;
width: 80%;
height: 25%;
background-color:primary;
padding-top:25px;	
}

.ion-modal {
position: absolute;
top: 60px;
left:0px;
display: block;
width:100%;
height: 90%;
background-color:light;
}
.service_request {

border-radius: 20px;
border :2px solid green;

}
.alert-message{
	overflow-y: none !important;
}


.slide_height{
	height: auto !important;
}

/*.rupee{
	background-position:left;
	width:10px;
	height:14px;
	background-image:url('http://i.stack.imgur.com/vJZ9m.png');
	display:block;
	background-repeat:no-repeat;
	padding-bottom:25px
}*/
.depend{
	border-radius: 20px;
    border :2px solid green;

}



ion-content													{background-image: url('../../assets/img/Elder_4a.jpg');   font-size:16px;  color:#777 !important; background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%; 
overflow: hidden;}

.my-side-menu,{
 background: #333 !important;
}


.list-md .item-block .item-inner {
    border-bottom: none !important;
}
/*-------------------------------------Common  css -------------------------------------*/
ion-header{background:#404996 !important;}
.service-bg0												{height:auto !important;min-height:80px;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#ff7fe6;width:50%;  margin-top:1px; }
.service-bg1												{height:auto !important;min-height:80px;border-bottom:1px solid #fff;border-right:1px solid #fff;background:#8c8cec;width:50%; margin-top:1px;}
.service-bg2												{height:auto !important;min-height:80px; border-bottom:1px solid #fff;border-right:1px solid #fff;background:#4ec2ff;width:50%;  }
.service-bg3												{height:auto !important;min-height:80px; border-bottom:1px solid #fff;border-right:1px solid #fff;background:#6cddc9;width:50%; }
.service-bg4												{height:auto !important;min-height:80px;  border-bottom:1px solid #fff;border-right:1px solid #fff;background:#feac48;width:50%;  }
.service-bg5												{height:auto !important;min-height:80px; border-bottom:1px solid #fff;border-right:1px solid #fff;background:#eb8b8c;width:50%; }
.service-bg6												{height:auto !important;min-height:80px; background:#fff;width:50%; }
.left-icons													{float:left; width:100%;}
.left-icons i                                               {font-size:40px; font-weight:400; color:#FFF;}
.right-fnticon												{float:right; line-height:50px; color:#333;}
.ftbtb p                                                    {color:#333; font-size:17px; margin:0px; font-weight:400;text-transform:capitalize; text-align:center; line-height:45px;}
.btn-warnings											    {background-color:#1D6AB2;border-color:#eea236;color:#fff;font-size:13px !important;text-transform:capitalize;}
.btn-infos												    {background-color:#F97500;border-color:#46b8da;color:#fff;font-size:13px !important;text-transform:capitalize;}
.info													    {font-size:13px !important;text-transform:capitalize !important;}
.btn-defaults												{background-color:#ccc !important;border-color:#333;color:#666;font-size:13px !important;text-transform:capitalize; margin-top:10px; margin-right:10px; float:right;}
.btn-primarys												{background-color:#337AB7 !important;border-color:#333;color:#fff;font-size:13px !important;text-transform:capitalize;margin-top:10px; float:right;margin-right:10px;}
.toolbar-background-md										{background:#337ab7; }
.ion-modal													{left:0px !important; background:#F8F8FF; margin-top:6px;}
page-modal-page ion-input									{border:none !important;}
page-service-info ion-input									{border:none !important;}
.view-storedet												{float:left; width:100%;}
.job-borad													{ border-bottom:1px solid #ccc; padding:8px !important;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);    margin:8px;}
.job-borad h2												{font-size:18px !important; color:#424a95; font-weight:400; margin-top:0px !important;margin-bottom:0px !important;}
.job-borad p												{font-size:15px; color:#777; font-weight:400; margin:0px; padding-top:8px; padding-bottom:10px;}
.view-storedet h2											{color:#1d6ab2;font-size:18px;padding:0; margin-bottom:0px !important;}
.view-storedet p											{color:#708090;font-size:15px;line-height:24px; padding:0; margin-bottom:0px !important;margin-top:0px !important;}
.close-iconss > .bar-button-default .ion-md-close-circle    {color:#c2c2c2!important; font-size:18px;margin-top:-11px;}
.close-iconss > .bar-button-default .ion-ios-close-circle-outline{color:#c2c2c2!important; font-size:18px;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{ boder:none !important; box-shadow:none;}
.label-lb													{font-size:16px !important;font-weight:400;padding-bottom:0px;text-align:center; margin-top:0px !important;}
.toolbar-title-md											{color:#fff !important; text-align:left; }
.btn-clr													{width:45%; float:left; border-radius:4px; margin-top:10px; }
.btn-clrs													{width:45%; float:right; border-radius:4px;margin-top:10px; }
.footer-btn													{float:left; width:100%;}
.brder-cor .button-md span.button-inner						{justify-content:left;}
.detalisview-arr											{float:right;}
.select-detalis-in .label-lb 								{padding-top:10px;}
.select-detalis-in .item-md						            {padding-left:9px !important;}
.select-detalis-in .item-ios						        {padding-left:9px !important;}
.select-detalis-in .item-md .select-brd						{width:97%; margin-bottom:10px;}
.select-detalis-in .item-ios .select-brd					{width:97%; margin-bottom:10px;}
.brder-cor b												{font-size:18px; font-weight:400; text-align:left; width:100%;}
.brder-cor .button-ios										{background:#159deb; color:#fff !important; font-size:15px !important;text-transform:capitalize; margin-bottom:0px;}
ion-card img												{border:1px solid #ccc;}
.select-detalis-in .text-input-md							{width:calc(100% - 8px - 8px);}
.select-detalis-in .text-input-ios							{width:calc(100% - 8px - 8px);}
.add-detalis p  											{font-size:16px !important; padding-left:10px !important;}

.brder-cor .button-md										{background:#159deb; border-radius:3px; color:#fff !important; font-size:16px !important; text-transform:capitalize !important; margin-bottom:0px;}
span.mails-cont												{float:left;}
.left-lefts													{padding:0px; margin:0px;}
.right-rights												{padding:0px; margin:0px;}
.community-layout{}
.item-md ion-avatar ion-img, .item-md ion-avatar img		{ border-radius:0px  !important;}
.button-md													{text-transform:capitalize !important; font-size:16px !important;}
span.mails-cont i 											{float:left; color:#858D9B; font-size:15px;padding-top: 5px; padding-right:5px;}
span.mails-cont p 											{float:left; color:#858D9B; font-size:15px;}
page-service-info .service_request							{border:none !important;}
ion-segment													{margin:7px; width:96%; border-radius:5px; }
.segment-md .segment-button									{background:none; color:#000; border-bottom:none;font-size:16px;text-transform:capitalize; border-left:1px solid #888aef !important; height:35px; line-height:35px; }
.connection-page											{margin:0px !important; font-size:15px !important; font-weight:400 !important; color:#777; }
.connection-pages											{color:#666 !important; margin:0px !important; font-size:15px;}
.active-btn i                                               {background:#006400 !important; font-size:12px !important; color:#fff; padding:6px; border-radius:3px;}
.active-btn 									            {background:none; box-shadow:none;}
.inactive-btn 									            {background:none; box-shadow:none;}
.inactive-btn i                                             {background:#FF0000!important; font-size:12px !important; color:#fff; padding:6px;border-radius:3px;}
.name-conne													{font-size:18px !important; color:#404996 !important; margin-bottom:2px; }
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{ background:#888aef; color:#fff; border:none; }
.thamb-lins													{bottom:-18px;left:12px;position:absolute;z-index: 999 !important; }
.thamb-lins img												{border:3px solid #fff; height:80px;width:90px; border-radius:3px;box-shadow: 0 0 5px #888}
.tid-cd 											        {color:#025fa9 !important;font-size:17px !important;font-weight:400 !important;text-align:left !important; float:left;}
.labels-bds													{background:rgba(19, 19, 20, 0.58) !important;border-right:4px solid red !important;color:#fff !important; font-weight:600;float:left;font-size:12px !important;padding:9px;position:absolute;
															 right:-1px;top:15px;width:auto;}
.video-updates                                              {padding:0px 4px !important;}
.user-profile												{width:80px;height:80px; border:1px solid #ccc;}
.wel-comemem											    {color:#025fa9 !important;font-family: "Open Sans",sans-serif;font-size:18px !important;margin: 0; padding:0 0 10px 10px;}
.likecolor													{color:#1e90ff !important; font-size:17px;}
.time-datem													{color:#666 !important; font-size:12px !important;}
.label-opc .item-md .item-inner .label-md					{ margin:0px !important; padding-top:0px;text-indent:0px; padding-left:8px; color:#1d6ab2; font-size:20px; line-height:25px; font-weight:400;}
.label-opc .item-md{ background:none;}
.label-opc {background:rgba(255, 255, 255, 0.73);bottom:0px;color:#1d6ab2!important;float:left;font-size:20px !important;position:absolute;width:100%;}
.edit-ld													{}
.text-commands											    { margin:0px !important; width:95% !important;}
.post-icons													{position:absolute;background:#fff !important;border-radius: 50%; border:1px solid #ccc; color:red;
    height: 40px;
    position: absolute;
   right: 4px;
    top: 25px;
    width: 40px; }
.createblog-form .item-md									{padding-left:10px;}
.createblog-form .item-md .item-inner .input-wrapper .select-brd { width:97%; height:38px;}
.rd-tags{  border: 1px solid #ccc !important;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15) !important;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    padding: 7px; width:94%; margin-left:10px; max-height:300px; min-height:80px;}
.createblog-form .item-md .item-inner .input-wrapper .text-input-md{width: calc(100% - 9px) !important;}
.createblog-form .item-md .item-inner .input-wrapper .label-md{ float:left; line-height:25px; margin-top:5px;}
.contect-bg-moblie											{background:#fff;}
.ios page-community .post, .md page-community .post			{width:100% !important;}
.post-icons i 												{color:#46a049;}
.personal-d p												{box-shadow:none !important; font-size:17px !important; color:#025fa9 !important; text-align:center;margin:0px !important;}
.alert-md .alert-sub-title									{color:#fff !important;}
.add-btn													{background:#1D6AB2; font-size:13px; color:#fff; border-radius:25px; width:90%;}
.rem-btn													{background:#ccc;font-size:13px; color:#333; border-radius:25px;width:90%;}
.alert-ios .alert-sub-title									{color:#fff !important;}
.list-mess													{background:#E6E6FA;border-bottom:1px solid #f8f8ff !important;font-size:15px;margin:0 !important;text-transform:capitalize;}
.list-mess .button-inner									{text-align:left;}
.comm-listpag												{border-radius:35px;height:40px;width:100%;margin:0px !important;}
.comm-postlist												{background:#ff4000 !important;border-radius:35px !important; height:40px !important; width:100% !important; margin:0px !important;}
.image-profile img										    {border-radius:50%;height:90px;width:90px; border:2px solid #ccc;}
.mem-name													{font-size:17px !important; margin:0px;}
.post-comm													{font-size:17px !important; margin:0px;}
.memb-list .label-md										{padding-top:0px !important;}
.memb-list .label-ios										{padding-top:0px !important;}
.memb-list 													{float:left;margin-bottom:5px;margin-left:5px;margin-right:6px; width:20%;}
.comm-posted												{position:relative; width:100%;border-top:1px solid #DCDCDC !important; border-bottom:1px solid #DCDCDC !important;margin-bottom:11px; padding:5px;}
.secon-sdms													{}
.job-view													{margin-top:10px;}
.job-view													{padding:5px !important;}
.job-view .item-md											{padding-left:0px !important;}
.job-view .item-md .item-inner .input-wrapper .label-md		{margin:0px;text-indent:0px;}
.job-view .item-md .item-inner .input-wrapper .label-md	h2	{font-size:18px !important; padding-bottom:0px;}
.job-view .item-md .item-inner .input-wrapper .label-md	p	{font-size:17px !important; padding-bottom:0px; width:100%;}
.job-view .item-md .item-inner .input-wrapper .label-md span{font-size:12px !important; color:#979A9A;  float:right; padding-top:5px;}
.location-catlist											{  background:#4ec2ff;}
.location-catlist .item-inner .input-wrapper .label-md		{font-size:18px !important; text-align:left; color:#434248;}
.location-catlist .item-inner .input-wrapper .sub-cate-slec .select-text{font-size:18px !important; text-align:left; color:#525252;}
.location-catlist .item-inner .input-wrapper .sub-cate-slec	{width:100%; padding:10px;}
.location-catlist .item-inner .input-wrapper .sub-cate-slec .select-icon .select-icon-inner{border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid;
															 color:#525252;height:0;left:0px;margin-top:0px;pointer-events:none;position:absolute;top:50%;width:0;}
.sub-cat-listed .item-inner .input-wrapper .label-md		{margin:0px !important;}
.sub-cat-listed .item-inner .input-wrapper .label-md p		{font-size:16px !important; color:#fff; float:left; width:90%;  }
.sub-cat-listed .item-inner .input-wrapper                  {border-top:1px solid #fff; border-bottom:none;}

.left-right-side										    {color:#999;float:right;font-size:13px !important;font-weight:normal !important;line-height:25px;margin-right:13px;}
.sub-cat-listed												{background: linear-gradient(to right, #1f96db 40%, #70c4f1 100%);margin:0px 0px 0px 5px; width:97%; padding-left:0px !important;}
.error-clr													{font-size:15px !important; font-weight:400 !important; color:red !important;text-align:center !important;}
.error-clr i.unlink 												{ font-size:17px; color:#1D6AB2;}
.send-req													{ width:50%; margin-left:10px; margin-bottom:10px;}
.cmmpost													{font-size:16px !important; color:#777 !important; text-align:left;  margin-top:5px; margin-left:8px;}
.pro-imgs													{width:50px; height:50px; border-radius:0px; padding:5px; margin-top:5px;}
.updated-staus-btn .item-md .item-inner .input-wrapper .label-md{ margin:0px;}
.updated-staus-btn .item-md .item-inner .input-wrapper .label-md h2.wel-comemem{ padding-bottom:0px; padding-left:0px;}
.three .input-md .text-input-md 								{margin:0px 0px 6px 7px;}
.comm-posted .item-inner .input-wrapper .label-md{padding-top:0px !important;}
.trash-icon													{height:20px;padding:0 !important;position:absolute;right:-7px;top:-13px;}
.trash-icon	i												{color:red; font-size:19px !important;}
.secon-sdms													{background:#ff4000 !important; color:#fff !important; font-size:15px; text-transform:capitalize; border-radius:25px;}
.liste-edit													{font-size:17px !important;line-height:35px !important;padding:0 !important;text-align:center !important;}
.but-colo													{padding:8px !important;height:32px !important; width:auto!important; border:1px solid #ccc !important;}
.num-of														{color:red !important; font-size:13px !important;}
.comm-cl													{color:#1E90FF !important; font-size:17px !important; text-transform: capitalize;}
.points-count												{color:red; font-size:17px !important; }
.label-md													{padding-top:0px !important;}
.services > i 												{color:#5dade2 !important;}
.jobs > i													{color:#e74c3c !important;}
.community > i 												{color:#1976d2 !important;}
.connection > i 											{color:#58d68d !important;}
.blogs > i													{color:#F4A460 !important;}
.messagess > i												{color:#FA8072 !important;}
.ambulance > i												{color:#BDB76B !important;}
.police > i													{color:#008B8B !important;}
.hooter > i													{color:#DEB887 !important;}
.hooter > i													{color:#DEB887 !important;}
.call-sponsor > i 											{color:	#9370DB !important;}
.text-input-ios												{font-size:15px !important;}
.dashboard > ion-row ion-col:hover							{background:#2c3e50;}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{}
.button-md-secondary										{background:none; color:#333;box-shadow:none;}

.item-md [item-left], .item-md [item-right]					{margin:0px !important;}
.edit-pro													{color:#1976d2 !important;font-size:16px !important;font-weight:700 !important; line-height:25px !important;
															 margin-bottom: 8px !important;text-align: left !important;}
.item-ios													{padding-left:0px !important;}
.label-ios .head-mar h2.edit-pro							{margin-top:20px !important;}
.editicoan													{font-size:18px !important;}
.labels-lb													{color:#00CED1; font-weight:400; font-size:16px;}
.feed-post													{color:#777 !important;font-size:17px !important;font-weight:400 !important; margin:0px !important;line-height:25px !important;padding:0px 0px 0px 10px !important;}
page-my-profile ion-col										{ border-left:1px solid #F0F8FF !important;}
.video-updates												{}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-active) .item-inner{ border-bottom:none;}
.select-brd													{border:1px solid #ccc !important; width:100%;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
															  color:#555;font-size:18px;font-weight:400;padding:7px 10px 6px 20px !important;}
.rating														{padding-left:0px !important; margin:0px!important; padding-top:5px;}
ul.rating li												{padding:5px 0px !important;}
.select-text												{font-size:15px !important;}
.members													{font-size:15px !important;}

ion-app.ios													{font-family: 'Open Sans', sans-serif !important;}
.detalis-elder												{text-align:center;box-shadow:none; font-size:16px !important; font-weight:600 !important; color:#1976d2 !important; background:#fff; border-radius:3px; padding:4px;}
/*-------------------------------------Common  css end -------------------------------------*/




/*-------------------------------------Android platform css -------------------------------------*/

.primary-color 												{color:#1976d2 !important; font-size:15px !important;}
.card-md p 													{color:#777;font-size:14px;font-weight:normal;line-height:22px;font-family: 'Open Sans', sans-serif !important; 
														     margin: 0 0 2px;}
ion-app.md													{font-family: 'Open Sans', sans-serif !important; }
ion-app.ios [padding], ion-app.ios [padding] .scroll-content{padding:0px !important;}
.blogs-div h2												{color:#1976d2;white-space: nowrap;font-family: "Open Sans",sans-serif !important; overflow:hidden;font-size:16px;
															 font-weight:700;line-height:20px;text-align:left;}
.my-list-item												{background:#333!important;color:#999 !important;border-bottom:1px solid #444 !important; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);}
.login-pages .item-ios									    {background:none;}
.forgot-pass												{background:none !important;  color:#337ab7 !important;font-family: 'Open Sans', sans-serif !important; font-size:15px; }
.bg-back													{background:none !important; border-bottom:none !important;}
.text-input-wp  											{border: 1px solid #ccc !important;border-radius:25px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15); padding:10px 10px 10px 20px;font-size: 18px;
															 font-weight:400; color:#555;}
.list-ios .item-block .item-inner							{border-bottom:none;}
page-service-info .service_request							{border:none !important;}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner{ border-bottom:none;}
.liste-name													{font-size:17px !important; font-weight:400; height:25px; padding-left:10px; padding-top:5px;}
.segment-md 												{border:1px solid #888aef;}

/*-------------------------------------Android platform css end-------------------------------------*/


.one-half-responsive {
    width: 100%;
}
.image-column-left::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.image-column-left {
    margin-bottom: 30px !important;
    padding-right: 30px !important;
}
.image-column-left img {
    border-radius: 0 100px 100px 0;
    float: left;
    height: 115px;
    margin-left: -50px;
    margin-right:10px;
    width: 115px;
}
.image-column-left strong {
    display: block;
    font-size:18px !important; font-weight:400;
    width: 100%;
}
.image-column-left em {
    color: #777 !important;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 7px;
    width: 299px;
}
.decoration {
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    height: 1px;
    margin-bottom:10px;
    width: 100%;
}
.label-md {
    margin: 13px 6px 13px 0;
}
.item-md.item-block .item-inner{padding-right:0px;}
/*-------------------------------------ios platform css -------------------------------------*/
.ios-cont-s{margin-top:0px;}
.slider-detalis-list .card-md 							{ margin:5px; width: calc(100% - 10px) !important; padding:5px;}
.slider-detalis-list .card-md .card-header-md ,.card-content-md					{ padding:0px;}
.slider-detalis-list										{float:left;  width:100%; margin-top:10px; }
.slider-detalis-list h2										{text-align:left; font-size:18px; color:#1d6ab2; padding-top:5px; margin:0px;  padding-left:5px;  }
.slider-detalis-list p									    {text-align:left; font-size:16px; color:#777 !important; margin:0px;padding-top:8px; padding-left:10px;}
.swiper-slide img											{max-height:190px;}
.button-ios													{height:35px !important; font-size:16px !important;}
.card-ios p													{color: #777;font-size:16px;font-weight:normal;line-height:22px;font-family: 'Open Sans', sans-serif !important; 
															 margin: 0 0 2px;}
ion-app.wp [padding], ion-app.wp [padding] .scroll-content  {padding:1px !important}
.login-pages .item-wp										{background:none;}
.forgot-pass												{background:none !important;  color:#337ab7 !important;font-family: 'Open Sans', sans-serif !important; font-size:15px; }
.bg-bac												        {background:none !important; border-bottom:none !important;}
.text-input-md  											{border: 1px solid #ccc !important;border-radius:0px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15);  padding:7px;font-size: 18px;
.service-bg													{ height:auto !important;}															 font-weight:400; color:#555;}
.text-input-ios   											{border:1px solid #ccc !important; width:95%;border-radius:0px !important;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15); padding:10px 10px 10px 20px;font-size:18px; margin:7px;
															 font-weight:400; color:#555;}
.call-us												    {color:#9370DB!important; font-size:16px; width:100%; float:left; padding-top:5px;}
.token-date													{font-size:12px !important; color:#777;}
.text-input-ios   											{border: 1px solid #ccc !important;border-radius:25px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15); padding:10px 10px 10px 20px;font-size: 18px;
															 font-weight:400; color:#555;}
.des-detalis												{ font-size:17px !important;}
.toolbar-ios ion-title										{padding: 0 50px 1px;}
.label-ios[stacked]											{margin-bottom:0px;}
.label-ios													{line-height:14px;}
.blogs-tittle .item-md										{ padding-left:0px !important;}
.blogs-tittle .item-md .item-inner .input-wrapper .label-md	{ margin:0px ;}
.blogs-tittle .item-md .item-inner .input-wrapper .label-md h2{ padding-top:0px !important;text-indent:0px !important;}
.service-req												{color:#404998 !important;display:inline;font-size:18px !important;margin: 0;padding:0;}
.req-viewlist												{font-size:17px !important; font-weight:400 !important; color:#008B8B;}
.req-viewlist span											{font-size:18px !important; font-weight:400 !important; color:#414994;}
.req-viewlist p											    {font-size:17px !important; font-weight:400 !important; color:#666;}
.err-reds													{font-size:12px !important; font-weight:400 !important; color:red !important; text-align:right !important; padding-right:25px !important; margin:0px; }
.token-primary												{ width:auto; margin-top:7px; border-radius:3px;}
.token-primarys												{  width:40px; height:40px;margin-left:8px;margin-top:5px; display:block; border:1px solid #ccc; border-radius:50%;}
.token-primarys	 i											{ line-height:42px; color:#00a651; text-align:center; width:100%; font-size:20px;}
.call-contact												{background:#E6E6FA; display:block; text-align:center; width:100%;}
.token-primary	small										{font-size:18px; font-weight:400;color:#FE2725; float:left;}
.token-primary i											{font-size:14px; color:#666; line-height:25px;  float:left; padding-left:5px; line-height:30px;}
.token-primary p											{font-size:17px; color:#888aef; float:left;  margin:0px; line-height:30px;padding-left:5px; }
.change-pass												{border-radius:20px; width:95%; height:35px; margin-left:5px;}
.item-ios ion-avatar ion-img, .item-ios ion-avatar img		{ border-radius:0px !important;}
.segment-ios .segment-button:hover:not(.segment-activated)	{background:#fff !important;}
.segment-ios .segment-button.segment-activated				{margin-top:10px;}
.segment-ios .segment-button								{margin-top:10px;background:#fff; border:1px solid #888aef; color:#888 !important; padding-left:10px; height:38px; line-height:35px; font-size:15px;}
.uploadimg													{height:35px !important; width:95%; border-radius:25px !important;}
.segment-ios												{ margin-top:10px;}
.label-ios 													{margin: 11px 0 15px;}
.label-opc .item-ios										{background:none !important;}
.sub-cat-listed .item-inner .input-wrapper .label-ios		{margin:0px !important;}
.content-ios .scroll-content .subcategory-list 				{ border-bottom:1px solid rgba(0, 0, 0, 0.08);}
.sub-cat-listed .item-inner .input-wrapper .label-ios p		{font-size:17px !important; color:#fff; float:left;  }
.view-storedet ion-row .brder-cor							{ padding-bottom:0px; padding-top:0px;}
.job-view .item-ios .item-inner .input-wrapper .label-ios		{margin:0px;text-indent:0px;}
.list-ios > .item-block:first-child {
    border-top:0px solid #c8c7cc;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom:0px solid #c8c7cc;
}
.job-view .item-ios .item-inner .input-wrapper .label-ios h2 {
    font-size:17px !important;
    padding-bottom: 10px;
}
.btn-right													{float:right;margin-right:10px;}
.job-view .item-ios .item-inner .input-wrapper .label-ios span{font-size:12px !important; color:#777;  float:right; padding-top:5px;}
.label-opc .item-ios .item-inner .input-wrapper .label-ios  {color:#1d6ab2;font-size:19px;font-weight:400;line-height:25px;margin:0 !important;padding-left:8px;padding-top:0;text-indent:0px !important;} 
/*-------------------------------------ios platform css end-------------------------------------*/

/*-------------------------------------Windows platform css -------------------------------------*/

.card-wp p													{color: #777;font-size:15px;font-weight:normal;line-height:22px;font-family: 'Open Sans', sans-serif !important; 
															 margin: 0 0 2px;}
ion-app.md [padding], ion-app.md [padding] .scroll-content  {padding:0px !important;}
.login-pages img.logo										{margin-top:70px;}	
.login-pages .item-md										{background:none;}										
.login-pages .item-md										{background:none;}
.forgot-pass 												{background:none !important;box-shadow:none; color:#337ab7 !important;font-family: 'Open Sans', sans-serif !important; margin-top:10px; font-size:15px !important; text-transform:capitalize; }
.bg-back .item-inner										{background:none !important; border-bottom:none !important;}
.text-input-wp  											{border: 1px solid #ccc !important;border-radius:25px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15); padding:10px 10px 10px 20px;font-size: 18px;
        													 font-weight:400; color:#555;}
.service-bg													{height:auto !important;}

												 
/*-------------------------------------Windows platform css end-------------------------------------*/







/*-------------------------------------Android platform css -------------------------------------*/
.list-md{ margin:0px !important;}

.my-list-item												{background:#333!important;color:#999 !important;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);     -moz-border-bottom-colors: none;
															-moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #444 currentcolor #111 !important;
														     border-image: none; border-style: solid none;border-width: 1px medium;position: relative}
.label-md													{font-size:14px;line-height:15px;overflow:hidden;padding-right:1px;text-indent:5px;text-overflow:ellipsis;white-space:nowrap; padding-top:15px;}
.menu-inner													{margin-top:57px;}
.header-md													{z-index:999;}
.header														{height:55px;}
.item-select												{padding-left:0px; text-align:center; }

.sub-cate > .list-md > .item-md								{background:#c0392b !important; padding-left:0px; }
.sub-cate > .list-md > .item-md	> .label-md				    {margin:0px !important;}
.list-cates													{border:1px solid red !important;}
.subcategory-list											{padding:5px;}
.subcategory-list .item-inner .input-wrapper .label-md		{margin:0px !important;}
.ios page-community .video, .md page-community .video		{width:100%; border:none; height:40px;}
.community-img												{position:relative !important; }


.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content, .ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content{padding-top:0px !important;}
/*-------------------------------------Android platform css end-------------------------------------*/


/*-------------------------------------ios platform css -------------------------------------*/
.thamb-texts												{ position:relative;}
.label-ios													{font-size:14px;line-height:15px;overflow:hidden;padding-right:1px;text-indent:5px;text-overflow:ellipsis;white-space:nowrap;}
.item-inner													{background:none !important;}
.toolbar-title-ios											{font-size:19px; font-weight:400;}
.sub-cate													{background:none !important;box-shadow:none;border-radius:0px; width:94%; margin-left:11px; padding-left:0px;}
.bar-button-ios												{font-size:15px;}
.sub-cate .list-ios										    {padding-left:0px; margin-bottom:0px; background:repeat;}
.bar-button-ios[icon-only] ion-icon							{font-size:25px;}
.sub-cate > .input-wrapper									{background:#C0392B !important;}
.sub-cate > .input-wrapper >.item-ios						{background:none;}
.sub-cate .item-inner 										{border-bottom:none !important; background:#16A085!important;padding-right:0px !important;}
.sub-cate .item-inner .input-wrapper .label-ios				{margin:0px;padding-right:0px !important; position:relative;}
.sub-cate .item-inner .input-wrapper .label-ios h2 .title-ios .toolbar-title{ background: rgba(51, 51, 51, 0.12); font-size:20px; font-weight:400; 
															 color:#fff;display:block;height:45px;line-height:45px;width:100%; text-align:left; padding-left:5px}
.sub-cate .list-ios p									    {width:100%; color: #fff; font-size:16px; padding-bottom:8px;
															 font-size: 16px;text-decoration:none;margin-left:0px; position:relative;/* border-bottom:1px solid rgba(212, 209, 209, 0.13) !important;*/}
.item-block										            {/*border-bottom:1px solid rgba(212, 209, 209, 0.13) !important;*/}
.item-select												{font-size:14px !important;}
.marg-info													{padding:50px; float:left; margin-top:10px;}
.item-ios.item-block .item-inner							{ border-bottom:none; margin-left:5px; padding-right:3px !important; }
.label-ios													{font-size:15px;}
.alert-ios .alert-wrapper									{background:#f8ffff;}
.alert-message												{display:none;}
.alert-wrapper > .alert-head > h2							{margin-top:0px; color:#fff; }
.alert-wrapper > .alert-head								{background:#1D6AB2;}
.alert-ios .alert-radio-label								{padding:5px 5px 5px 10px;}
.alert-ios .alert-tappable									{height:35px;border-bottom:1px dashed #ccc;}
.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group{max-height:250px !important; overflow-y:scroll !important;}
.alert-ios .alert-button									{font-weight:normal !important; font-size:16px;}
.item-inner > .input-wrapper > .label-ios h2				{font-size:16px;color:#1d6ab2;text-transform:capitalize;}
.rupee 														{color:#777 ; position:relative;}
.item-inner > .input-wrapper > .label-ios					{color:#777;font-size:14px; }
.rupee:before 										        {content:"\f156";font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;color:#777;
														     font-size:16px;padding-right:0.5em;position:absolute;top:7px;left:0%;}
.toolbar-background-ios										{ background:#337ab7; color:#fff !important;}
.toolbar-title-ios											{color:#fff;}
.item-ios .item-button									    {height:30px !important;}
.hei-head > .toolbar-background-md                          {height:42px !important;}
.tittles-md .toolbar-title-md								{margin-top:-18px !important;font-size:18px !important; text-align:center;}
.tittles-md .toolbar-title-ios                              {font-size:17px !important;}
.hei-head > .toolbar-background-md > .toolbar-md			{height:45px !important;}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{ background:none;}
.item-ios [item-left]										{margin:0px !important;}
.button-ios-secondary										{background:none; color:#333;}
.mar-top													{margin-top:10px;}
.timedate													{font-size:13px !important; color:#A9A9A9 !important; text-indent:0px !important;}
.pro-info													{padding-top:10px;}
.userioc													{border-right:1px dashed #D8BFD8; color:#FA8072;font-size:15px;height:25px;line-height:25px; text-align:center;width:25px;}
.listed-det p												{font-size:15px !important; color:#1E90FF; font-weight:400 !important;border: 1px dashed #D8BFD8; margin-bottom:10px;}
.title														{ font-size:15px !important; color:#FA8072 !important;}
ion-select													{max-width:100% !important;}
.liste-names 												{font-size:16px !important;font-weight: 400;height:30px;padding-left: 10px;padding-top: 5px;}
.segment-ios .segment-button.segment-activated				{background:#888aef; padding-left:5px !important; height:38px; color:#fff !important;}
.fant-size > .item-inner > .input-wrapper > .label-ios      {font-size:16px !important; padding-top:0px !important;line-height:25px !important; text-indent:10px !important;}
.segments-info .segment-top .segment-ios .segment-button.segment-activated{margin-top:10px;}
.page-down													{white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;}
.rating-clr	ul.rating .ion-ios-star							{color:#FF8C00; }
.alert-ios .alert-radio-label								{font-size:16px !important; font-weight:400;}
.slider-detalis-list .card-ios 							{ margin:5px; width: calc(100% - 10px) !important; padding:5px;}
.slider-detalis-list .card-ios .card-header-ios ,.card-content-ios					{ padding:0px;}
.job-view .item-ios .item-inner .input-wrapper .label-ios	p	{font-size:17px !important; padding-bottom:0px; width:100%;}
.job-view .item-ios .item-inner .input-wrapper .label-ios span{font-size:13px !important; color:#979A9A;  float:right; padding-top:5px;}
.applyJob-btn			{float:right; margin-right:5px; width:97%;}
.job-descriptions small{ width:100%; font-size:17px;color:#1d6ab2;}
.job-descriptions span{ width:100%; font-size:16px; color:#777;}
.job-descriptions p{ width:100%; font-size:15px; color:#777;}
.job-summary{ font-size:17px !important;}
.listing { padding-left:0px; font-size:16px !important; color:#777;}
.select-brddd{   border: 1px solid #ccc !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    color: #555;
    font-size: 18px;
    font-weight: 400; margin-left:8px;
    padding: 7px 10px 6px 20px !important;
    width:95%;}
	.submit-btns{width:95%; border-radius:4px; margin-left: 8px;}
/*-------------------------------------ios platform css end-------------------------------------*/
/*-------------------------------------Android platform css -------------------------------------*/

.popup-mds .scroll-content form .label-lb				    {font-size:17px; font-weight:400; margin-top:0px; margin-bottom:8px;}
.popup-mds .scroll-content form .item-datetime    			{padding-left:8px !important;}
.popup-mds .scroll-content form .select-brd 				{width:98%; margin-bottom:10px;}
.popup-mds .scroll-content form .select-brds				{border:1px solid #ccc !important;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.15);color:#555;font-size:18px;font-weight:400;
															 padding: 7px 10px 9px 20px !important;width:96% !important; margin-left:7px !important;}
.alert-md .alert-radio-label								{font-size:16px !important; font-weight:400;}
.price-clr													{color:red !important; color:18px !important; font-weight:400; font-size:16px !important;}
.rating-clr	ul.rating .ion-icon								{font-weight:400; font-size:20px !important;}
.rating-clr	ul.rating .ion-md-star							{color:#FF8C00; }
.fant-size > .item-inner > .input-wrapper > .label-md       {font-size:18px !important;padding-top:0px !important; line-height:22px !important; text-indent:10px !important;}
.fant-size > .item-inner > .input-wrapper > .label-ios       {font-size:18px !important;padding-top:0px !important; line-height:22px !important; text-indent:10px !important;}
.sub-cate .item-inner .input-wrapper .label-md			    {margin:0px !important; background:none !important;}
.sub-cate .item-inner .input-wrapper .label-md h2 .title-md {background: rgba(51, 51, 51, 0.12); font-size:20px; font-weight:400; 
															 color:#fff;display:block;height:45px;line-height:45px;width:100%; text-align:left; padding-left:5px}
.sub-cate .item-inner .input-wrapper .item-md               {background:none; manage:0px !important;}
.sub-cate .item-inner .input-wrapper .list-md               {margin:0px; padding-left:0px;}
.sub-cate .item-inner .input-wrapper .label-md p            {color:#fff;font-size:16px;margin-left:0;padding-bottom:0px;position:relative;text-decoration:none;width:100%; padding-left:0 !important}
.sub-cate .item-inner .input-wrapper .label-md h2 .title-md .toolbar-title-md{ color:#fff !important; padding:0px !important;;}
.alert-md .alert-head									    {padding: 4px 10px 10px;}
.headbg													    {background:#4169E1; font-size:15px;}
.body-clr												    {background:#fff;}
.popup-mds > .ion-label									    {font-size:15px; text-align:center;}
.item-inner > .input-wrapper > .label-md h2				    {font-size:19px !important;color:#424a95;text-transform:capitalize; margin-top:0px !important;}
.item-inner > .input-wrapper > .label-md				    {color:#777;font-size:16px; padding-right:0px !important; }
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{ bottom:4px;}
.marg-info img											    {}
.item-md .item-button									    {height:30px;}
.text-input-md											    {font-size:15px;width: calc(100% - 8px - 5px);}

page-dashboard .dashboard								    {padding:25px 0px !important;}
.des-card												    {background:#fff	!important;}
.name-person											    {font-size:15px !important;  font-weight:600;color:#6A5ACD; float:left;}
.name-elder												    {color:#777!important;float:left;font-size:16px!important;font-weight:400 !important;padding-left:10px !important;text-transform:capitalize;}
.edit-eld												    {color:#1E90FF; padding:3px; font-size:17px !important; border-radius:3px; width:20px; height:20px;}
.trash-del												    {color:red; padding:3px;font-size:17px !important; border-radius:3px; width:20px; height:20px;}
.create-message .item-md									{padding-left:0px !important;}
.alert-button											    {font-size:15px !important;}
.create-message .item-md .text-input-md						{width: calc(100% - 8px - 7px);}
.create-message .item-ios .text-input-ios					{width: calc(100% - 8px - 5px);}
.create-message .completer-holder .completer-input 			{border:1px solid #ccc !important;border-radius:0;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);color:#555;font-size:15px;
                                                             font-weight:400;padding:7px; margin-left:10px !important; width:94%;}
/*-------------------------------------Android platform css end-------------------------------------*/


//venkat
.item-inner 											   {border-bottom-color: transparent !important;box-shadow: none !important;}
