<div>
<ion-menu id="elder" [content]="content" class="menus-color">
  <ion-content class="side-item-md my-side-menu">
    <ion-list>
      <button class="side-item-md my-list-item fant-size" ion-item *ngFor="let p of pages" (click)="openPage(p)"><i style="padding-right: 2px; width: 35px" class={{p.myIcon}} aria-hidden="true"></i>
       {{p.title}}
      </button>
    </ion-list>	
	<br/>
	<br/>
  </ion-content>
</ion-menu>

<ion-menu id="sponsor" [content]="content" class="menus-color">
  <ion-content class="side-item-md my-side-menu">
    <ion-list>
      <button class="side-item-md my-list-item fant-size" ion-item *ngFor="let p2 of pages2" (click)="openPage(p2)"><i style="padding-right: 2px; width: 35px" class={{p2.myIcon}} aria-hidden="true"></i>
       {{p2.title}}
      </button>
    </ion-list> 
  <br/>
  <br/>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>