<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>News</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="content-intop NewsListview">
  <ion-card *ngFor="let news of newsLists" class="newscard">
    <div (click)="viewNews(news?.id)">
      <div class="newsimage">
        <img src="{{imageUrl+news?.featured_image}}" [hidden]="!news?.featured_image">
      </div>
      <ion-item text-wrap class="events-shows">
        <h2 text-capitalize>{{news?.title}}</h2>        
        <p>{{news?.post_date}}</p>
        <p>{{news?.author_name }}</p>
        <p class="description" [innerHTML]="news?.description | words : 40 : '...'"></p>
      </ion-item>
    </div>
  </ion-card>

  <ion-fab bottom right edge class="scroll" *ngIf="scrollTop">
    <button ion-fab mini (click)="scrollToTop()">
      <ion-icon name="arrow-dropup">
      </ion-icon>
    </button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-item padding *ngIf="!newsLists">
    <p class="error-clr">{{emptyRecord}}</p>
  </ion-item>
</ion-content>
