<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Messages</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end right *ngIf="hidedelete == true">
      <button ion-button icon-only (click)="logDeleteStudents('inbox')">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end right *ngIf="senddelete == true">
      <button ion-button icon-only (click)="sentlogDeleteStudents('sent')">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="MessageSection">
  <ion-fab right bottom>
    <button class="add-depends" ion-fab mini (click)="createMessage()" end>
      <ion-icon name="create">
      </ion-icon>
    </button>
  </ion-fab>
  <div class="Messagesegment">
    <ion-segment [(ngModel)]="messages">
      <ion-segment-button value="inbox" color="orange" (click)="onInit()">
        Inbox
      </ion-segment-button>
      <ion-segment-button value="sent" color="primary" (click)="sent()">
        Sent
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="messages">
    <ion-list *ngSwitchCase="'inbox'">
      <ion-item *ngIf="!inboxInfo">
        <p class="error-clr">{{emptyRecord}}</p>
      </ion-item>
      <div class="search-background">
        <div class="ion-searchbar">
          <ion-row>
            <ion-col class="width-80" col-10>
              <ion-searchbar [(ngModel)]="inbox" (keyup.enter)="getItems(inbox)"></ion-searchbar>
            </ion-col>
            <ion-col col-2 class="btn-go width-20">
              <button (click)="getItems(inbox)" ion-button small class="go-btn">Go</button>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div class="message-list">
        <ion-list *ngFor="let inbox of inboxInfo">
          <ion-item-sliding class="inbox-sends">
            <ion-item (press)="clickedAvatar(inbox.id)" [class]="isInArray(inbox.id) ? 'selected' : 'not-selected'" (click)="viewMessages(inbox?.id,'inbox')">
              <ion-card>
                <ion-row>
                  <ion-col style="max-width: 20%;" width-40>
                    <ion-avatar item-left>
                      <img src="{{imageUrl+inbox?.avatar}}">
                    </ion-avatar>
                  </ion-col>
                  <ion-col width-60 class="send-box-content">
                    <ion-row>
                      <ion-col class="width-75" text-wrap [ngClass]="inbox.read_status?'readmsg':'unreadmsg'">
                        <p style="font-size: 1.8rem;">{{inbox?.author_name}}</p>
                      </ion-col>
                      <ion-col *ngIf="inbox.attachemts != null">
                        <ion-icon name="attach"></ion-icon>
                      </ion-col>
                      <ion-col class="width-25" style="text-align-last: end;">
                        <p class="time-small">
                          {{inbox?.created_at}}</p>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="inbox.subject">
                      <ion-col style="padding: 0px 5px !important" class="messageSubject" [ngClass]="inbox.read_status?'readmsg':'unreadmsg'">
                        <span text-wrap>{{inbox?.subject}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-item>

            <ion-item-options side="right" (click)="showConfirm(inbox?.id,'inbox')">
              <button ion-button class="trash-del">
                <i class="fa fa-trash-o fa-2x"></i>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <ion-row>
        <ion-col offset-50>
          <button *ngIf="nextPageURL1!=null && nextPageURL1!=''" ion-button color="dark" clear (click)="doInfinite1($event)">
            <i class="fa fa-angle-down"></i>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>

    <!-- ================= Sent message ============== -->

    <ion-list *ngSwitchCase="'sent'">
      <ion-item padding *ngIf="!sentInfo">
        <p class="error-clr">{{emptyRecord}}</p>
      </ion-item>
      <div class="search-background">
        <div class="ion-searchbar">
          <ion-row>
            <ion-col class="width-80">
              <ion-searchbar [(ngModel)]="outbox" (keyup.enter)="setItems(outbox)"></ion-searchbar>
            </ion-col>
            <ion-col class="btn-go width-20">
              <button (click)="setItems(outbox)" ion-button small class="go-btn">Go</button>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="message-list">
        <ion-list *ngFor="let sent of sentInfo">
          <ion-item-sliding class="inbox-sends">
            <ion-item (click)="viewMessages(sent?.id,'sent')" (press)="deletesendMultipel(sent.id)" [class]="isInArraySend(sent.id) ? 'selected' : 'not-selected'">
              <ion-card>
                <ion-row>
                  <ion-col style="max-width: 20%;" width-20>
                    <ion-avatar item-left>
                      <img src="{{imageUrl+sent?.avatar}}">
                    </ion-avatar>
                  </ion-col>

                  <ion-col class="send-box-content">
                    <ion-row>
                      <ion-col class="width-75"  text-wrap>
                        <p style="font-size: 1.8rem;">{{sent?.name}}</p>
                      </ion-col>
                      <ion-col *ngIf="sent.attachments != null">
                        <ion-icon name="attach"></ion-icon>
                      </ion-col>
                      <ion-col  class="width-25" style="text-align-last: end;">
                        <p>
                          {{sent?.created_at}}</p>
                      </ion-col>
                    </ion-row>

                    <ion-row *ngIf="sent.subject">
                      <ion-col class="messageSubject">
                        <span text-wrap>
                          {{sent?.subject}}
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-item>
            <ion-item-options side="right" (click)="showConfirm(sent?.id,'sent')">
              <button ion-button color="primary">
                <i class="fa fa-trash-o fa-2x"></i>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <ion-row>
        <ion-col offset-45>
          <button *ngIf="nextPageURL2!=null && nextPageURL2!=''" ion-button color="dark" clear (click)="doInfinite2($event)">
            <i class="fa fa-angle-down"></i>
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>