page-messages {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.inbox-sends {
    border-bottom:1px solid hsl(220, 23%, 95%);
    font-family: "Muli",sans-serif;
}
.inbox-sends .item-md .item-inner .input-wrapper .label-md ion-row ion-col.send-box-content ion-row ion-item .item-inner .input-wrapper .label-md small {
    color:#007994 !important;    font-family: "Muli",sans-serif;
    font-size: 17px; font-weight:400;
}
.go-btn{width:50px;height:35px;}
.subject-details .item-inner .input-wrapper .label-md b {
    float: left;
    font-size:14px;
    font-weight: 400;
    padding-right: 5px;    font-family: "Muli",sans-serif;
}
.send-box-content ion-row > ion-col > p {
    font-size: 10px;
}
.inbox-sends p{color:#333 !important;}
.list-ios{margin:0px !important;}
.label-ios{margin:0px !important;}
.inbox-sends .item-md .item-inner .input-wrapper .label-md ion-row ion-col.send-box-content ion-row ion-item .item-inner .input-wrapper .label-md {
    font-size: 13px;
    margin-left: 3px;    font-family: "Muli",sans-serif;
    text-indent: 0;
}

.inbox-sends .item-block {
    min-height: 0;
}
.inbox-sends .item-md {
    padding-left: 0;
}
.inbox-sends .item-md .item-inner .input-wrapper .label-md {
    margin: 0;
    padding-left: 5px !important;
}
.inbox-sends .item-ios .item-inner .input-wrapper .label-ios ion-row ion-col.send-box-content ion-row ion-item .item-inner .input-wrapper .label-ios small {
    color:#007994 !important;    font-family: "Muli",sans-serif;
    font-size: 17px;
}
.subject-details .item-inner .input-wrapper .label-ios b {
    float: left;
    font-size:15px;
    font-weight:400;
    padding-right: 5px; color:#999 !important;    font-family: "Muli",sans-serif;
}
.subject-details .item-inner .input-wrapper .label-ios span {
    float: left;
    font-size:15px;
    font-weight:400;
    padding-right: 5px;    font-family: "Muli",sans-serif;
}
.searchbar-md{padding:0px !important ;}
.send-box-content ion-row > ion-col > p {
    font-size: 10px;
}
.inbox-sends .item-ios .item-inner .input-wrapper .label-ios ion-row ion-col.send-box-content ion-row ion-item .item-inner .input-wrapper .label-ios {
    font-size: 13px;
    margin-left: 3px;    font-family: "Muli",sans-serif;
    text-indent: 0;
}
.inbox-sends .item-block {
    min-height: 0;
}
.inbox-sends .item-ios {
    padding-left: 0;
}
.inbox-sends .item-ios .item-inner .input-wrapper .label-ios {
    margin: 0;
    padding-left: 5px !important;
}
.item-md.item-block .item-inner{padding-right:0px;}
.item-ios.item-block .item-inner{padding-right:0px;}
}
