<!--
  Generated template for the Messages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
   <ion-title text-center>Messages</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
     <ion-buttons end right *ngIf="hidedelete == true">
      <button ion-button icon-only 
      (click)="logDeleteStudents('inbox')"> <ion-icon name="trash"></ion-icon>

      </button>
    </ion-buttons>
     <ion-buttons end right *ngIf="senddelete == true">
      <button ion-button icon-only
      (click)="sentlogDeleteStudents('sent')"> <ion-icon name="trash"></ion-icon>

      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>



<ion-content style="background:#fff;">


 <ion-fab right bottom>
    <button class="add-depends" ion-fab mini (click)="createMessage()" end><ion-icon name="create">
     </ion-icon></button>
    </ion-fab>
<ion-col>
  <ion-segment [(ngModel)]="messages">
    <ion-segment-button value="inbox" color="orange" (click)="onInit()">
      Inbox
    </ion-segment-button>
    <ion-segment-button value="sent" color="primary" (click)="sent()">
      Sent
    </ion-segment-button>
  </ion-segment>
</ion-col>

<div [ngSwitch]="messages">
  <ion-list *ngSwitchCase="'inbox'">
  <ion-item *ngIf="!inboxInfo">
     <p class="error-clr">{{emptyRecord}}</p>
   </ion-item>
  <div>
  <ion-row>
<ion-col width-80><ion-searchbar [(ngModel)]="inbox"></ion-searchbar></ion-col>
  <ion-col width-20><button (click)="getItems(inbox)" ion-button small class="go-btn">Go
  </button> </ion-col>
</ion-row>
   <!--  <ion-searchbar [(ngModel)]="inbox" (ionInput)="getItems(inbox)">
    </ion-searchbar> -->
  </div>
  
    <div>
      <ion-list *ngFor="let inbox of inboxInfo">
     <ion-item-sliding  class="inbox-sends">
   <!--      <ion-item (click)="viewMessages(inbox?.id,'inbox')" 
        [ngClass]="inbox.read_status?'readmsg':'unreadmsg'" > -->
         <ion-item (press)="clickedAvatar(inbox.id)" [class]="isInArray(inbox.id) ? 'selected' : 'not-selected'" (click)="viewMessages(inbox?.id,'inbox')" >
          <ion-row>
            <ion-col style="max-width: 15%;" width-20>
            <ion-avatar item-left>
              <img src="{{imageUrl+inbox?.avatar}}" style="padding-top:8px;">
            </ion-avatar>
            </ion-col>
            <ion-col width-80  style="" class="send-box-content">
              <ion-row>
                <ion-item width-60  text-wrap 
                [ngClass]="inbox.read_status?'readmsg':'unreadmsg'">
                  <p style="font-size: 1.8rem;">{{inbox?.author_name}}</p>
                </ion-item>
                <ion-col *ngIf = "inbox.attachemts != null">
                <ion-icon name="attach"></ion-icon>
                </ion-col>
                <ion-col width-40 style="text-align-last: end;">

               <!--  <p class="time-small"><i class="fa fa-clock-o"></i>&nbsp;{{inbox?.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' | amTimeAgo}}</p> -->
               <p class="time-small"><i class="fa fa-clock-o"></i>&nbsp;{{inbox?.created_at}}</p>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="inbox.subject">
          <ion-col style="padding: 0px !important">
        <ion-item class="subject-details" 
        [ngClass]="inbox.read_status?'readmsg':'unreadmsg'">
        
        <b>Subject :</b><span>{{inbox?.subject}}</span>
        </ion-item>
          </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right" (click)="showConfirm(inbox?.id,'inbox')">
          <button ion-button class="trash-del">
          <i class="fa fa-trash-o fa-2x"></i>          
          </button>        
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </div>
    <ion-row>
    <ion-col offset-50>
      <button *ngIf="nextPageURL1!=null && nextPageURL1!=''" ion-button color="dark" clear (click)="doInfinite1($event)"><i class="fa fa-angle-down"></i></button>
    </ion-col>
    </ion-row>
 <!--  <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll> -->
  </ion-list>

  <ion-list *ngSwitchCase="'sent'">
  
 <ion-item padding *ngIf="!sentInfo">
     <p class="error-clr">{{emptyRecord}}</p>
   </ion-item>
   <div>
   <ion-row>
<ion-col width-80><ion-searchbar [(ngModel)]="outbox"></ion-searchbar></ion-col>
  <ion-col width-20><button (click)="setItems(outbox)" ion-button small class="go-btn">Go</button> </ion-col>
</ion-row>
 <!--    <ion-searchbar [(ngModel)]="outbox" (ionInput)="setItems(outbox)">
    </ion-searchbar> -->
  
  </div>
  <hr/>
  <ion-list *ngFor="let sent of sentInfo">
      <ion-item-sliding class="inbox-sends">
        <ion-item (click)="viewMessages(sent?.id,'sent')" (press)="deletesendMultipel(sent.id)" [class]="isInArraySend(sent.id) ? 'selected' : 'not-selected'">
          <ion-row>
            <ion-col style="max-width: 15%;" width-20>
            <ion-avatar item-left>
              <img src="{{imageUrl+sent?.avatar}}">
            </ion-avatar>
            </ion-col>
          
            <ion-col width-80 class="send-box-content" style="">
              <ion-row>
                <ion-item width-70 style="" text-wrap>
                <p style="font-size: 1.8rem;">{{sent?.name}}</p>
                </ion-item>
                <ion-col *ngIf = "sent.attachments != null">
                <ion-icon name="attach"></ion-icon>
                </ion-col>
                <ion-col width-30 style="text-align-last: end;">
                <p><i class="fa fa-clock-o"></i>&nbsp;{{sent?.created_at}}</p>
                  <!-- <p><i class="fa fa-clock-o"></i>&nbsp;{{sent?.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' | amTimeAgo}}</p> -->
                </ion-col>
              </ion-row>
              <ion-row *ngIf="sent.subject">
           <ion-col style="padding: 0px !important">
              <ion-item class="subject-details"><b>Subject :</b>{{sent?.subject}}
              </ion-item>
          </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right" (click)="showConfirm(sent?.id,'sent')">
          <button ion-button color="primary">
            <i class="fa fa-trash-o fa-2x"></i>            
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-row>
    <ion-col offset-45>
     <button *ngIf="nextPageURL2!=null && nextPageURL2!=''" ion-button color="dark" clear (click)="doInfinite2($event)"><i class="fa fa-angle-down"></i></button>
   </ion-col>
   </ion-row>
  </ion-list>

</div>



</ion-content>


<style type="text/css">
.list-md{margin:3px;}
.selected ion-row{
   /* background-color: red !important;*/
   opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.unselected{
    background-color: white !important;
}
.inbox-sends .item-md .item-inner .input-wrapper .label-md{line-height:0px !important;}
 .ellipse-text
 {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
 }
 .unreadmsg
 {
background-color: #F3F3F4;
}
.active a{color:red;}
</style>
