page-recurring {
.content-intop {
    background: hsl(218, 100%, 98%) none repeat scroll 0 0 !important;
}
.content-intop {
    background: hsl(218, 100%, 98%) none repeat scroll 0 0 !important;
}
.sel-packages{border:1px solid #A9A9A9;box-shadow:none; border-radius:0px;}
.sel-packages .item-md .item-inner .label-md{font-family: 'Muli', sans-serif; font-size:15px; padding-left:10px;}
.package-needs ion-row ion-col h2{font-family: 'Muli', sans-serif; font-size:19px; font-weight:600; color:#025FA9 !important; background:#fff; padding:5px;  padding-bottom:10px; margin-bottom:10px; background:#F8F8FF; box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);}
.package-needs ion-row ion-col b{font-family: 'Muli', sans-serif; font-size:19px; color:hsl(192, 99%, 34%); font-weight:400; width:100%; float:left;}
.package-needs ion-row ion-col p{font-family: 'Muli', sans-serif; font-size:17px; color:#333; }
.package-needs{ position: relative;background: hsla(0, 0%, 0%, 0) linear-gradient(45deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 100%) 75%, hsl(81, 44%, 87%) 99%, hsl(81, 44%, 87%) 100%) repeat scroll 0 0; }
.content-intop										{background-image: url('../assets/img/jobs.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
.package-needs:after {
    content: "";
	position: absolute;
	left: -40px;
	top:0px;
	width: 0;
	height: 0;
	border:35px solid transparent;
	border-top-color:#48D1CC;
}
.package-needs ion-row ion-col{ padding:0px 5px 0px 5px;}

.act{ background:#008000;font-family: 'Muli', sans-serif; font-size:13px; font-weight:400; float:right;}
.content-intop {
    background: hsl(218, 100%, 98%) none repeat scroll 0 0 !important;
}
.go-btn{margin-top:15px; font-weight:600;}

.view-serv .services-del{background:#DCDCDC;color:#333; height:35px; margin-top:20px;margin-bottom:10px; width:45%; float:right; margin-right:3px;font-family: 'Muli', sans-serif; font-size:15px;font-weight:600; border-radius:20px; line-height:28px;box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);}
.view-serv .services{background:#FE5722;  height:35px;margin-top:20px;margin-bottom:10px; width:45%; float:left; margin-right:3px;font-family: 'Muli', sans-serif; font-size:15px;font-weight:600; border-radius:20px; line-height:28px;box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);}
}
