page-service-info {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
ion-input{

border-radius: 20px;
border :2px solid green;

}

.service_request {

border-radius: 20px;
border :2px solid green;

}

}
