<!--
  Generated template for the ServiceInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	<ion-title text-capitalize>{{vendorList?.vendorDetails?.name}}</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content class="marg-info">
  <div *ngIf="vendorList?.vendor_banners && serviceoffered != 'Recreation' && serviceoffered != 'Safety and security'">
  <ion-slides class="slide_height" initialSlide="0" loop="true" pager="true" autoplay="3000">
      <ion-slide *ngFor="let slide of vendorList.vendor_banners" style="height:200px;">
        <img [src]="url+slide?.banner" class="slide-image" width="100" height="150"/>
      </ion-slide>  
  </ion-slides>  
  </div>
    <div *ngIf="vendorList?.banners && vendorList?.banners.length && serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">
  <ion-slides *ngIf="vendorList?.banners && vendorList?.banners.length" class="slide_height" initialSlide="0" loop="true" pager="true" autoplay="3000">
      <ion-slide *ngFor="let slide of vendorList.banners" style="height:200px;">
        <img [src]="url+slide" class="slide-image" width="100" height="150"/>
      </ion-slide>  
  </ion-slides>  
  </div>



<ion-card class="message-boxs">
  
 <h2> Welcome to {{vendorList?.vendorDetails?.name}}</h2>

 <p *ngIf="serviceoffered != 'Recreation' && serviceoffered != 'Safety and security' && vendormoreinfo != 1" [innerHTML]="vendorList?.vendorDetails?.description"></p>
  <ion-row *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">
    <ion-col width-33>
        <ion-thumbnail item-left>
          <img [src]= "url+vendorList?.vendorDetails?.logo">
        </ion-thumbnail>
        </ion-col>
  </ion-row>

    <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'" [innerHTML]="vendorList?.vendorDetails?.description"></p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'" [innerHTML]="vendorList?.vendorDetails?.itenary"></p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'" [innerHTML]="vendorList?.vendorDetails?.other_vendor_detail"></p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">{{vendorList?.vendorDetails?.extralabel1}}</p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'" [innerHTML]="vendorList?.vendorDetails?.extratext1"></p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">{{vendorList?.vendorDetails?.extralabel2}}</p>
 <p *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'" [innerHTML]="vendorList?.vendorDetails?.extratext2"></p>

</ion-card>

<!-- <ion-fab bottom right *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">
  <button ion-fab (click)="toggleSchedule()">Schedule</button>
</ion-fab> -->
  
          <ion-item class="service-info-costDetails" text-wrap>
              <ion-row>
                  <p *ngIf = "category != 'Safety and security'" class="service-conts"><span class="token-primaryss">Schedule : </span> <span class="discountCost">{{start_date}}</span> to <span class="discountCost">{{end_date}}</span>
                  </p>
                 </ion-row>
                 <ion-row class="textlg" *ngIf = "schedule_cost != 0 && subcategory != 'Transportation Driver Service'">
              <p class="service-conts"><span class="token-primaryss text-bolder">Cost :</span><b><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{schedule_cost | number : '1.2-2'}}<span *ngIf="service_cost != schedule_cost">
                <strong><i class="fa fa-inr" aria-hidden="true"></i>{{service_cost | number : '1.2-2'}}</strong></span> </b></p>
                
                   </ion-row>
                   <ion-row *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory
                     != 'Home modification' && subcategory
                     != 'Home Modification' && subcategory
                     != 'Home automation' && subcategory
                     != 'Home Automation' && subcategory
                     != 'Home Automation' && subcategory
                     != 'Transportation Driver Service' && subcategory != 'Transportation Cab'">
                    <p class="service-conts"><span class="token-primaryss">Valid For {{package_validity}}</span></p>
                   </ion-row>
                     <ion-row *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory == 'Home modification' || subcategory == 'Home Modification' || subcategory == 'Home automation' || subcategory == 'Home Automation' || subcategory == 'Home Automation'">
                    <p class="service-conts"><span class="token-primaryss text-bolder">Working Days : </span><span class="token-primaryss">{{businessFromDayName}} - {{businessToDayName}}</span></p>
                   </ion-row>
                    <ion-row *ngIf="booking_status == '0' && category == 'Safety and security' && businessHoursOption == '1' && subcategory == 'Home modification' || subcategory == 'Home Modification' || subcategory == 'Home automation' || subcategory == 'Home Automation' || subcategory == 'Home Automation'">
                    <p class="service-conts"><span class="token-primaryss text-bolder">Working Time :</span><span class="token-primaryss"> 24 hours</span></p>
                   </ion-row>
                    <ion-row *ngIf="booking_status == '0' && category == 'Safety and security' && businessHoursOption != '1' && subcategory == 'Home modification' || subcategory == 'Home Modification' || subcategory == 'Home automation' || subcategory == 'Home Automation' || subcategory == 'Home Automation'">
                    <p class="service-conts"><span class="token-primaryss text-bolder">Working Time :</span><span class="token-primaryss"> {{businessFromTime}} - {{businessToTime}}</span></p>
                   </ion-row>
                    <ion-row *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory == 'Home modification' || subcategory == 'Home Modification' || subcategory == 'Home automation' || subcategory == 'Home Automation' || subcategory == 'Home Automation'">
                    <p class="service-conts"><span class="token-primaryss">{{businessLeadTime}} hour(s) to serve you</span></p>
                   </ion-row>
       
          </ion-item>
            <div class="view-storedet" *ngIf="serviceoffered == 'Recreation' || serviceoffered == 'Safety and security'">
            <ion-item class="service-info-costDetails">
                  <button class="instant-bt" *ngIf="package_active_status == '1' && category == 'Recreation'" (click)="bookNow()">Book Now</button>
                <button class="instant-bt" *ngIf="package_active_status == '0' && category == 'Recreation'">Booking Closed
                </button>
                  <button class="instant-bt" *ngIf="booking_status == '2' && category == 'Safety and security'" (click)="preBook()">Pre Book</button>
                  <button class="instant-bt" *ngIf="booking_status == '1' && category == 'Safety and security'" (click)="preBook()">Book Now</button>
                  <button class="instant-bt" *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory != 'Home modification' && subcategory
                     != 'Home Modification' && subcategory
                     != 'Home automation' && subcategory
                     != 'Home Automation' && subcategory
                      != 'Home Automation' && subcategory != 'Transportation Driver Service' && subcategory != 'Transportation Cab'" (click)="emergencybook()">Book Now</button>
                      <button class="instant-bt" *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory== 'Transportation Driver Service'" (click)="transportationdriver()">Book Now</button>
                      <button class="instant-bt" *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory == 'Transportation Cab'" (click)="transportationcab()">Book Now</button>
                      <button class="instant-bt" *ngIf="booking_status == '0' && category == 'Safety and security' && subcategory == 'Home modification' || subcategory == 'Home Modification' || subcategory == 'Home automation' || subcategory == 'Home Automation' || subcategory == 'Home Automation'" (click)="homemodify()">Schedule Assessment</button>
   <button class="btn-warnings" (click)="contactNow()">Contact Now</button>
</ion-item>
</div>
<!-- <ion-item class="service-info-costDetails" *ngIf="serviceoffered == 'Recreation'">
     <ion-row>
    <ion-col class="brder-cor">

      <button class="btn-default-ser" ion-button item-left full (click)="recreationServices()">
        
        <b>Recreation Services</b>
      </button>
   
     </ion-col>
  </ion-row>
  </ion-item> -->
  <br>
  <div class="view-storedet" *ngIf="serviceoffered != 'Recreation' && serviceoffered != 'Safety and security'">
    <ion-row>
    <ion-col class="brder-cor">
      <button ion-button full class="btn-default-ser" (press)="pressRequestService()" 
      (click)="toggleRequestService()">
        <b>Request Services </b><!-- <i class="fa fa-angle-down detalisview-arr"></i> -->
      </button>      
   <form [formGroup]="requestForm" *ngIf(showRequestService)>
        <ion-card class="select-detalis-in" padding style="background:#fff; border:1px solid #159deb; border-top:none;">
           <br>
      <ion-label stacked class="label-lb">Describe the problem</ion-label>
          <ion-input formControlName = "problem" type="text" placeholder="Describe the problem" ></ion-input>
      <small *ngIf="!requestForm.controls.problem.valid  && (requestForm.controls.problem.dirty || submitAttempt)">
                <p class="err-reds">Please enter the describe problem</p>
            </small>
       
    <ion-label stacked class="label-lb" style="padding-bottom:10px;">Date</ion-label>
          <ion-item>
           <ion-datetime class="select-brd" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName ="date"></ion-datetime>
          </ion-item>
   <small *ngIf="!requestForm.controls.date.valid  && (requestForm.controls.date.touched || submitAttempt)">
                <p class="err-reds">Please enter the date</p>
            </small>
      
    <ion-label stacked class="label-lb" style="padding-bottom:10px;">Time</ion-label>
          <ion-item>
            <ion-datetime class="select-brd" displayFormat="hh:mm A" pickerFormat="hh:mm:A" formControlName ="time"></ion-datetime>
          </ion-item>
    <ion-item *ngIf="!requestForm.controls.time.valid  && (requestForm.controls.time.dirty || submitAttempt)">
                <p class="err-reds">Please enter the time</p>
            </ion-item>
        
      
      <ion-label stacked class="label-lb">Alternate Contact Number</ion-label>
          <ion-input formControlName ="contact" type="text" ></ion-input>
            <small *ngIf="!requestForm.controls.contact.valid  && (requestForm.controls.contact.dirty || submitAttempt)">
                <p class="err-reds">Please enter the alternate contact number</p>
            </small>
        
           <ion-label *ngIf = "userType =='sponsor'" stacked class="label-lb" style=" margin-bottom:10px; padding-bottom:10px;">Select Dependent</ion-label>
     <ion-item *ngIf = "userType =='sponsor'">
              <ion-select formControlName ="dependents" class="select-brd">
                <ion-option  *ngFor = "let dependent of vendorList.dependentLists" value={{dependent.id}}>{{dependent.name}}
                </ion-option>
              </ion-select>
      
          </ion-item>
         <small *ngIf="!requestForm.controls.dependents.valid  && (requestForm.controls.dependents.dirty || submitAttempt)">
                <p class="err-reds">Please select the dependent</p>
            </small>
            <!-- <ion-item>
              <ion-label>I Agree With Terms and Conditions</ion-label>
              <ion-checkbox [(ngModel)]="terms"></ion-checkbox>
            </ion-item> -->
          <ion-row>
          <ion-col>
		  <button class="btn-defaults" ion-button item-right small (click)="toggleRequestService()">Cancel</button></ion-col>
      		<ion-col offset-33>
			<button class="btn-primarys" ion-button item-right small (click)="sendRequestService()">Submit</button></ion-col>
          </ion-row>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="brder-cor">
      <button ion-button item-left full class="btn-default-ser" (click)="modal()" 
      (press)="pressmodel()">        
        <b>Services Offered</b><!-- <i class="fa fa-angle-down detalisview-arr"></i> -->
      </button>
                                     
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="brder-cor">

      <button class="btn-default-ser" ion-button item-left full (click)="toggleContact()" (press)="pressContact()">
        
        <b>Contact Details</b><!-- <i class="fa fa-angle-down detalisview-arr"></i> -->
      </button>
	 
	   </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="brder-cor">

      <button class="btn-default-ser" ion-button item-left full 
      (click)="togglePackages()" (press)="pressPackages()">
        
        <b>Best Packages</b><!-- <i class="fa fa-angle-down detalisview-arr"></i> -->
      </button>
    <br/>
     </ion-col>
  </ion-row>
    </div>  
</ion-content>




<style>
.scroll-content{margin-top:0px !important;}
</style>


