<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
         <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Compose Message</ion-title>
     <ion-buttons right>
   		<button (click)="sendMessage()" ion-button icon-only>
  		<ion-icon ios="ios-send" md="md-send"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content class="content-intop">
<ion-card class="login-detalis">
<div class="change-pass-content">
	<form [formGroup]="authForm">
<br/>
  <ion-list class="create-message">
    		<ion-label>To</ion-label>
		    	<ion-row>
		
			       <ion-input disabled type="text" placeholder="Subject" class="message" value={{member_name}}>
			       	</ion-input>
			       	</ion-row>
	  			<ion-label>Subject</ion-label>
		        <ion-row>
	
		        	<ion-input type="text" class="message" formControlName="subject"
		            [class.invalid]="!authForm.controls.subject.valid && (authForm.controls.subject.dirty )"></ion-input>
		        </ion-row>
	            	<div *ngIf="!authForm.controls.subject.valid  && (authForm.controls.subject.dirty || submitAttempt)">
	                	<p class="err-reds">This field is required</p>
           			</div>
	     	<ion-label>Message</ion-label>
		        <ion-row>
			
	       			<ion-textarea type="text" class="message" formControlName="message"
			            [class.invalid]="!authForm.controls.message.valid && (authForm.controls.message.dirty )"></ion-textarea>
			    </ion-row>
            	<div *ngIf="!authForm.controls.message.valid  && (authForm.controls.message.dirty || submitAttempt)">
                	<p class="err-reds">This field is required</p>
           		</div>	
      			
			</ion-list>
			
  
  	</form>
<div class="attached-form">
	 	<ion-label>Attachment</ion-label>
  	<input type="file" (change)="fileChange($event)" placeholder="Upload file" >
	</div>
	</div>

	</ion-card>
	</ion-content>
