<ion-header>
  <ion-toolbar>
    <ion-title>
      Compose Message
    </ion-title>
     <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<form [formGroup]="authForm">
		<ion-card padding>
  			<ion-list>
      			<ion-row>
		        	<ion-label>To</ion-label>
		    	</ion-row>
		    	<ion-row>
			       	<ion-input disabled type="text" class="message" value={{member_name}}>
			       	</ion-input>
			       
	       		</ion-row>
	       		<ion-row>
		        	<ion-label>Subject</ion-label>
		        </ion-row>
		        <ion-row>
		        	<ion-input type="text" class="message" formControlName="subject"
		            [class.invalid]="!authForm.controls.subject.valid && (authForm.controls.subject.dirty )"></ion-input>
		        </ion-row>
	            	<div *ngIf="!authForm.controls.subject.valid  && (authForm.controls.subject.dirty || submitAttempt)">
	                	<p style="color:red" class="valid">This field is required</p>
           			</div>
	       		<ion-row>
		        	<ion-label>Message</ion-label>
		        </ion-row>
		        <ion-row>
	       			<ion-textarea type="text" class="message" formControlName="message"
			            [class.invalid]="!authForm.controls.message.valid && (authForm.controls.message.dirty )"></ion-textarea>
			    </ion-row>
            	<div *ngIf="!authForm.controls.message.valid  && (authForm.controls.message.dirty || submitAttempt)">
                	<p style="color:red" class="valid">This field is required</p>
           		</div>
	       			 <br>
     			<button ion-button color="dark" outline (click)="openCamera()">
     			<ion-icon name="add" ></ion-icon>Attachment</button><p>{{file_name}}</p>
      			<button (click)="sendMessage()" ion-button class="btn-right">
  				<ion-icon ios="ios-send" md="md-send"></ion-icon> &nbsp;Send</button>
			</ion-list>
  		</ion-card>
  	</form>
</ion-content>