<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>{{singleBlogInfo?.title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="blogDetails">
  <div class="blogDetailImage">
    <img src="{{imageUrl+singleBlogInfo?.banner_image}}" [hidden]="!singleBlogInfo?.banner_image">
  </div>
  <ion-row>
    <ion-col class="blogs-tittle">
      <ion-item text-wrap>
        <h2 text-capitalize>{{singleBlogInfo?.title}}</h2>
        <ion-row>
          <ion-col>
            <i class="fa fa-user" aria-hidden="true"></i> {{singleBlogInfo?.author_name }}</ion-col>
          <ion-col>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{created_at}}</ion-col>
        </ion-row>
        <ion-row>
         <ion-col>
            {{singleBlogInfo?.category_name }}</ion-col>
          <ion-col class="shareBlog" (click)="shareblog(singleBlogInfo?.id)">
            <i class="fa fa-share-alt" aria-hidden="true" (click)="shareblog(singleBlogInfo?.id)"></i> Share Blog</ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <p [innerHTML]="singleBlogInfo?.description"></p>
  </ion-card-content>

  <ion-row class="Comment-titile" *ngIf="allow_comment == '1'">
    <ion-col>
      <button ion-button class="cmts" icon-left clear small>
        <ion-icon name="text"></ion-icon>
        Comments
      </button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="allow_comment == '1'" class="comment-area">
  

  <ion-list *ngFor="let viewComments of viewCommentsList; let i=index" class="comm-posted">
    <ion-card class="listed-comments">
      <ion-item>
        <ion-row>
          <ion-col col-2 (click)="CommunityUserWall(viewComments?.user_id)">
          <ion-avatar item-left>
            <img src="{{imageUrl+viewComments?.avatar}}" [hidden]="!viewComments?.avatar">
          </ion-avatar>
          </ion-col>
          <ion-col col-10 class="replyName">
            <h2 class="cmmpost" (click)="CommunityUserWall(viewComments?.user_id)">{{viewComments?.user_name}}
            </h2>
            <p class="time-datem" [hidden]="!viewComments?.created_at">
              <i class="fa fa-clock-o"></i>
              {{viewComments?.created_at}}
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-card-content>
        <p item-text-wrap class="feed-post">{{viewComments?.comment}}</p>
      </ion-card-content>
      <div class="comment-liks">
        <ion-row>

          <ion-col style="padding:0px;">
            <button ion-button clear (click)="viewReply(i)">
              <p class="liks-comments">
                <i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Reply</p>
            </button>
          </ion-col>
          <ion-col style="padding:0px;">
            <button  *ngIf="user_id==viewComments?.user_id" ion-button item-right clear (click)="deleteComment(viewComments?.id)">
              <p class="liks-comments">
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete </p>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-list *ngFor="let reply of viewComments.comment_reply; let j=index" class="reply-shows">
          <ion-item text-wrap>
            <ion-row>
              <ion-col col-2>
                <ion-avatar item-left (click)="CommunityUserWall(reply?.uid_from)">
                    <img src="{{imageUrl+reply?.profile_image}}" [hidden]="!reply?.profile_image">
                </ion-avatar>
              </ion-col>
              <ion-col col-10 class="replyName">
                <h2 (click)="CommunityUserWall(reply?.uid_from)">{{reply.name_from}}-{{reply.name_to}}</h2>
                <p class="time-datem" [hidden]="!reply?.created_at">
                  <i class="fa fa-clock-o"></i>
                  {{reply.created_at}}
                </p>
                <h4 text-wrap>{{reply.comments_replay}}</h4>
              </ion-col>
            </ion-row>
            <ion-row class="reply-hei">

              <ion-col>
                <button ion-button clear (click)="replyblogPost(j)">
                  <p class="reply-comm" style="color:#3b5998;">&nbsp;
                   <i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Reply</p>
                </button>

              </ion-col>
              <ion-col>
                <button ion-button clear *ngIf="user_id==reply?.uid_to" (click)="deletereplyComment(reply?.comments_replay_id)">
                  <p class="reply-comm">
                     <i class="fa fa-trash" _ngcontent-uuk-81="" aria-hidden="true"></i>&nbsp;Delete</p>
                </button>
              </ion-col>
            </ion-row>
          </ion-item>


          <div *ngIf="j==replyPost" class="rply-com">
            <ion-grid>
                  <ion-row>
                    <ion-col col-10>
                        <ion-textarea [(ngModel)]="reply_comment" style="margin:0px !important;" placeholder="write a reply.." autofocus></ion-textarea>
                      </ion-col>
                      <ion-col col-2>
                        <button (click)="postReply(viewComments.id,user_id)" class="orange-reply">
                          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                      </ion-col>
                    </ion-row>
              </ion-grid>  
          </div>
        </ion-list>
      </div>
     <div class="replyTextinput" *ngIf="i==showReply">

        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <ion-textarea [(ngModel)]="reply_comment" style="margin:0px !important;" placeholder="write a reply.." autofocus></ion-textarea>
            </ion-col>
            <ion-col col-2>
              <button ion-button class="orange-reply" (click)="postReply(viewComments.id,viewComments?.user_id)">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
  </ion-list>

    <ion-row class="Comment-titile2" (click)="leaveComment()">
        <ion-col>
          <button ion-button class="cmts" icon-left clear small autofocus>
            <ion-icon name="text"></ion-icon>
            Leave a Comment
          </button>
        </ion-col>
    </ion-row>
    <div id="commentsView">
      <form [formGroup]="commentForm">
        <ion-item style="padding-left:0px;">
          <ion-textarea placeholder="Comment" formControlName="comment" autofocus>
          </ion-textarea>
        </ion-item>
        <p *ngIf="!commentForm.controls.comment.valid && (commentForm.controls.comment.dirty || submitAttempt)" class="err-reds">Please enter comment.</p>
      </form>
      <ion-item class="comments-btn">
        <button ion-button autofocus (click)="blogComment(singleBlogInfo?.id)" class="submit-btn">Submit</button>
      </ion-item>
    </div>

  </ion-list>

</ion-content>