<!--
  Generated template for the ManageBlogs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	<ion-title text-center>Manage Blogs</ion-title>
    <ion-buttons right>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>

<ion-content class="content-intop">
          <ion-card class="sel-packages">

       <!--   <ion-list>
            <ion-item>
              <ion-label>Bulk Action</ion-label>
                <ion-select [(ngModel)]="bulkstatus">
                  <ion-option value="archives">Move to archives
                  </ion-option>
                  <ion-option value="trash">Move to trash
                  </ion-option>
                </ion-select>
            </ion-item>
          </ion-list> -->
          

            <ion-item>
              <ion-label>select category</ion-label>
                <ion-select [(ngModel)]="searchCategory" (ionChange)='manageblogs()'>
                  <ion-option  *ngFor="let category of categoryLists" 
                 value={{category.id}}>{{category.name}}
                  </ion-option>
                </ion-select>
            </ion-item>
          </ion-card>
          <ion-card class="sel-packages">
            <ion-item>
              <ion-label>select status</ion-label>
                <ion-select [(ngModel)]="searchstatus" (ionChange)='manageblogs()'>
                  <ion-option  *ngFor="let status of blogStatus" 
                 value={{status.id}}>{{status.label}}
                  </ion-option>
                </ion-select>
            </ion-item>

          </ion-card>

         
   <!--  <ion-searchbar [(ngModel)]="searchText" (input)="inputSearch($event)"></ion-searchbar> -->
   <ion-row>
<ion-col width-80><ion-searchbar [(ngModel)]="searchText"></ion-searchbar></ion-col>
  <ion-col width-20><button (click)="getItems(searchText)" ion-button small class="go-btn">Go</button> </ion-col>
</ion-row>
<ion-card *ngFor="let manageBlog of manageblogsLists; let i=index;"  class="job-detailsview">
  <!--<ion-card-content style=" padding:0px;">
  <ion-grid>
   <ion-row>   
    <ion-col width-80>-->
	<ion-row>
	<ion-col>
		<h1 item-text-wrap class="service-req" text-capitalize>{{manageBlog?.title}}</h1>
		  <h2 item-text-wrap>{{manageBlog?.category_name}}</h2>
		  <p *ngIf="(manageBlog?.created_at!='0000-00-00 00:00:00')" class="token-date"><i class="fa fa-calendar"></i> {{manageBlog?.created_at | date :'MMM dd y h:mm a'}}</p>
		</ion-col>
	</ion-row>


	

	<ion-row *ngFor="let status of blogStatus">
		<ion-col>
	<p item-text-wrap *ngIf="manageBlog?.status==status?.id">
	<!-- <ion-badge >{{status?.label}}</ion-badge> -->
  <ion-badge class="warning" *ngIf="status?.id == 0">Pending</ion-badge>
  <ion-badge class="approved" *ngIf="status?.id == 1">Approved</ion-badge>
  <ion-badge class="rejected" *ngIf="status?.id == 2">Rejected</ion-badge>
  <ion-badge class="deleted" *ngIf="status?.id == 3">Deleted</ion-badge>
  <ion-badge class="archieved" *ngIf="status?.id == 4">Archieved</ion-badge>
  </p>
		</ion-col>
	</ion-row>

<p item-text-wrap  class="service-cont" innerHTML="{{manageBlog?.description | words:40}}"></p>



    <hr>
   <ion-row class="edit-blogs">
    <ion-col>
      <button (click)="editBlog(manageBlog?.id,'edit')" class="edits">
        <i class="fa fa-pencil-square-o"></i>&nbsp; Edit
      </button>
	     <button (click)="deleteBlog(manageBlog?.id)" class="delets">
        <i class="fa fa-trash-o"></i>&nbsp;Delete
      </button>
    </ion-col>
    
  </ion-row>

</ion-card>
<!-- <ion-item padding *ngIf="!manageblogsLists"> -->
     <p *ngIf="!manageblogsLists" class="error-clr">{{emptyRecord}}</p>
   <!-- </ion-item> -->
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
<style type="text/css">
.alert-message,.alertbox
{
    text-align: center;
    font-size: 13px;
    color: inherit;
    padding: 0 16px 21px;
    display: block !important;

}
</style>