page-create-message {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.create-message{padding:10px;}
.completer-input{ width:100%; border:1px solid #ccc; height:40px; padding:5px; margin-bottom:10px;}

}
