<!--
  Generated template for the CreateMessage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Compose</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background:#fff;">
<form (ngSubmit)="sendMessage()" [formGroup]="messageForm">
<br>
<ion-list class="create-message">

            <ng2-completer [(ngModel)]="toAddress" formControlName="toAddress" [datasource]="friendsList" placeholder="To" [minSearchLength]="0" (focus)="hiddeEorr()"></ng2-completer>

  <p *ngIf="!messageForm.controls.toAddress.valid && (messageForm.controls.toAddress.dirty || submitAttempt)" class="err-reds">Please select to</p>
  <p *ngIf="customErr" class="err-reds">Please select Valid To address</p>
  <ion-item>
    <ion-input type="text" placeholder="Subject" formControlName="subject" [(ngModel)]="subject"></ion-input>
  </ion-item>
  <p *ngIf="!messageForm.controls.subject.valid && (messageForm.controls.subject.dirty || submitAttempt)" class="err-reds">Please enter subject</p>
  <ion-item>
     <ion-textarea placeholder="Message" formControlName="message" [(ngModel)]="message"></ion-textarea>
  </ion-item>
  <p *ngIf="!messageForm.controls.message.valid && (messageForm.controls.message.dirty || submitAttempt)" class="err-reds">Please enter message</p>
  <button ion-button class="btn-right">
  <ion-icon ios="ios-send" md="md-send"></ion-icon> &nbsp;
  Send
</button>
</ion-list>
</form>

</ion-content>
