<!--
  Generated template for the ViewServiceRequest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	 <ion-title text-center text-capitalize><i class="fa fa-id-card-o"></i> {{viewServiceRequestInfo?.sr_token}}</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>


<ion-content class="content-intop">
<br/>
<ion-card class="req-viewlist" >
 

  <ion-row>
  
    <ion-col width-100 class="child_menu">
	<span>Service Provider Name</span>
   <p>{{viewServiceRequestInfo?.vendor_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Contact Number</span>
   <p>{{viewServiceRequestInfo?.contact_number}}</p>
   </ion-col>
  </ion-row>
  <!-- <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Enquiry About</span>
   <p>{{viewServiceRequestInfo?.problem}}</p>
   </ion-col>
  </ion-row> -->
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Category</span>
   <p>{{viewServiceRequestInfo?.category_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Sub Category</span>
   <p>{{viewServiceRequestInfo?.sub_category_name}}</p>
   </ion-col>
  </ion-row>
   <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Type Of Request</span>
   <p>{{viewServiceRequestInfo?.service_type}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
  
    <ion-col width-100 class="child_menu">
	<span>Location</span>
   <p>{{viewServiceRequestInfo?.location_name}}</p>
   </ion-col>
  </ion-row>

  

  <ion-row>   
    <ion-col width-100 class="child_menu" *ngIf="(viewServiceRequestInfo?.updated_at!='0000-00-00 00:00:00')">
	<span>Service requested Date</span>
   <p>{{viewServiceRequestInfo?.updated_at | date:'dd/M/yyyy h:m a'}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf="(viewServiceRequestInfo?.enquiry_date!='0000-00-00')">  
    <ion-col width-100 class="child_menu">
  <span>Preferred date</span>
   <p>{{viewServiceRequestInfo?.enquiry_date}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf="(viewServiceRequestInfo?.preferred_time!= '')">   
    <ion-col width-100 class="child_menu">
  <span>Preferred time</span>
   <p>{{viewServiceRequestInfo?.preferred_time}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf="viewServiceRequestInfo?.comments != null ">   
    <ion-col width-100 class="child_menu">
  <span>Comments</span>
   <p>{{viewServiceRequestInfo?.comments}}</p>
   </ion-col>
  </ion-row>
  <!--  <ion-row>   
    <ion-col width-100 class="child_menu" *ngIf="(viewServiceRequestInfo?.preferred_time!='0000-00-00 00:00:00')">
  <span>Preferred time</span>
   <p>{{viewServiceRequestInfo?.preferred_time}}</p>
   </ion-col>
  </ion-row> -->
  <!-- <ion-row> 
    <ion-col width-100 class="child_menu">
	<span>Remarks</span>
   <p>{{viewServiceRequestInfo?.remarks}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Service Provider Comments</span>
   <p>{{viewServiceRequestInfo?.comments}}</p>
   </ion-col>
  </ion-row> -->
</ion-card>
</ion-content>
