<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	 <ion-title text-center text-capitalize><i class="fa fa-id-card-o"></i> {{viewServiceRequestInfo?.sr_token}}</ion-title>    
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>
<ion-content class="content-intop">
<br/>
<ion-card class="req-viewlist" >
  <ion-row>
  <ion-col width-100 class="child_menu">
  <span>Sponsor Name</span>
   <p>{{viewServiceRequestInfo?.sponsor_name}} {{viewServiceRequestInfo?.sponsor_last_name}}</p>
   </ion-col>
  </ion-row>
   <ion-row>
  <ion-col width-100 class="child_menu">
  <span>Dependent Name</span>
   <p>{{viewServiceRequestInfo?.eo_name}} {{viewServiceRequestInfo?.eo_last_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-100 class="child_menu">
	<span>Service Provider Name</span>
   <p>{{viewServiceRequestInfo?.vendor_name}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.enquiry_about">
  <ion-col width-100 class="child_menu">
  <span>Enquiry about</span>
   <p>{{viewServiceRequestInfo?.enquiry_about}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf = "viewServiceRequestInfo?.contact_number">
   <ion-col width-100 class="child_menu">
	<span>Contact Number</span>
   <p>{{viewServiceRequestInfo?.contact_number}}</p>
   </ion-col>
  </ion-row>
     <ion-row *ngIf = "viewServiceRequestInfo?.scheduled_at && (viewServiceRequestInfo?.status==4 || viewServiceRequestInfo?.status==5 || viewServiceRequestInfo?.status==2)">
   <ion-col width-100 class="child_menu">
  <span>Scheduled date & time</span>
   <p>{{scheduled_at}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf = "viewServiceRequestInfo?.servicer_name && (viewServiceRequestInfo?.status==4 || viewServiceRequestInfo?.status==5 || viewServiceRequestInfo?.status==2)">
   <ion-col width-100 class="child_menu">
  <span>Service allocated to</span>
   <p>{{viewServiceRequestInfo?.servicer_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Category</span>
   <p>{{viewServiceRequestInfo?.category_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Sub Category</span>
   <p>{{viewServiceRequestInfo?.sub_category_name}}</p>
   </ion-col>
  </ion-row>
   <ion-row>
   
    <ion-col width-100 class="child_menu">
	<span>Type Of Request</span>
   <p>{{viewServiceRequestInfo?.service_type}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf ="viewServiceRequestInfo?.package_name != undefined">
   <ion-col width-100 class="child_menu">
  <span>Package Name</span>
   <p>{{viewServiceRequestInfo?.package_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-100 class="child_menu">
	<span>Location</span>
   <p>{{viewServiceRequestInfo?.location_name}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf = "viewServiceRequestInfo?.helpline_mobile">
  <ion-col width-100 class="child_menu" >
  <span>Service provider helpline</span>
   <p>{{viewServiceRequestInfo?.helpline_mobile}}</p>
   </ion-col>
  </ion-row>

 <ion-row>   
    <ion-col width-100 class="child_menu" *ngIf="(viewServiceRequestInfo?.updated_at!='0000-00-00 00:00:00')">
	<span>Service requested Date</span>
   <p>{{updated_at}}</p>
   </ion-col>
  </ion-row>
  <ion-row>   
    <ion-col width-100 class="child_menu">
  <span>Service cost</span>
   <p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.service_cost | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="viewServiceRequestInfo?.payment_status_type =='refunded' && viewServiceRequestInfo?.recurring_paid > 0">   
    <ion-col width-100 class="child_menu">
  <span>Paid Amount</span>
   <p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.recurring_paid | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf="viewServiceRequestInfo?.payment_status_type =='refunded'">   
    <ion-col width-100 class="child_menu">
  <span>Refunded amount</span>
   <p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.refund_amount}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.additional_service_cost != 0 && viewServiceRequestInfo?.template_id  == '3' && viewServiceRequestInfo?.additional_service_cost_status == 'success'">   
    <ion-col width-100 class="child_menu">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.service_cost | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.additional_service_cost != 0 && viewServiceRequestInfo?.template_id  == '3' && viewServiceRequestInfo?.additional_service_cost_status == 0">   
    <ion-col width-100 class="child_menu">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{paidamount1 | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>

    <ion-row *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.payment_status=='payment_success'  && viewServiceRequestInfo?.additional_service_cost > 0 && viewServiceRequestInfo?.additional_service_cost_status == 'success'  && viewServiceRequestInfo?.pay_by_cash == 0 && viewServiceRequestInfo?.template_id != '3'">   
    <ion-col width-100 class="child_menu">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{paidamount2 | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf = "viewServiceRequestInfo?.prev_service_amount_balance > 0">   
    <ion-col  width-100 class="child_menu" *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.payment_status=='payment_success' && viewServiceRequestInfo?.additional_service_cost_status == 0 && viewServiceRequestInfo?.pay_by_cash == 0 && viewServiceRequestInfo?.template_id  != '3' && viewServiceRequestInfo?.paid_amount > 0">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{(viewServiceRequestInfo?.paid_amount) | number: '1.2-2'}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf = "viewServiceRequestInfo?.prev_service_amount_balance == 0">   
    <ion-col width-100 class="child_menu" *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.payment_status=='payment_success' && (viewServiceRequestInfo?.additional_service_cost_status == 'success' || viewServiceRequestInfo?.additional_service_cost_status == 0) && (viewServiceRequestInfo?.additional_service_cost == 0 || viewServiceRequestInfo?.additional_service_cost == 0.00) && viewServiceRequestInfo?.pay_by_cash == 0 && viewServiceRequestInfo?.template_id !=3 && viewServiceRequestInfo?.paid_amount > 0">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{(viewServiceRequestInfo?.paid_amount) |number: '1.2-2'}}</p>
   </ion-col>
  </ion-row>
     <ion-row *ngIf = "viewServiceRequestInfo?.payment_status_type !='refunded' && viewServiceRequestInfo?.payment_status=='payment_success' && viewServiceRequestInfo?.pay_by_cash == 1">   
    <ion-col width-100 class="child_menu">
  <span>Paid Amount</span><p><i class="fa fa-rupee"></i>{{paidamount3 | number: '1.2-2'}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf = "viewServiceRequestInfo?.additional_service_cost != 0 && viewServiceRequestInfo?.template_id  == '3'">   
    <ion-col width-100 class="child_menu">
  <span>Pre-book Cost</span><p><i class="fa fa-rupee"></i>{{prebookcost | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
  
  <ion-row *ngIf = "viewServiceRequestInfo?.additional_service_cost!=0 && viewServiceRequestInfo?.additional_service_cost > 0 && viewServiceRequestInfo?.template_id != 3">   
    <ion-col width-100 class="child_menu">
  <span>Additional service cost</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.additional_service_cost | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
 <ion-row *ngIf = "viewServiceRequestInfo?.trasnportation_from != null">   
    <ion-col width-100 class="child_menu">
  <span>Pickup Location</span><p>{{viewServiceRequestInfo?.trasnportation_from}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf = "viewServiceRequestInfo?.trasnportation_to != null">   
    <ion-col width-100 class="child_menu">
  <span>Drop Location</span><p>{{viewServiceRequestInfo?.trasnportation_to}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.trasnportation_req_type != null">   
    <ion-col width-100 class="child_menu">
  <span>Transportation Request Type</span><p>{{viewServiceRequestInfo?.trasnportation_req_type}}</p>
   </ion-col>
  </ion-row>
  <ion-row *ngIf = "viewServiceRequestInfo?.weelchair_type != null">   
    <ion-col width-100 class="child_menu">
  <span>Wheelchair Type</span><p>{{viewServiceRequestInfo?.weelchair_type}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.package_id == '' || viewServiceRequestInfo?.package_id == null">   
    <ion-col width-100 class="child_menu">
  <span>Payment Status</span><p *ngIf = "viewServiceRequestInfo?.payUmny_payment_status == 'captured'">Paid</p>
  <p *ngIf = "viewServiceRequestInfo?.payUmny_payment_status != 'captured'">Not Paid</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf = "viewServiceRequestInfo?.remarks">
  <ion-col width-100 class="child_menu">
  <span>Remarks</span>
   <p>{{viewServiceRequestInfo?.remarks}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.rating">
  <ion-col width-100 class="child_menu">
  <span>Rating</span>
   <p>{{viewServiceRequestInfo?.rating}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf = "viewServiceRequestInfo?.status ==3 ">   
    <ion-col width-100 class="child_menu">
  <span>Cancelled date</span><p>{{cancelled_date}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf = "viewServiceRequestInfo?.status ==3 && viewServiceRequestInfo?.pending_service_amount != 0">   
    <ion-col width-100 class="child_menu">
  <span>Cancellation fee</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.pending_service_amount | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf="viewServiceRequestInfo?.status ==3 && viewServiceRequestInfo?.ServiceType=='One time' && viewServiceRequestInfo?.payment_status=='payment_success' && viewServiceRequestInfo?.refundamount">   
    <ion-col width-100 class="child_menu" *ngIf="viewServiceRequestInfo?.refundamount!=0">
  <span>Refund Amount</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.refundamount}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="viewServiceRequestInfo?.refundId">   
    <ion-col width-100 class="child_menu">
  <span>Refund Id</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.refundId}}</p>
   </ion-col>
  </ion-row>
 <ion-row *ngIf="viewServiceRequestInfo?.coupon_offer != null && viewServiceRequestInfo?.coupon_offer != 'undefined'  && viewServiceRequestInfo?.coupon_offer != '' && viewServiceRequestInfo?.coupon_offer != '0'">   
  <ion-col width-100 class="child_menu">
  <span>Discount By Coupon Code</span><p><i class="fa fa-rupee"></i>{{viewServiceRequestInfo?.coupon_offer | number : '1.2-2'}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="viewServiceRequestInfo?.comments">   
    <ion-col width-100 class="child_menu">
  <span>Comments</span>
   <p>{{viewServiceRequestInfo?.comments}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="viewServiceRequestInfo?.other_remarks">   
    <ion-col width-100 class="child_menu">
    <span>Comments</span>
    <p>{{viewServiceRequestInfo?.other_remarks}}</p>
    </ion-col>
   </ion-row>

  <div *ngIf="emergencyContact">
   <ion-row *ngIf="emergencyContact.length > 0">
   <ion-col width-100 class="child_menu">
   <span>Emergency Contact Details</span>
   </ion-col>
</ion-row>
<ion-row *ngIf="emergencyContact.length > 0">
      <ion-col width-50 class="child_menu">
  <span>Person</span><p></p>
   </ion-col>
   <ion-col width-50 class="child_menu">
  <span>Number</span><p></p>
   </ion-col>
    </ion-row>
    <ion-row *ngFor = "let contact of emergencyContact"> 
    <ion-col width-50><p>{{contact.Name}}</p>
   </ion-col>
     <ion-col width-50><p>{{contact.Mobile}}</p>
   </ion-col>
  </ion-row>
  </div>
</ion-card>
</ion-content>
