<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
         <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Apply job for dependent</ion-title>
   
  </ion-navbar>
</ion-header>


<ion-content class="content-intop">

<ion-list *ngIf="user_type!='elder'">
  <form [formGroup]="authForm">
  <ion-label class="required">Select dependent</ion-label>
<ion-card>
<ion-item>
<ion-label>Select dependent</ion-label>
    <ion-select [(ngModel)]="dependent" (ionChange)="checkDependent()" class="select-brddd" placeholder="Select dependent" formControlName="elder_dependent" 
    [class.invalid]="!authForm.controls.elder_dependent.valid && (authForm.controls.elder_dependent.dirty)">
      <ion-option *ngFor="let dependent of getDependentList" value={{dependent?.id}}>{{dependent?.name}}</ion-option>    
	  </ion-select>
	      <small *ngIf="!authForm.controls.elder_dependent.valid  && (authForm.controls.elder_dependent.dirty || submitAttempt)">
              <p class="valid err-reds">Please select the dependent.</p>
          </small> 
</ion-item>
</ion-card>
   </form>   
</ion-list>


<!-- <input type="file" name="file" (change)="fileChange($event)" id="file" class="inputfile" /> -->
<!-- <label for="file">Choose a file</label> -->
 
 <ion-card class="sele-file"> 
  
    <ion-label class="required">Attachment</ion-label> 
 <input type="file" (change)="fileChange($event)" class="custom-file-input" placeholder="Upload file"> 
 <p>(example:docx,pdf,odt,txt)</p>
</ion-card> 



<!-- <ion-card> -->
<!-- <ion-row style="margin:px;" class="job-details"> -->
  <!-- <ion-col  width-100> -->
  <!-- <form [formGroup]="authForm"> -->
   <!-- <ion-label class="required">Select dependent</ion-label> -->
  <!-- <ion-item> -->
    <!-- <ion-select [(ngModel)]="dependent" (ionChange)="checkDependent()" class="select-brddd" placeholder="Select dependent" formControlName="elder_dependent"  -->
    <!-- [class.invalid]="!authForm.controls.elder_dependent.valid && (authForm.controls.elder_dependent.dirty)"> -->
      <!-- <ion-option *ngFor="let dependent of getDependentList" value={{dependent?.id}}>{{dependent?.name}}</ion-option>     -->
	  <!-- </ion-select> -->

     <!-- </ion-item> -->
      <!-- <small *ngIf="!authForm.controls.elder_dependent.valid  && (authForm.controls.elder_dependent.dirty || submitAttempt)"> -->
              <!-- <p class="valid err-reds">Please select the dependent.</p> -->
          <!-- </small>  -->
        <!-- <br/> -->
     <!-- </form>    -->
  <!-- </ion-col> -->
  <!-- <ion-col> -->
  
           <!-- <ion-label class="required">Select File</ion-label> -->
         <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file">  -->
  <!-- </ion-col> -->
<!-- </ion-row> -->

<!-- </ion-card> -->
<br/>
<ion-card class="btn-cars">
        
         <button ion-button class="submit-btns" ion-button item-right small (click)="cancelDependent()">Cancel</button>
 <button ion-button class="submit-btns" ion-button item-right small (click)="submitDependent($event)" *ngIf="dependentstatus == 0">Apply</button>
 <button ion-button class="submit-btns" ion-button item-right small *ngIf="dependentstatus == 1">Applied</button>
 </ion-card>
</ion-content>
