<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
         <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Apply job for dependent</ion-title>
     <ion-buttons right>
    <button ion-button (click)="openCamera()">
         <i class="fa fa-paperclip" style="margin-right:5px; font-size:22px;"></i></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding style="background:#fff;">
<form [formGroup]="authForm">
<ion-row style="margin:px;">
  <ion-col *ngIf="user_type!='elder'">
   <ion-label class="required" style=" font-size:17px; padding-left:10px; padding-top:10px; line-height:20px;">Select dependent</ion-label>
<ion-item>
    <ion-label>Dependent</ion-label>
    <ion-select [(ngModel)]="dependent" class="select-brddd" placeholder="Select dependent" formControlName="elder_dependent" [class.invalid]="!authForm.controls.elder_dependent.valid && (authForm.controls.elder_dependent.dirty)">
      <ion-option *ngFor="let dependent of getDependentList" [value]="dependent?.id">{{dependent?.name}}</ion-option>    
	  </ion-select>

     </ion-item>
      <small *ngIf="!authForm.controls.elder_dependent.valid  && (authForm.controls.elder_dependent.dirty || submitAttempt)">
              <p class="valid err-reds">Please select the dependent.</p>
          </small> 
        <br/>
        
  </ion-col>

</ion-row>
<!-- <div>
<ion-row style="margin:px;">
<ion-col>
<ion-label class="required" style=" font-size:17px; padding-left:10px; padding-top:10px; line-height:20px;">Attach Resume</ion-label>
            <ion-item>
              <ion-input type="text" formControlName="file_name" placeholder="Attach Resume" [(ngModel)]="file_name"
                  [class.invalid]="!authForm.controls.file_name.valid && (authForm.controls.file_name.dirty)" >
              </ion-input>
            </ion-item>
              <p>(example:docx,pdf,odt,txt)</p>
              <small  *ngIf="!authForm.controls.file_name.valid  && (authForm.controls.file_name.dirty || submitAttempt)">
                <p class="valid err-reds">Please attach resume.</p>
              </small>
             
        </ion-col>
         </ion-row>
         </div> -->
         <input type="file" (change)="fileChange($event)" placeholder="Upload file" > 
</form>
 <button ion-button class="submit-btns" ion-button item-right small (click)="submitDependent()">Submit</button>
</ion-content>
