<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>{{subcategory.name}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-intop subCategoryServices">
  <ion-card class="pack-listed">
    <ion-item *ngFor="let service of subcategory.services" (click)="itemSelected(service)" [color]="subcategory.color" class="sub-cat-listed">
      <p> {{ service.name }} </p>
      <i class="fa fa-chevron-right left-right-side"></i>
    </ion-item>
  </ion-card>
  <ion-card padding *ngIf="!subcategory.services">
    <ion-card-content>
      {{emptyRecord}}
    </ion-card-content>
  </ion-card>
</ion-content>