page-sub-category-service {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}

.item-md.item-block .item-inner{padding-right:0px;}
.sub-cat-listed.item-md{background:none;}
.sub-cat-listed .item-inner .input-wrapper .label-md		{margin:0px !important; padding-left:12px;    font-family: "Muli",sans-serif; }
.sub-cat-listed .item-inner .input-wrapper .label-md p		{font-size:14px !important; color:hsl(191, 100%, 29%) !important; font-weight:bold; float:left; width:95%;     font-family: "Muli",sans-serif; }
.sub-cat-listed .item-inner .input-wrapper                  { border-bottom:1px solid #ccc;}
.sub-cat-listed .item-inner{border-bottom:1px solid #ccc;}
.sub-cat-listed .item-inner .input-wrapper .label-md i{ font-size:12px;}
.pack-listed{background:rgba(255,255,255, 0.6);}
.content-intop										{background-image: url('../assets/img/donor-dsd.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}

.item-ios.item-block .item-inner{padding-right:0px;}
.sub-cat-listed.item-ios{background:none;}
.sub-cat-listed .item-inner .input-wrapper .label-ios		{margin:0px !important; padding-left:12px;    font-family: "Muli",sans-serif; }
.sub-cat-listed .item-inner .input-wrapper .label-ios p		{font-size:16px !important; color:#333; float:left; width:95%;     font-family: "Muli",sans-serif; }
.sub-cat-listed .item-inner .input-wrapper                  { border-bottom:1px solid #ccc;}
.sub-cat-listed .item-inner{border-bottom:1px solid #ccc;}
.sub-cat-listed .item-inner .input-wrapper .label-ios i{ font-size:12px;}
.pack-listed{background:rgba(255,255,255, 0.6);}
}
