
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Blogs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background:#fff;">
          <ion-list>
            <ion-item>
              <ion-label>select category</ion-label>
                <ion-select [(ngModel)]="searchCategory1" (ionChange)='blog()'>
                  <ion-option  *ngFor="let category of categoryLists" 
                 value={{category.id}}>{{category.name}}
                  </ion-option>
                </ion-select>
            </ion-item>
          </ion-list>
<ion-searchbar [(ngModel)]="searchText" (input)="inputSearch($event)"></ion-searchbar>

<ion-card *ngFor="let blogs of bloglists" (click)="viewBlog(blogs.id)">
<ion-row>
  <ion-col width-20>
	  <ion-avatar item-left>
      <img src="{{imageUrl+blogs?.avatar}}" [hidden]="!blogs?.avatar">
    </ion-avatar>
	</ion-col>
	<ion-col width-80 class="blogs-tittle">
  <ion-item text-wrap>
    <h2 class="pro-info" text-capitalize>{{blogs.title}}</h2>
    <p class="timedate" text-capitalize><i class="fa fa-user" aria-hidden="true"></i> {{blogs.author_name }} | <i class="fa fa-calendar" aria-hidden="true"></i> {{blogs.created_at | date :"MMM dd y"}}
    </p>
  </ion-item>
  </ion-col>
  </ion-row>
 <div>
 

  <ion-card-content>
{{imageUrl.blogs?.featured_image}}
<!--blogs?.description | words : 3 : '...'-->
   <!-- <p [innerHTML]="blogs?.description | words : 60 : '...'"></p>-->
  </ion-card-content>
  <img src="{{imageUrl+blogs?.featured_image}}" [hidden]="!blogs?.featured_image" />
  <span [hidden]="!blogs.category_name"> 
    <label class="labels-bds"> {{blogs.category_name}}</label>
  </span>
  </div>
 
 </ion-card> 
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-item padding *ngIf="bloglists?.length==0">
     <p class="error-clr">{{emptyRecord}}</p>
   </ion-item>
</ion-content>
