page-subcategory-list {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.content-intop										{background-image: url('../assets/img/donor-dsd.png');width:100%;background-repeat: no-repeat; background-size: cover; height:100%;}
.item-md.item-block .item-inner{padding-right:0px;}
.subcategory-list .item-inner .input-wrapper .label-md{ margin:0px;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col img{border:1px solid hsl(210, 55%, 96%);}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col h2{color:#007994 !important;font-family: "Muli",sans-serif;font-size:17px !important;margin: 0; padding-bottom:0px;}
.rating-clr ul.rating li{ float:left; list-style-type: none; margin-right:3px; height:6px;}
.rating-clr ul.rating{   float: left;
    margin-left: -40px;
    margin-top: 1px;
    width: 100%;}
.rating-clr ul.rating li .ion-md-star{ color:#FFB700; font-size:19px;}
.rating-clr ul.rating li .ion-md-star-outline{color:#FFB700;font-size:19px;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col .list-md{ width:100%; float:left; padding-bottom:5px;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col .list-md b{color:red;float:left; padding-right:6px; font-size:15px;font-family: "Muli",sans-serif;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col .list-md span{float:left;color:#666;padding-right:6px;font-family: "Muli",sans-serif; padding-top: 2px;  padding-right:3px; text-decoration: line-through;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col .list-md p{color:#666; padding-right:6px;  float:left;font-family: "Muli",sans-serif; padding-top: 2px;}
.subcategory-list .item-inner .input-wrapper .label-md ion-row ion-col .list-md p.offers{  padding-top: 6px;color:green;font-family: "Muli",sans-serif; font-size:12px;}



.item-ios.item-block .item-inner{padding-right:0px;}
.subcategory-list .item-inner .input-wrapper .label-ios{ margin:0px;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col img{border:1px solid hsl(210, 55%, 96%);}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col h2{color:#007994 !important;font-family: "Muli",sans-serif;font-size:17px !important;margin: 0; padding-bottom:0px;}
.rating-clr ul.rating li{ float:left; list-style-type: none; margin-right:3px; height:6px;}
.rating-clr ul.rating{   float: left;
    margin-left: -40px;
    margin-top: 1px;
    width: 100%;}
.rating-clr ul.rating li .ion-ios-star{ color:#FFB700; font-size:19px;}
.rating-clr ul.rating li .ion-ios-star-outline{color:#FFB700;font-size:19px;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col .list-ios{ width:100%; float:left; padding-bottom:5px;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col .list-ios b{color:red;float:left; padding-right:6px; padding-top:3px; font-size:15px;font-family: "Muli",sans-serif;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col .list-ios span{float:left;color:#666;padding-right:6px;font-family: "Muli",sans-serif; padding-top: 2px;  padding-right:3px; text-decoration: line-through;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col .list-ios p{color:#666; padding-right:6px;  font-family: "Muli",sans-serif; padding-top: 2px;}
.subcategory-list .item-inner .input-wrapper .label-ios ion-row ion-col .list-ios p.offers{  padding-top: 6px;color:green;font-family: "Muli",sans-serif; font-size:12px;}


.off-price{ width:50px; height:50px;   margin-left: 15px; background:red; color:#fff !important; float:left; text-align:center; line-height:50px; border-radius:50%;}
.off-price p{color: hsl(0, 0%, 100%);
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    padding-top: 14px;}
.btn-warnings{background:#025FA9 !important; padding: 5px;   font-size:13px; color:#fff; border-radius:2px;
    font-weight: 400;
    float: left;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;}
.instant-bt{background:#FE5722 !important; padding:5px;font-size:13px;color:#fff;border-radius:2px;font-weight:400;float:left;margin-left:5px;text-transform:capitalize;font-family: 'Muli', sans-serif;}

.hei-head {background:red;}


}
