<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{serviceTitle}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-intop">
  <ion-card *ngFor="let service_list of sublists">
    <ion-item text-wrap class="subcategory-list">
      <ion-row>
        <ion-col col-4 (click)="serviceInfomore(service_list)">
          <ion-thumbnail item-center class="img-center">
            <img [src]="logoUrl+service_list?.logo">
					</ion-thumbnail>
					
          <span class="off-price" *ngIf="service_list.discount_rate != 0 && service_list.template_id != '5'">
            <p>{{service_list.discount_rate}}%
              <br/>Off</p>
          </span>
        </ion-col>

        <ion-col col-8 class="text-alg">
          <h2 (click)="serviceInfo(service_list)">{{service_list.name}}</h2>
          <p>{{service_list.vendor_name}}</p>        

          <b *ngIf="service_list.service_cost != 0">
            <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{(service_list.service_cost - service_list.percentage_cost) | number : '1.2-2'}}
            <span *ngIf="service_list.discount_rate != 0">/&nbsp;
              <i class="fa fa-inr" aria-hidden="true"></i>
              <strong *ngIf="service_cost != service_list.service_cost - service_list.percentage_cost">{{service_list.service_cost | number : '1.2-2'}}
              </strong> {{service_list.service_type}}</span>
            <span *ngIf="service_list.driver_time_slots == '2'">per day</span>
            <span *ngIf="service_list.driver_time_slots == '1'">per hour</span>
          </b>

          <p *ngIf="service_list.lead_time != '00:00' && service_list.lead_time != '01:00' && service_list.template_id == 1" [hidden]="!service_list?.lead_time">Minimum {{service_list.lead_time}} hour(s) to serve you</p>
          <p *ngIf="service_list?.template_id == '2' && service_list?.balanceRecreationService <= 5 && service_list?.balanceRecreationService >= 1">Almost full. Only {{service_list?.balanceRecreationService}} available!!!</p>
          <p *ngIf="service_list?.template_id == '2' && service_list.balanceRecreationService <= 0">Sold out!!!</p>

          <p *ngIf="dependentLen && booking_status == '0' && service_list?.template_id == '7'">
            <span class="text-bolder color-777">Working Days : </span>{{service_list.businessFromDayName}} - {{service_list.businessToDayName}}</p>
          <p *ngIf="booking_status == '0' && service_list.businessHoursOption != '1' && service_list?.template_id == '7'">
            <span class="text-bolder color-777">Working Time :</span> {{service_list.businessFromTime}} - {{service_list.businessToTime}}</p>
          <p *ngIf="booking_status == '0' && service_list.businessHoursOption == '1' && service_list?.template_id == '7'">
            <span class="text-bolder color-777">Working Time :</span> 24 hours</p>
         <!--  <p *ngIf="dependentLen && booking_status == '0' && service_list?.template_id == '7'">
            <span class="text-bolder color-777">Required {{service_list.businessLeadTime.split(':')[0]}} hour(s) &
         {{service_list.businessLeadTime.split(':')[1]}}   minute(s) to  serve you</span></p> -->


        </ion-col>
      </ion-row>
      <ion-col class="btn-padd">
        <button class="btn-warnings" *ngIf="dependentLen && service_list.template_id != '2' && service_list.template_id != '4' && service_list.template_id != '3' && service_list.template_id != '5' && service_list.template_id != '6' && service_list.template_id != '7' && service_list.template_id != '8'"
          (click)="openModal('scheduleModal',service_list)" (press)="pressevent('scheduleModal',service_list)">Avail Services</button>
        <button class="btn-warnings" *ngIf="dependentLen && service_list.template_id == 2 && service_list.package_active_status == '1' && service_list.template_id != '8'"
          (click)="bookNow(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list?.template_id)">Book Now</button>
        <button class="btn-warnings" *ngIf="dependentLen && service_list.template_id == '2' && service_list.package_active_status == '0' && service_list.template_id != '8'">Booking Closed</button>
        <button class="btn-warnings" *ngIf="dependentLen && service_list.template_id == '3' && booking_status == '2' && service_list.template_id != '8'" (click)="preBook(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Pre Book</button>
        <button class="btn-warnings" *ngIf="dependentLen && service_list.template_id == '3' && booking_status == '1' && service_list.template_id != '8'" (click)="preBook(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Book Now</button>
        <button class="btn-warnings" *ngIf="service_list.is_recreation_config == 1 && service_list.booking_status == 0 && service_list.template_id != 2 && service_list.template_id != 7 && service_list.template_id == 6 && service_list.template_id != '8'"
          (click)="transportationdriver(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Book Now</button>
        <button class="btn-warnings" *ngIf="service_list.is_recreation_config == 1 && service_list.booking_status == 0 && service_list.template_id != 2 && service_list.template_id != 7 && service_list.template_id == 5 && service_list.template_id != '8'"
          (click)="transportationcab(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Book Now</button>

        <button class="btn-warnings" *ngIf="dependentLen  && booking_status == '0' &&  service_list.is_recreation_config == '1' && service_list.template_id != '7' && service_list.template_id == '4' && service_list.template_id != '8'"
          (click)="emergencybook(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id)">Book Now</button>
        <button class="btn-warnings" *ngIf="service_list.is_recreation_config == 1 && service_list.booking_status == 0 && service_list.template_id != 2 && service_list.template_id == 7 && service_list.template_id != '8'"
          (click)="homemodify(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Schedule Assessment</button>

          <button class="btn-warnings" *ngIf="service_list.is_recreation_config == 1 && service_list.booking_status == 0 && service_list.template_id != 2 && service_list.template_id != 7 && service_list.template_id == 3 && service_list.template_id != '8'"
           (click)="preBook(service_list.service_cost - service_list.percentage_cost,service_list.service_cost,service_list.id,service_list.template_id)">Book Now</button>
           <button class="btn-warnings" *ngIf="service_list.template_id == '8'"
           (click)="contactNow(service_list.id)">Contact Now</button>

        <button class="instant-bt" *ngIf="dependentLen && service_list.template_id == 1" (click)="instantRequest(service_list)">Instant</button>
        <button class="instant-bt" *ngIf="service_list.template_id != 1" (click)="serviceInfomore(service_list)">More Info</button>
      </ion-col>      
    </ion-item>
  </ion-card>
</ion-content>
