<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Events</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="content-intop NewsListview"> 
  <ion-card *ngFor="let events of eventsLists" class="newscard">
    <div (click)="viewEvents(events?.id)">
      <div class="newsimage">
        <img src="{{imageUrl+events?.featured_image}}" [hidden]="!events?.featured_image">
      </div>
      <ion-item text-wrap class="events-shows">
        <h2 text-capitalize>{{events?.title}}</h2>
        <p>{{events?.post_date}} To {{events?.end_date}}</p>
        <p>{{events?.author_name }}</p>
        <p><b>{{events?.venue}}</b></p>
        <p class="description" [innerHTML]="events?.description | words : 35 : '...'"></p>
      </ion-item>
    </div>
  </ion-card>


  <ion-fab bottom right edge *ngIf="eventsLists.length != 0 && scrollTop" class="scroll">
    <button ion-fab mini (click)="scrollToTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div style="text-align: center;" padding *ngIf="eventsLists.length == 0">
    <p class="error-clr">{{emptyRecord}}</p>
  </div>
  
</ion-content>