page-events {
.toolbar-title-md{ text-align:center !important;}
.toolbar-title-ios{ text-align:center;}
.content-intop										{background:#F5F9FF;}
.events-shows .item-inner .input-wrapper .label-md h2{    color: #007994 !important;
    font-family: "Muli",sans-serif;
    font-size: 17px !important;
    padding-bottom: 8px;
    margin: 0;}
.events-shows .item-inner .input-wrapper .label-md p{    color:#7b8da0 !important;
    font-family: "Muli",sans-serif;
    font-size:13px !important;
    padding-bottom: 8px;
    margin: 0;}
	
	.events-shows .item-inner .input-wrapper .label-ios h2{    color: #007994 !important;
    font-family: "Muli",sans-serif;
    font-size: 17px !important;
    padding-bottom: 8px;
    margin: 0;}
.events-shows .item-inner .input-wrapper .label-ios p{    color:#7b8da0 !important;
    font-family: "Muli",sans-serif;
    font-size:13px !important;
    padding-bottom: 8px;
    margin: 0;}
.events-shows{ padding:8px;}
}
