<!--
  Generated template for the Events page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Events</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-card *ngFor="let events of eventsLists" >
<div (click)="viewEvents(events?.id)">
 <img src="{{imageUrl+events?.featured_image}}" [hidden]="!events?.featured_image">
  <ion-item text-wrap>   
    <h2 class="primary-color feed-post pro-info" >{{events?.title}}</h2>
    <p class="timedate"><i class="fa fa-user" aria-hidden="true"></i> {{events?.author_name }} | <i class="fa fa-calendar" aria-hidden="true"></i> {{events?.post_date | date :"MMM dd y"}}</p>
  </ion-item>
  <!--<ion-card-content>
    <p [innerHTML]="events?.description | words : 60 : '...'"></p>
  </ion-card-content>-->
  </div>
</ion-card>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 <ion-card *ngIf="eventsLists.length<=0">
 <ion-item>
 <p>No Record Found.</p>
 </ion-item>
 </ion-card>
</ion-content>