
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>ApiLog List</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content-intop">
 <ion-card *ngFor="let apilog of apilog_list">
<ion-grid class="package-needs">
   <ion-row>
  <ion-col col-12 text-wrap>
  <b>Name </b><p>{{apilog.api_name}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-12 text-wrap>
  <b>Elder Name </b><p>{{apilog.elder_name}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-12 text-wrap>
  <b>Mobile Number </b><p>{{apilog.mobile_number}}</p>
    </ion-col>
  </ion-row>
   <ion-row>
  <ion-col col-12 text-wrap>
  <b>Initiated Date </b><p>{{apilog.created_date}}</p>
    </ion-col>
  </ion-row>
   <ion-row>
  <ion-col col-12 text-wrap>
  <b>Status </b><p>{{apilog.apiStatus}}</p>
    </ion-col>
  </ion-row>
   <ion-row>
  <ion-col col-12 text-wrap>
  <b>Message </b><p>{{apilog.message}}</p>
    </ion-col>
  </ion-row>
  </ion-grid>
  <ion-item>
   <ion-badge item-end *ngIf = "apilog.api_status == '1'" (click)="close(apilog.call_id,apilog.api_name)">Close</ion-badge>
   </ion-item>
  </ion-card>

</ion-content>
