<!--
  Generated template for the ElderservicePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center text-capitalize>Services For Package</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
      <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-intop">
<ion-card *ngFor="let package of packageData">
<ion-grid class="package-needs">

  <ion-row>
  <ion-col col-12 text-wrap>
    <h2 text-wrap text-capitalize> {{package?.name}}</h2>  
	</ion-col>	
	  </ion-row>
	  
  <ion-row>
  <ion-col col-12 text-wrap>
    <b>Common Rate</b><p>{{package?.common_rate}} </p>
	</ion-col>	
	  </ion-row>
	
	  <ion-row>
  <ion-col col-12 text-wrap>
	
    <b>Total Quantity</b><p>{{package?.quantity}} {{package.common_type}}</p>
	</ion-col>
	</ion-row>
	
		  <ion-row>
  <ion-col col-12 text-wrap>
	
    <b>Used Quantity</b><p>{{package?.available_package_service}} {{package.common_type}}</p>	

	</ion-col>
	</ion-row>
	<ion-row>
    <ion-col col-12 text-wrap>
      <b>Balance Quantity</b><p>{{package?.balance_quantity}} {{package?.common_type}} </p>
    </ion-col>
	</ion-row>
	 <ion-row *ngIf="package?.balance_quantity != 0">
  <ion-col>
    <ion-badge *ngIf="packageStatus == 1" (click)="getServicedetails(package?.id,package?.vendor_id,package?.one_time,package?.recurring,package?.package_amount)" class="act"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Avail</ion-badge> 	
  </ion-col>
</ion-row>

  </ion-grid>
</ion-card>
</ion-content>
