
<ion-header>
  <ion-toolbar class="hei-head" color="primary">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      Avail Services
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-intop">
<!-- <ion-label style="font-size:18px;">Thank You! Please confirm your request...</ion-label> -->
      <ion-card>
        <ion-list *ngIf="serviceType == 'One time'">
          <ion-item text-wrap>
            <p style=" font-size:20px;  padding-top:10px; line-height:20px; text-align: center;">You are availing<br>
              <strong class="service-name">{{serviceTitle}} ({{serviceType}})</strong><br> service from
              <strong class="service-name">{{name}}</strong> On<br>
              <strong class="service-name">{{datetime}} {{preferred_time}}</strong>
            </p>
          </ion-item>
            <ion-item text-wrap *ngIf="serviceType == 'One time' && packageListsvalue == undefined">
          <h5 style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;" 
          *ngIf = "packageListsvalue == undefined">Service Cost :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{servicecost | number : '1.2-2'}}</span>
          </h5>
          <h5 *ngIf = "coupandiscount == '1'" style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;">Coupon discounted amount :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{discounted_cost | number : '1.2-2'}}</span>
          </h5>
          <h5 *ngIf = "coupandiscount == '1'" style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;">Final Payable amount :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{final_service_cost | number : '1.2-2'}}</span>
          </h5>
          </ion-item>
          <div class="ion-searchbar" *ngIf = "packageListsvalue == undefined && servicecost != '0'">
          <ion-row>
            <ion-col col-10>
             <ion-item>
              <ion-input type="text" text-uppercase placeholder="Coupon Code" [(ngModel)] = "coupan_code">
             </ion-input>
             </ion-item>
            </ion-col>
            <ion-col col-2 class="btn-go">
              <button (click) = "applyCoupan(serviceType)" ion-button small class="go-btn">Apply</button>
            </ion-col>
          </ion-row>
          </div>
          <p style=" font-size:18px;  padding-top:10px; line-height:20px; text-align: center;"  *ngIf="serviceType == 'One time' && recurringType == '1'">You also have the option of making this a recurring service request. Do you still wish to avail it as a single service? </p>
          <ion-item class="btn-go" style="text-align: center;">
          <button (click)="edit()"  style="background-color: #4978a9 !important;" ion-button round class="go-btn">Click here to edit</button>
          </ion-item>
        </ion-list>

          <ion-list *ngIf="serviceType != 'One time'">
          <ion-item text-wrap>
            <p style=" font-size:17px;  padding-top:10px; line-height:20px; float:left;">You are availing
              <strong class="service-name">{{serviceTitle}} ({{serviceType}})</strong> service from
              <strong class="service-name">{{name}}</strong> On
              <strong class="service-name">{{fromdate}} to {{todate}}</strong>
              <strong class="service-name" *ngIf="fromtime != '' ">{{fromtime}} to {{totime}}</strong>
              <strong class="service-name" *ngIf="timeslot != '' ">{{timeslot}}</strong>
            </p>
          </ion-item>
           <ion-item text-wrap *ngIf="serviceType != 'One time' && packageListsvalue == undefined">
          <h5 style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;">Service Cost :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{recurring_cost | number : '1.2-2'}}</span>
          </h5>
          <h5 *ngIf = "coupandiscount == '1'" style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;">Coupon discounted amount :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{discounted_cost | number : '1.2-2'}}</span>
          </h5>
          <h5 *ngIf = "coupandiscount == '1'" style=" font-size:17px;  padding-top:10px; line-height:20px; text-align: center;">Final Payable amount :
            <span class="discountCost">
              <i class="fa fa-inr" aria-hidden="true"></i>{{final_service_cost | number : '1.2-2'}}</span>
          </h5>
          </ion-item>
          <div class="ion-searchbar" *ngIf = "packageListsvalue == undefined && recurring_cost != '0'">
          <ion-row>
            <ion-col col-10>
             <ion-item>
              <ion-input type="text" text-uppercase placeholder="Coupon code" [(ngModel)] = "coupan_code">
             </ion-input>
             </ion-item>
            </ion-col>
            <ion-col col-2 class="btn-go">
              <button (click) = "applyCoupan(serviceType)" ion-button small class="go-btn">Apply</button>
            </ion-col>
          </ion-row>
          </div>
        </ion-list>
        </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary"> 
    <ion-buttons *ngIf="packageListsvalue == undefined && final_service_cost != '0' && servicecost != '0' && recurring_cost != '0'">
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="paylater()">
     Pay Cash
    <ion-icon ios="md-send" md="md-send"></ion-icon></button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="paylater()">
    Pay Cash<ion-icon ios="md-send" md="md-send"></ion-icon></button>
    </ion-buttons>
    
    <ion-buttons end *ngIf="packageListsvalue == undefined && final_service_cost != '0' && servicecost != '0' && recurring_cost != '0'">
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submit()">&nbsp;Pay Now
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submit()">&nbsp;Pay Now 
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="packageListsvalue != undefined || final_service_cost == '0' || servicecost == '0' || recurring_cost == '0'">
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submitRequest()">&nbsp;Submit Request
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submitRequest()">&nbsp;Submit Request
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
   <!--  <ion-buttons end *ngIf="packageListsvalue != undefined">
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submitRequest()">&nbsp;Submit Request
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submitRequest()">&nbsp;Submit Request
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>

<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}

 .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{ margin-left:8px !important;}
.text-input-ios{ width:95% !important;}
.mandatory{
  color: #ff0000 !important;
}
</style>