
<ion-header>
  <ion-toolbar class="hei-head" color="primary">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      {{vendor}} - Avail Services
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="popup">
		 <ion-item text-wrap>
        <p>You are availing {{serviceTitle}} (<span>{{serviceType}}</span>) service from <b>{{name}}</b> <br/>at<small> {{datetime}} / {{preferred_time}}</small>
        <small *ngIf="fromdate != '' "> {{fromdate}} to {{todate}}</small><small *ngIf="fromtime != '' ">{{fromtime}} to {{totime}}
        </small> <small>{{timeslot}}</small></p>
     </ion-item>
      <!-- <button ion-button small large (click)="edit()" class="eidit">Click here to edit -->
      <!-- </button> -->
	  </ion-card>
	  <ion-fab bottom right>
  <button ion-fab mini icon-only (click)="edit()" class="edit-bd">Edit</button>
</ion-fab>


</ion-content>





<ion-footer>
  <ion-toolbar color="primary"> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    <ion-buttons>
      <button ion-button color="royal" large icon-left showWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
   <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back</button>
      <button ion-button color="light" large icon-left hideWhen="ios" (click)="dismiss()">
        <!-- <i class="fa fa-reply" aria-hidden="true"></i> -->
     <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>&nbsp;Back</button>
    </ion-buttons>
    
    <ion-buttons end >
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submit()">&nbsp;Next
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submit()">&nbsp;Next
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}

 .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{ margin-left:8px !important;}
.text-input-ios{ width:95% !important;}
.mandatory{
  color: #ff0000 !important;
}
</style>