
<ion-header>
  <ion-toolbar class="hei-head" color="primary">
    <ion-title color="primary" class="tittles-md" text-capitalize>
      {{vendor}} - Avail Services
    </ion-title>
    <ion-buttons start item-right class="close-iconss">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios"></span>
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-intop">
<ion-label>Thank You! Please confirm your request...</ion-label>
<ion-card class="req-viewlist">

     <ion-row>
  
    <ion-col width-100 class="child_menu">
  <span>Service Title</span>
   <p>{{serviceTitle}}</p>
   </ion-col>
  </ion-row>
     <ion-row>
  
    <ion-col width-100 class="child_menu">
  <span>Service Type</span>
   <p>{{serviceType}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-100 class="child_menu">
  <span>Service Provider</span>
   <p>{{name}}</p>
   </ion-col>
  </ion-row>
   <ion-row  *ngIf="datetime != '' && serviceType == 'One time'">
  <ion-col width-100 class="child_menu">
  <span>Preferred date</span>
   <p>{{datetime}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="preferred_time != '' ">
  <ion-col width-100 class="child_menu">
  <span>Preferred time</span>
   <p>{{preferred_time}}</p>
   </ion-col>
  </ion-row>
     <ion-row *ngIf="fromdate != '' && serviceType != 'One time'">
  <ion-col width-100 class="child_menu">
  <span>From date</span>
   <p>{{fromdate}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf="fromdate != '' && serviceType != 'One time'">
  <ion-col width-100 class="child_menu">
  <span>To date</span>
   <p>{{todate}}</p>
   </ion-col>
  </ion-row>
    <ion-row *ngIf="fromtime != '' ">
  <ion-col width-100 class="child_menu">
  <span>From time</span>
   <p>{{fromtime}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="fromtime != '' ">
  <ion-col width-100 class="child_menu">
  <span>To time</span>
   <p>{{totime}}</p>
   </ion-col>
  </ion-row>
   <ion-row *ngIf="timeslot != '' ">
  <ion-col width-100 class="child_menu">
  <span>Timeslot</span>
   <p>{{timeslot}}</p>
   </ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-100 class="child_menu">
  <span>Service Cost</span>
   <p><i class="fa fa-rupee"></i>{{servicecost}}</p>
   </ion-col>
  </ion-row>
  <p *ngIf="serviceType == 'One time'">This is a chronic requirement, do you want to avail it as a recurring service</p>
	  </ion-card>
	  <ion-fab bottom right>
  <button ion-fab mini icon-only (click)="edit()" class="edit-bd">Edit</button>
</ion-fab>


</ion-content>





<ion-footer>
  <ion-toolbar color="primary"> <!-- [color]="isAndroid ? 'royal' : 'light'" class="toolbar-buttons-page" -->
    <ion-buttons>
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="paylater()">
     Pay Later
    <ion-icon ios="md-send" md="md-send"></ion-icon></button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="paylater()">
    Pay Later<ion-icon ios="md-send" md="md-send"></ion-icon></button>
    </ion-buttons>
    
    <ion-buttons end >
      <button ion-button color="royal" large icon-right showWhen="ios" (click)="submit()">&nbsp;Pay Now
       <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
      <button ion-button color="light" large icon-right hideWhen="ios" (click)="submit()">&nbsp;Pay Now
        <ion-icon ios="md-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
.item-md													{background:none !important;}
ion-content{ background:none !important;}
.scroll-content{overflow-y:hidden !important;}

 .gly-rotate-180 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{ margin-left:8px !important;}
.text-input-ios{ width:95% !important;}
.mandatory{
  color: #ff0000 !important;
}
</style>