<!--
  Generated template for the ViewMessages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>View Messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="contect-bg-moblie">
  <!-- <ion-row>
  <ion-col width-20>
    <ion-avatar item-left>
    <img src="{{imageUrl+veiwMessagesInfo?.avatar}}">
    </ion-avatar>
  </ion-col>
  <ion-col width-80>
   <ion-card-content>
   
   <h2>{{veiwMessagesInfo?.sender_name}}</h2>
   <p>{{veiwMessagesInfo?.subject}}</p>
   <p>{{veiwMessagesInfo?.message}}</p>
  <p class="timedate">{{veiwMessagesInfo?.created_at | date :'MMM dd y'}}</p>
    </ion-card-content></ion-col></ion-row> -->
  <ion-card class="inbox-sends">
  <ion-item text-wrap>
    <ion-row>
            <ion-col style="padding: 0px !important; max-width: 15%;" width-20>
            <ion-avatar item-left>
              <img (click)="CommunityUserWall(veiwMessagesInfo?.sender_id)" 
              src="{{imageUrl+veiwMessagesInfo?.avatar}}">
            </ion-avatar>
            </ion-col>
          
            <ion-col width-80  style="padding: 0px !important" class="send-box-content">
			<ion-row>
                <ion-col width-70 style="padding: 0px !important">
				<small *ngIf ="viewType == 'inbox'">{{veiwMessagesInfo?.sender_name}}</small>
				<small *ngIf ="viewType == 'sent'">{{veiwMessagesInfo?.receiver_name}}</small>
                </ion-col>
                <ion-col width-30 style="text-align-last: end; padding: 0px !important">
                <p><i class="fa fa-calendar-o"></i> {{veiwMessagesInfo?.created_at | date :'MM/dd/yy'}}</p>
                </ion-col>
              </ion-row><!--
              <ion-row>
                <ion-col width-70 style="padding: 0px !important">
                <h2 *ngIf ="viewType == 'inbox'"><strong>{{veiwMessagesInfo?.sender_name}}</strong></h2>
				<h2 *ngIf ="viewType == 'sent'"><strong>{{veiwMessagesInfo?.receiver_name}}</strong></h2>
                </ion-col>
              </ion-row>
              <ion-row style="padding-left: 5px !important;">
              <p class="timedate">{{veiwMessagesInfo?.created_at | date :'MMM dd y'}}</p>
   -->
            </ion-col>
          </ion-row>
  </ion-item>
  <hr>
  <ion-card-content item-text-wrap>
    <div style="padding-left: 10px">
     <b>Subject :</b>  <span>{{veiwMessagesInfo?.subject}}</span>
    </div>
    <p style="padding-top: 15px;padding-left: 20px">{{veiwMessagesInfo?.message}}</p>
  </ion-card-content>
  </ion-card>
</ion-content>
