<!--
  Generated template for the PackageRequestPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title text-center>Package Requests</ion-title>
    <ion-buttons right>
    <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content-intop">
  <!-- <ion-fab top right edge>
    <button ion-fab mini (click)="scrollToBottom()"><ion-icon name="arrow-dropdown"></ion-icon></button>
  </ion-fab> -->
 <ion-row>
<ion-col width-80><ion-searchbar [(ngModel)]="searchText"></ion-searchbar></ion-col>
  <ion-col width-20 class="btn-go"><button (click)="inputSearch(searchText)" ion-button small class="go-btn">Go</button> </ion-col>
</ion-row>
<ion-card class="sel-packages">
<ion-item>
  <ion-label>Status</ion-label>
  <ion-select [(ngModel)]="packstatus" (ionChange)="onSelectChange($event)">
  <ion-option value="All">All
     </ion-option>
    <ion-option value="0">Pending</ion-option>
    <ion-option value="1">Active</ion-option>
    <ion-option value="2">Rejected</ion-option>
  </ion-select>
</ion-item>
</ion-card>
<ion-card *ngFor="let package of packageRequest" class="job-detailsview">
<ion-grid class="package-needs">
  <ion-row>
  <ion-col text-wrap col-12>
    <h2 text-wrap text-capitalize>{{package?.package_name}} </h2>

	</ion-col>
	  </ion-row>
	    <ion-row>
		<ion-col col-12>
    <b>Service provider </b>
	<p>{{package?.vendor_name}} </p>
		</ion-col>
		  </ion-row>
		    <ion-row>
			<ion-col col-12>
			<b>Elder Name</b>
			   <p>{{package?.name}} {{package.last_name}} </p>
				</ion-col>
				  </ion-row>
				    <ion-row>
 	<ion-col col-12><b>Requested Date</b><p>{{package?.service_avail_date | date: 'dd/MM/yyyy'}}</p>
  </ion-col>
	  </ion-row>
 <ion-row *ngIf="package?.expired_date != null">
      <ion-col col-12>
      <b>Expiry Date</b>
         <p>{{package?.expired_date | date: 'dd/MM/yyyy'}}</p>
        </ion-col>
          </ion-row>
    
  <ion-row>

    <ion-col>
     	<b>Status</b>
  	    <br/>
  	  <!-- <ion-badge *ngIf="package.req_status == 1" class="act">Active</ion-badge> -->
      <ion-badge *ngIf="package.req_status == 1 && package.expired_status == 'Active'" class="act">Active</ion-badge>
      <ion-badge *ngIf="package.req_status == 1 && package.expired_status == 'Expired'" class="pen">Expired</ion-badge>
      <ion-badge *ngIf="package.req_status == 0" class="pen">Pending</ion-badge>
      <ion-badge *ngIf="package.req_status == 2" class="rej">Rejected</ion-badge>
    </ion-col>
	</ion-row>
		  	<br/>
  <ion-row>

    <ion-col class="view-serv">
	 <ion-badge *ngIf="package?.req_status != 2 && package.expired_status != 'Expired'" (press)="pressservices(package?.id,package?.location_id,package?.elder_id,package.req_status)" 
       (click)="getServicesForByElders(package?.id,package?.location_id,package?.elder_id,package.req_status)" class="services"><i class="fa fa-check-square-o" aria-hidden="true"></i>  Services</ion-badge>
   
   <ion-badge (click)="getPackageRequestBy(package?.req_id)" (press)="pressview(package?.req_id)" class="services-view"><i class="fa fa-eye" aria-hidden="true"></i> View</ion-badge>
    
 	

  </ion-col>

  </ion-row>
</ion-grid>
</ion-card>
<ion-fab bottom right>
    <button ion-fab mini (click)="scrollToTop()"><ion-icon name="arrow-dropup"></ion-icon></button>
  </ion-fab>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
