<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Package Requests</ion-title>
     <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="dashboardPage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content-intop PackageRequest">
<div>
  <div class="ion-searchbar" *ngIf = "packageName">
    <ion-row>
      <ion-col col-10>
        <ion-searchbar [(ngModel)]="searchText" (keyup.enter)="inputSearch(searchText)" placeholder="Service Provider Name"></ion-searchbar>
      </ion-col>
      <ion-col col-2 class="btn-go">
        <button (click)="inputSearch(searchText)" ion-button small class="go-btn">Go</button>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-searchbar" *ngIf = "packageEmail">
    <ion-row>
      <ion-col col-10>
        <ion-searchbar placeholder="Email" [(ngModel)]="searchemail" (keyup.enter)="searchemails(searchemail)">
        </ion-searchbar>
      </ion-col>
      <ion-col col-2 class="btn-go">
        <button (click)="searchemails(searchemail)" ion-button small class="go-btn">Go</button>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-searchbar" *ngIf = "packagetransId">
    <ion-row>
      <ion-col col-10>
        <ion-searchbar placeholder="Package Name" [(ngModel)]="searchid" (keyup.enter)="searchids(searchid)"></ion-searchbar>
      </ion-col>
      <ion-col col-2 class="btn-go">
        <button (click)="searchids(searchid)" ion-button small class="go-btn">Go</button>
      </ion-col>
    </ion-row>
  </div>
</div>
  <ion-card *ngFor="let package of packageRequest" class="job-detailsview">
    <ion-grid class="package-needs">
      <ion-row>
        <ion-col text-wrap col-12>
          <h2 text-wrap text-capitalize>{{package?.package_name}} </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b><ion-icon ios="ios-basket" md="md-basket"></ion-icon> Service provider </b>
          <p>{{package?.vendor_name}} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b><ion-icon ios="ios-person" md="md-person"></ion-icon> Elder Name</b>
          <p>{{package?.name}} {{package.last_name}} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <b><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Requested Date</b>
          <p>{{package.service_avail_date}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="package?.expired_date != null">
        <ion-col col-12>
          <b><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Expiry Date</b>
          <p>{{package?.expired_date}}</p>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col class="statusBar">
          <b class="statusTitle"><ion-icon ios="ios-analytics" md="md-analytics"></ion-icon>Status</b>
          <span class="statusColor">
          <ion-badge *ngIf="package.req_status == 1 || package.req_status == 6" class="active">Active</ion-badge>
          <ion-badge *ngIf="package.req_status == 3" class="expired">Expired</ion-badge>
          <ion-badge *ngIf="package.req_status == 0" class="pending">Pending</ion-badge>
          <ion-badge *ngIf="package.req_status == 2" class="reject">Rejected</ion-badge>
          <ion-badge *ngIf="package.req_status == 4" class="completed">Completed</ion-badge>
          </span>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row>

        <ion-col class="view-serv" text-left col-5>
          <ion-badge *ngIf="package?.req_status != 2 && package.expired_status != 'Expired'" (press)="pressservices(package?.id,package?.location_id,package?.elder_id,package.req_status)"
            (click)="getServicesForByElders(package?.id,package?.location_id,package?.elder_id,package.req_status)" class="services">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> Services</ion-badge>
        </ion-col>
        <ion-col class="view-serv" col-5>
          <ion-badge (click)="getPackageRequestBy(package?.req_id)" (press)="pressview(package?.req_id)" class="services-view">
            <i class="fa fa-eye" aria-hidden="true"></i> View</ion-badge>
        </ion-col>
         <ion-col style="padding-top: 13px;" #downloadBlob (click)="downloadBlobToPDF(package?.req_id,package?.id)" col-2>
            <ion-chip >
                <ion-icon name="cash" class="text-center" color="primary"></ion-icon>
              </ion-chip>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab bottom right *ngIf="scrollTop">
    <button ion-fab mini (click)="scrollToTop()">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>